.elementor-90 .elementor-element.elementor-element-ad6a688 > .elementor-container{max-width:1650px;}.elementor-90 .elementor-element.elementor-element-ad6a688 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-90 .elementor-element.elementor-element-ad6a688:not(.elementor-motion-effects-element-type-background), .elementor-90 .elementor-element.elementor-element-ad6a688 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(90deg, var( --e-global-color-secondary ) 34%, #ffffff 0%);}.elementor-90 .elementor-element.elementor-element-ad6a688{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:185px 0px 150px 0px;}.elementor-90 .elementor-element.elementor-element-ad6a688 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-90 .elementor-element.elementor-element-f7a1361.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-90 .elementor-element.elementor-element-f7a1361.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-90 .elementor-element.elementor-element-f7a1361 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-90 .elementor-element.elementor-element-f7a1361 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-90 .elementor-element.elementor-element-f7a1361 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-f7a1361{position:relative;}.elementor-90 .elementor-element.elementor-element-ae9adbe .aux-media-image{box-shadow:-20px 20px 70px 0px rgba(0,0,0,0.10);background-color:transparent;background-image:linear-gradient(180deg, var( --e-global-color-text ) 0%, var( --e-global-color-secondary ) 100%);}.elementor-90 .elementor-element.elementor-element-ae9adbe{z-index:1;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-90 .elementor-element.elementor-element-ab04fde .aux-widget-image{text-align:left;}.elementor-90 .elementor-element.elementor-element-ab04fde{width:auto;max-width:auto;position:absolute;bottom:-76px;left:-47px;}.elementor-90 .elementor-element.elementor-element-9748f82 .aux-widget-image{text-align:left;}.elementor-90 .elementor-element.elementor-element-9748f82{width:auto;max-width:auto;position:absolute;top:-20px;right:0px;left:-25px;}.elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-primary{font-family:"Playfair Display", Sans-serif;font-size:70px;font-weight:800;line-height:90px;color:#000000;}.elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-secondary{font-family:"Playfair Display", Sans-serif;font-size:70px;font-weight:800;line-height:90px;color:#000000;}.elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-secondary .aux-head-highlight{font-family:"La Belle Aurore", Sans-serif;font-size:90px;font-weight:400;line-height:161px;color:var( --e-global-color-primary );margin:0px 0px -150px 0px;}.elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-divider{height:2px;width:142px;margin:0px 0px 0px 0px;background-color:var( --e-global-color-primary );}.elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-description{color:#000000;font-family:"Poppins", Sans-serif;font-size:16px;font-weight:600;line-height:25px;margin:50px 0px 0px 120px;max-width:404px;}.elementor-90 .elementor-element.elementor-element-7594311 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-7594311{z-index:1;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-90 .elementor-element.elementor-element-cdeed87{width:auto;max-width:auto;position:absolute;right:67px;bottom:-381px;}.elementor-90 .elementor-element.elementor-element-a553b52:not(.elementor-motion-effects-element-type-background), .elementor-90 .elementor-element.elementor-element-a553b52 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-text );}.elementor-90 .elementor-element.elementor-element-a553b52{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:200px 0px 240px 0px;}.elementor-90 .elementor-element.elementor-element-a553b52 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-90 .elementor-element.elementor-element-c324d42 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-90 .elementor-element.elementor-element-c324d42 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-5751b4a .aux-modern-heading-primary{font-family:"Playfair Display", Sans-serif;font-size:64px;font-weight:900;line-height:94px;color:#000000;}.elementor-90 .elementor-element.elementor-element-5751b4a .aux-modern-heading-description{font-family:"Poppins", Sans-serif;font-size:16px;line-height:25px;max-width:344px;}.elementor-90 .elementor-element.elementor-element-5751b4a{width:auto;max-width:auto;z-index:1;position:absolute;top:299px;right:-48px;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-90 .elementor-element.elementor-element-eea7f28{width:auto;max-width:auto;position:absolute;top:-65px;left:-62px;}.elementor-90 .elementor-element.elementor-element-50bbb95 .aux-media-image{box-shadow:-10px 20px 70px 0px rgba(0,0,0,0.10);}.elementor-90 .elementor-element.elementor-element-286028a .aux-modern-heading-description{color:#000000;font-family:"Poppins", Sans-serif;font-size:25px;font-weight:500;line-height:38px;max-width:570px;}.elementor-90 .elementor-element.elementor-element-286028a > .elementor-widget-container{margin:60px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-286028a{animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-90 .elementor-element.elementor-element-137b198 > .elementor-element-populated{text-align:center;margin:95px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-90 .elementor-element.elementor-element-39e540b .aux-modern-heading-primary{font-family:"Playfair Display", Sans-serif;font-size:70px;font-weight:800;line-height:90px;color:#000000;}.elementor-90 .elementor-element.elementor-element-39e540b .aux-modern-heading-secondary{font-family:"Playfair Display", Sans-serif;font-size:70px;font-weight:900;line-height:90px;color:#000000;}.elementor-90 .elementor-element.elementor-element-39e540b .aux-modern-heading-secondary .aux-head-highlight{font-family:"La Belle Aurore", Sans-serif;font-size:90px;font-weight:400;line-height:161px;color:var( --e-global-color-primary );margin:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-39e540b > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-39e540b{z-index:1;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-90 .elementor-element.elementor-element-353bb63 > .elementor-container{min-height:539px;}.elementor-90 .elementor-element.elementor-element-353bb63:not(.elementor-motion-effects-element-type-background), .elementor-90 .elementor-element.elementor-element-353bb63 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-secondary );}.elementor-90 .elementor-element.elementor-element-353bb63{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:34px 0px 80px 0px;}.elementor-90 .elementor-element.elementor-element-353bb63 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-90 .elementor-element.elementor-element-a9cc640 .aux-media-image{box-shadow:-20px -10px 70px 0px rgba(0,0,0,0.10);}.elementor-90 .elementor-element.elementor-element-a9cc640{width:auto;max-width:auto;z-index:1;position:absolute;bottom:-252px;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-90 .elementor-element.elementor-element-eecf89f{width:auto;max-width:auto;position:absolute;top:130px;right:-85px;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-bc-flex-widget .elementor-90 .elementor-element.elementor-element-34e1940.elementor-column .elementor-column-wrap{align-items:center;}.elementor-90 .elementor-element.elementor-element-34e1940.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-90 .elementor-element.elementor-element-34e1940 > .elementor-element-populated{text-align:center;}.elementor-90 .elementor-element.elementor-element-8f22b76{z-index:1;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-90 .elementor-element.elementor-element-25cd053 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-90 .elementor-element.elementor-element-25cd053 .aux-modern-heading-primary{font-family:"Playfair Display", Sans-serif;font-size:60px;font-weight:800;line-height:80px;color:#ffffff;}.elementor-90 .elementor-element.elementor-element-25cd053 .aux-modern-heading-description{color:#000000;font-family:"Poppins", Sans-serif;font-size:15px;font-weight:500;line-height:25px;margin:50px 0px 0px 0px;max-width:650px;}.elementor-90 .elementor-element.elementor-element-25cd053{z-index:2;position:absolute;top:54px;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}@media(max-width:1024px){.elementor-90 .elementor-element.elementor-element-ad6a688{padding:0px 40px 0px 40px;}.elementor-90 .elementor-element.elementor-element-f7a1361 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-90 .elementor-element.elementor-element-f7a1361 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-f7a1361{top:185px;}.elementor-90 .elementor-element.elementor-element-ab04fde{right:-875px;}.elementor-90 .elementor-element.elementor-element-9748f82{bottom:-68px;left:calc( 50% + -34px );}.elementor-90 .elementor-element.elementor-element-c8de559 > .elementor-element-populated{margin:155px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-90 .elementor-element.elementor-element-c8de559 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 60px 0px;}.elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-secondary{max-width:700px;}.elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-divider{width:85px;margin:0px 0px 25px 0px;}.elementor-90 .elementor-element.elementor-element-7594311 > .elementor-widget-container{margin:70px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-5751b4a .aux-modern-heading-primary{font-size:35px;}.elementor-90 .elementor-element.elementor-element-5751b4a .aux-modern-heading-description{font-size:15px;margin:0px 50px 0px 0px;}.elementor-90 .elementor-element.elementor-element-5751b4a{position:absolute;top:145px;left:42px;}.elementor-90 .elementor-element.elementor-element-286028a .aux-modern-heading-description{font-size:15px;line-height:30px;}.elementor-90 .elementor-element.elementor-element-286028a > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-137b198 > .elementor-element-populated{margin:-113px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-90 .elementor-element.elementor-element-137b198 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-39e540b .aux-modern-heading-secondary{font-size:47px;max-width:700px;}.elementor-90 .elementor-element.elementor-element-39e540b .aux-modern-heading-secondary .aux-head-highlight{font-size:80px;}.elementor-90 .elementor-element.elementor-element-39e540b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-a9cc640 .aux-widget-image{text-align:center;}.elementor-90 .elementor-element.elementor-element-a9cc640{position:relative;top:-145px;}.elementor-90 .elementor-element.elementor-element-eecf89f{top:250px;left:134px;}.elementor-90 .elementor-element.elementor-element-34e1940 > .elementor-element-populated{margin:-220px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-90 .elementor-element.elementor-element-34e1940 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 50px 0px;}.elementor-90 .elementor-element.elementor-element-25cd053 .aux-modern-heading-primary{margin:30px 0px 0px 0px;max-width:1600px;}.elementor-90 .elementor-element.elementor-element-25cd053 .aux-modern-heading-description{margin:35px 50px 50px 50px;max-width:1600px;}.elementor-90 .elementor-element.elementor-element-25cd053 > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-90 .elementor-element.elementor-element-ad6a688{margin-top:-50px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-f7a1361 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-90 .elementor-element.elementor-element-f7a1361 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-ae9adbe > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-c8de559{width:100%;}.elementor-90 .elementor-element.elementor-element-c8de559 > .elementor-element-populated{margin:160px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-secondary{font-size:30px;line-height:60px;margin:0px 10px 50px 20px;}.elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-secondary .aux-head-highlight{font-size:52px;line-height:100px;}.elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-divider{margin:0px 0px 70px 18px;}.elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-description{font-size:15px;margin:0px 10px 0px 20px;}.elementor-90 .elementor-element.elementor-element-7594311 > .elementor-widget-container{margin:85px 5px 85px 0px;}.elementor-90 .elementor-element.elementor-element-a553b52{padding:85px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-c324d42{width:100%;}.elementor-90 .elementor-element.elementor-element-c324d42 > .elementor-element-populated{margin:-85px 0px 50px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-90 .elementor-element.elementor-element-5751b4a .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-90 .elementor-element.elementor-element-5751b4a .aux-modern-heading-description{margin:0px 10px 0px 10px;}.elementor-90 .elementor-element.elementor-element-5751b4a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-5751b4a{position:relative;top:0px;left:0px;}.elementor-90 .elementor-element.elementor-element-098a217{width:100%;}.elementor-90 .elementor-element.elementor-element-286028a .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-90 .elementor-element.elementor-element-286028a .aux-modern-heading-description{margin:0px 10px 55px 10px;max-width:1600px;}.elementor-90 .elementor-element.elementor-element-286028a > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-137b198{width:100%;}.elementor-90 .elementor-element.elementor-element-39e540b .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-90 .elementor-element.elementor-element-39e540b .aux-modern-heading-secondary{font-size:40px;line-height:85px;margin:0px 1px 50px 20px;}.elementor-90 .elementor-element.elementor-element-39e540b .aux-modern-heading-secondary .aux-head-highlight{font-size:65px;line-height:25px;}.elementor-90 .elementor-element.elementor-element-39e540b > .elementor-widget-container{margin:85px 35px 85px 35px;padding:0px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-353bb63{margin-top:0px;margin-bottom:0px;padding:50px 0px 0px 0px;}.elementor-90 .elementor-element.elementor-element-a9cc640{top:0px;}.elementor-90 .elementor-element.elementor-element-34e1940 > .elementor-element-populated{margin:-170px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-90 .elementor-element.elementor-element-34e1940 > .elementor-element-populated > .elementor-widget-wrap{padding:100px 0px 50px 0px;}.elementor-90 .elementor-element.elementor-element-25cd053 .aux-modern-heading-primary{font-size:45px;max-width:1600px;}.elementor-90 .elementor-element.elementor-element-25cd053 .aux-modern-heading-description{margin:25px 20px 0px 20px;}.elementor-90 .elementor-element.elementor-element-25cd053 > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(min-width:768px){.elementor-90 .elementor-element.elementor-element-f7a1361{width:50%;}.elementor-90 .elementor-element.elementor-element-c8de559{width:50%;}.elementor-90 .elementor-element.elementor-element-c324d42{width:30%;}.elementor-90 .elementor-element.elementor-element-098a217{width:39.996%;}.elementor-90 .elementor-element.elementor-element-137b198{width:30%;}.elementor-90 .elementor-element.elementor-element-8d4cbcd{width:37.213%;}.elementor-90 .elementor-element.elementor-element-34e1940{width:62.787%;}}@media(max-width:1024px) and (min-width:768px){.elementor-90 .elementor-element.elementor-element-f7a1361{width:100%;}.elementor-90 .elementor-element.elementor-element-c8de559{width:100%;}.elementor-90 .elementor-element.elementor-element-c324d42{width:33%;}.elementor-90 .elementor-element.elementor-element-098a217{width:35%;}.elementor-90 .elementor-element.elementor-element-8d4cbcd{width:100%;}.elementor-90 .elementor-element.elementor-element-34e1940{width:100%;}}/* Start custom CSS for aux_image, class: .elementor-element-ae9adbe */@media screen and (max-width:1025px){
    .elementor-90 .elementor-element.elementor-element-ae9adbe {
           background-image:none!important;
           
           }
}/* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-ab04fde *//*@media screen and (max-width:1024px) {*/
/*    .elementor-90 .elementor-element.elementor-element-ab04fde {*/
/*    transform: rotate(-40deg);*/
    
/*}*/
/*}*//* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-9748f82 */@media screen and (max-width:1024px) {
    .elementor-90 .elementor-element.elementor-element-9748f82 {
    transform: rotate(-40deg);
    
}
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-7594311 */.elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-divider{
    float: left;
    position: absolute;
    bottom: 105px;
    left: -85px;
}
.elementor-90 .elementor-element.elementor-element-7594311 .aux-head-highlight{
transform: rotate(-16deg);
    display: inline-block;
    width: 280px;
    white-space: nowrap;
    position: relative;
    top: 0px;
    right: -10px;
    
}
@media screen and (min-width:1025px) {
     .elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-secondary{
    position: relative;
    right: 90px;
    bottom: 15px;
}
}
@media screen and (max-width:1024px) {
    .elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-divider{
    float: left;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
}

@media screen and (max-width:1582px) and (min-width:1024px){
 .elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-secondary {
     font-size: 60px;
}
}

@media screen and (max-width:1333px) {
 .elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-secondary.aux-head-highlight {
    width: 220px;
    font-size:70px;
}
}
@media screen and (max-width:347px){
    .elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-divider{
    display:none;    }
}
@media screen and (max-width:1024px) {
 .elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-secondary .aux-head-highlight {
     width: 210px;
     font-size:70px;
}
}
@media screen and (max-width:440px) {
 .elementor-90 .elementor-element.elementor-element-7594311 .aux-modern-heading-secondary .aux-head-highlight {
     width: 150px;
     font-size:60px;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-ad6a688 */@media screen and (max-width:1025px){
    .elementor-90 .elementor-element.elementor-element-ad6a688 {
           background-image:none!important;
           
           }
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-5751b4a */@media screen and (max-width:1600px) and (min-width:1245px){
    .elementor-90 .elementor-element.elementor-element-5751b4a .aux-modern-heading-primary{
        font-size:55px;
    }
}
@media screen and (max-width:1385px) and (min-width:1025px){
    .elementor-90 .elementor-element.elementor-element-5751b4a .aux-modern-heading-primary{
               font-size: 48px;
   
    }
    }
@media screen and (max-width:1024px) and (min-width:942px){
    .elementor-90 .elementor-element.elementor-element-5751b4a .aux-modern-heading-primary{
               font-size: 43px;
   
    }
    }
@media screen and (max-width:1385px) and (min-width:1025px){
    .elementor-90 .elementor-element.elementor-element-5751b4a{
               top: 215px;
   
    }
    }/* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-50bbb95 */.elementor-90 .elementor-element.elementor-element-50bbb95 .aux-media-image {
    position: relative;
    
    
    
}

@media screen and (min-width:767px){
    .elementor-90 .elementor-element.elementor-element-50bbb95 .aux-media-image:before {
    content: '';
    width: 1px;
    height: 48%;
    background-color: #f95b5b;
    display: inline-block;
    position: absolute;
    transform: rotate(90deg);
    right: 50px;
    left: 0;
    top: 170px;
    margin: auto;
    
    
    
}
}


@media screen and (max-width:1385px) and (min-width:1024px){
    .elementor-90 .elementor-element.elementor-element-50bbb95 .aux-media-image:before{
         top: 100px;
          height: 48%;
    }
}
@media screen and (max-width:1294px) and (min-width:1134px){
    .elementor-90 .elementor-element.elementor-element-50bbb95 .aux-media-image:before{
          top: 120px;
          height: 38%;
    }
}
@media screen and (max-width:1134px) and (min-width:1024px){
    .elementor-90 .elementor-element.elementor-element-50bbb95 .aux-media-image:before{
            top: 170px;
    height: 38%;  }
}
@media screen and (max-width:1024px){
    .elementor-90 .elementor-element.elementor-element-50bbb95 .aux-media-image:before{
    left: 45px;
    top: 110px;
        height: 38%;
    }
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-39e540b */@media screen and (min-width:768px){
 .elementor-90 .elementor-element.elementor-element-39e540b .aux-head-highlight{
transform: rotate(-16deg);
    display: inline-block;
    width: 380px;
    white-space: nowrap;
    position: relative;
       top: 50px;
    right: 80px;
    
 
}
}
@media screen and (max-width:1024px) and (min-width:769px){
 .elementor-90 .elementor-element.elementor-element-39e540b .aux-head-highlight {
    top: -20px; 
}
}
@media screen and (max-width:1600px) and (min-width:1265px){
    .elementor-90 .elementor-element.elementor-element-39e540b .aux-modern-heading-primary{
        font-size:55px;
    }
}
@media screen and (max-width:1385px) and (min-width:1025px){
    .elementor-90 .elementor-element.elementor-element-39e540b .aux-head-after{
     font-size: 50px;
   
    }
    }

@media screen and (max-width:902px){
    .elementor-90 .elementor-element.elementor-element-39e540b .aux-head-after{
     font-size: 37px;
   
    }
}
@media screen and (min-width:1024px){
 .elementor-90 .elementor-element.elementor-element-39e540b .aux-head-after {
    position: relative;
    right: 145px;
    top: 17px;
  
}
}
@media screen and (max-width:1024px) and (min-width:768px){
 .elementor-90 .elementor-element.elementor-element-39e540b .aux-head-after {
    position: relative;
    right: 80px;
    top: -47px;
  
}
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-137b198 */@media screen and (max-width:1385px) and (min-width:766px){
    .elementor-90 .elementor-element.elementor-element-137b198 .elementor-column-wrap{
            margin-top:0;
   
    }
    }/* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-a9cc640 */@media only screen and (max-width: 1025px){
    .elementor-90 .elementor-element.elementor-element-a9cc640{
        margin:auto;
    }
}/* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-eecf89f */.elementor-90 .elementor-element.elementor-element-eecf89f .aux-featured-image{
    transform: rotate(20deg);
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-34e1940 */.elementor-90 .elementor-element.elementor-element-34e1940 .elementor-widget-wrap{
        display: flex;
    justify-content: center;
    align-items: center;
}/* End custom CSS */