.elementor-48 .elementor-element.elementor-element-f28eebf{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-48 .elementor-element.elementor-element-04832ba > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-48 .elementor-element.elementor-element-7de5aec{text-align:center;}.elementor-48 .elementor-element.elementor-element-7de5aec .elementor-heading-title{font-size:30px;font-weight:600;letter-spacing:-0.5px;}.elementor-48 .elementor-element.elementor-element-7de5aec > .elementor-widget-container{padding:30px 30px 30px 30px;background-color:#f1f1f1;border-radius:0px 0px 0px 0px;}.elementor-48 .elementor-element.elementor-element-ecb82bf > .elementor-container{max-width:1680px;}.elementor-48 .elementor-element.elementor-element-ecb82bf{margin-top:0px;margin-bottom:0px;padding:0px 35px 0px 35px;}.elementor-48 .elementor-element.elementor-element-1b4c8a0 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 40px 0px 40px;}.elementor-48 .elementor-element.elementor-element-c85eca6 .post:hover .aux-media-image{box-shadow:0px 15px 40px 0px rgba(0,0,0,0.15);}.elementor-48 .elementor-element.elementor-element-c85eca6 .entry-title a{font-size:25px;font-weight:600;line-height:38px;}.elementor-48 .elementor-element.elementor-element-c85eca6 .entry-title{margin-bottom:0px;}.elementor-48 .elementor-element.elementor-element-c85eca6 .entry-info a, .elementor-48 .elementor-element.elementor-element-c85eca6 .entry-info{color:rgba(0,0,0,0.6);}.elementor-48 .elementor-element.elementor-element-c85eca6 .entry-info, .elementor-48 .elementor-element.elementor-element-c85eca6 .entry-info a{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;text-transform:uppercase;line-height:21px;letter-spacing:1.5px;}.elementor-48 .elementor-element.elementor-element-c85eca6 .entry-info{margin-bottom:25px;}.elementor-48 .elementor-element.elementor-element-c85eca6 .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-48 .elementor-element.elementor-element-c85eca6 .entry-info .entry-tax a:after{margin-right:0px;margin-left:0px;}.elementor-48 .elementor-element.elementor-element-c85eca6 .entry-content{color:rgba(0,0,0,0.8);font-size:16px;font-weight:400;line-height:25px;}.elementor-48 .elementor-element.elementor-element-c85eca6{text-align:left;}.elementor-48 .elementor-element.elementor-element-c85eca6 .entry-meta .aux-read-more{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:500;text-transform:uppercase;letter-spacing:1.8px;}.elementor-48 .elementor-element.elementor-element-c85eca6 > .elementor-widget-container{margin:45px 0px 0px 0px;}.elementor-48 .elementor-element.elementor-element-ce5e1bc > .elementor-element-populated > .elementor-widget-wrap{padding:0px 40px 0px 40px;}.elementor-48 .elementor-element.elementor-element-39ce14d.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-48 .elementor-element.elementor-element-cde512a .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-48 .elementor-element.elementor-element-cde512a .aux-modern-heading-primary{font-size:15px;font-weight:400;line-height:21px;letter-spacing:1.88px;margin:0px 0px 0px 0px;}.elementor-48 .elementor-element.elementor-element-cde512a > .elementor-widget-container{margin:35px 0px 7px 0px;}.elementor-48 .elementor-element.elementor-element-a036b8a > .elementor-widget-container{margin:0px 15px 0px 0px;}.elementor-48 .elementor-element.elementor-element-a036b8a{width:auto;max-width:auto;}.elementor-48 .elementor-element.elementor-element-01294ed > .elementor-widget-container{margin:0px 15px 0px 0px;}.elementor-48 .elementor-element.elementor-element-01294ed{width:auto;max-width:auto;}.elementor-48 .elementor-element.elementor-element-8f89a65 > .elementor-widget-container{margin:0px 15px 0px 0px;}.elementor-48 .elementor-element.elementor-element-8f89a65{width:auto;max-width:auto;}.elementor-48 .elementor-element.elementor-element-a45c745 > .elementor-widget-container{margin:0px 15px 0px 0px;}.elementor-48 .elementor-element.elementor-element-a45c745{width:auto;max-width:auto;}.elementor-48 .elementor-element.elementor-element-6fc4608{width:auto;max-width:auto;}.elementor-48 .elementor-element.elementor-element-74b4837{margin-top:60px;margin-bottom:0px;}.elementor-48 .elementor-element.elementor-element-fab53fc.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-48 .elementor-element.elementor-element-31d1df7 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-48 .elementor-element.elementor-element-31d1df7 .aux-modern-heading-primary{font-size:15px;font-weight:400;line-height:21px;letter-spacing:1.88px;margin:0px 0px 0px 0px;}.elementor-48 .elementor-element.elementor-element-31d1df7 > .elementor-widget-container{margin:0px 0px 7px 0px;}.elementor-48 .elementor-element.elementor-element-48774b0 > .elementor-widget-container{margin:21px 0px 0px 0px;}.elementor-48 .elementor-element.elementor-element-f064851{margin-top:60px;margin-bottom:0px;}.elementor-48 .elementor-element.elementor-element-4823059.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-48 .elementor-element.elementor-element-4823059:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-48 .elementor-element.elementor-element-4823059 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#f1f1f1;}.elementor-48 .elementor-element.elementor-element-4823059 > .elementor-element-populated, .elementor-48 .elementor-element.elementor-element-4823059 > .elementor-element-populated > .elementor-background-overlay, .elementor-48 .elementor-element.elementor-element-4823059 > .elementor-background-slideshow{border-radius:15px 15px 15px 15px;}.elementor-48 .elementor-element.elementor-element-4823059 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-48 .elementor-element.elementor-element-4823059 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-48 .elementor-element.elementor-element-4823059 > .elementor-element-populated > .elementor-widget-wrap{padding:38px 35px 40px 35px;}.elementor-48 .elementor-element.elementor-element-7639439 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-48 .elementor-element.elementor-element-7639439 .aux-modern-heading-primary{font-size:20px;font-weight:bold;line-height:27px;margin:0px 0px 13px 0px;}.elementor-48 .elementor-element.elementor-element-7639439 .aux-modern-heading-description{color:#808080;font-size:15px;font-weight:400;line-height:23px;margin:0px 0px 0px 0px;}.elementor-48 .elementor-element.elementor-element-56e426f .mc4wp-form input[type="text"],.elementor-48 .elementor-element.elementor-element-56e426f .mc4wp-form input[type="email"]{border-style:solid;border-width:1px 1px 1px 1px;border-color:#CFCFCF;border-radius:25px 25px 25px 25px;padding:15px 10px 14px 26px;transition:all ease-out 0.3s;}.elementor-48 .elementor-element.elementor-element-56e426f .mc4wp-form input[type="text"]::placeholder,.elementor-48 .elementor-element.elementor-element-56e426f .mc4wp-form input[type="email"]::placeholder{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;font-style:normal;color:#B8B8B8;}.elementor-48 .elementor-element.elementor-element-56e426f .mc4wp-form input[type="submit"]{font-family:"Poppins", Sans-serif;font-size:18px;font-weight:400;letter-spacing:1.8px;border-radius:25px 25px 25px 25px;transition:all ease-out 0.3s;}@media(max-width:1024px){.elementor-48 .elementor-element.elementor-element-56e426f .mc4wp-form input[type="submit"]{font-size:16px;}}@media(min-width:768px){.elementor-48 .elementor-element.elementor-element-1b4c8a0{width:73.2%;}.elementor-48 .elementor-element.elementor-element-ce5e1bc{width:26.8%;}}@media(max-width:1024px) and (min-width:768px){.elementor-48 .elementor-element.elementor-element-1b4c8a0{width:100%;}.elementor-48 .elementor-element.elementor-element-ce5e1bc{width:100%;}}/* Start custom CSS for aux_recent_posts, class: .elementor-element-c85eca6 */.elementor-48 .elementor-element.elementor-element-c85eca6 .entry-info {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .entry-info span:before,
.elementor-48 .elementor-element.elementor-element-c85eca6 .entry-info i,
.elementor-48 .elementor-element.elementor-element-c85eca6 .post-edit-link {
    display: none !important;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .entry-tax:after {
    content: '';
    display: inline-block;
    width: 26px;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    margin: -2px 18px 0 8px;
    line-height: 21px;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .entry-tax a {
    color: rgba(230, 63, 150, 1) !important;
    font-weight: 500 !important;
    letter-spacing: 1.8px !important;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .entry-media {
    margin-bottom: 50px;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 header {
    margin-bottom: 25px;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .entry-content {
    max-width: 850px;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .aux-read-more::after {
    display: none;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .aux-media-frame {
    border-radius: 15px;
    transition: all 300ms ease-out;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .aux-col:hover .aux-read-more {
    color: rgba(230, 63, 150, 1) !important;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .aux-col {
    margin-bottom: 65px !important;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .aux-load-more svg {
    display: none;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .aux-ajax-controller {
    text-align: center;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .aux-load-more {
    width: auto;
    height: auto;
    border-radius: 0;
    display: inline-block;
    margin-bottom: 0;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .aux-load-more .aux-label-text,
.elementor-48 .elementor-element.elementor-element-c85eca6 .aux-load-more .aux-loading-label {
    background: rgba(230, 63, 150, 1);
    position: static;
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1.8px;
    padding: 15px 66px;
    border-radius: 25px;
    display: inline-block;
    width: auto;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .aux-ajax-view {
    margin-bottom: 20px;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .aux-load-more.aux-active-loading .aux-label-text {
    display: none;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .aux-load-more .aux-loading-label {
    display: none;
}

.elementor-48 .elementor-element.elementor-element-c85eca6 .aux-load-more.aux-active-loading .aux-loading-label {
    display: inline-block
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-cde512a */.elementor-48 .elementor-element.elementor-element-cde512a .aux-modern-heading-primary {
    position: relative;
    display: inline-block
}

.elementor-48 .elementor-element.elementor-element-cde512a .aux-modern-heading-primary:after,
.elementor-48 .elementor-element.elementor-element-cde512a .aux-modern-heading-primary:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 26px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 50%;
    transform: translateY(-50%);
}

.elementor-48 .elementor-element.elementor-element-cde512a .aux-modern-heading-primary:after {
    right: -38px;
}
.elementor-48 .elementor-element.elementor-element-cde512a .aux-modern-heading-primary:before {
    left: -38px;
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-31d1df7 */.elementor-48 .elementor-element.elementor-element-31d1df7 .aux-modern-heading-primary {
    position: relative;
    display: inline-block
}

.elementor-48 .elementor-element.elementor-element-31d1df7 .aux-modern-heading-primary:after,
.elementor-48 .elementor-element.elementor-element-31d1df7 .aux-modern-heading-primary:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 26px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 50%;
    transform: translateY(-50%);
}

.elementor-48 .elementor-element.elementor-element-31d1df7 .aux-modern-heading-primary:after {
    right: -38px;
}
.elementor-48 .elementor-element.elementor-element-31d1df7 .aux-modern-heading-primary:before {
    left: -38px;
}/* End custom CSS */
/* Start custom CSS for wp-widget-aux_popular_posts_widget, class: .elementor-element-48774b0 */.elementor-48 .elementor-element.elementor-element-48774b0 .entry-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

.elementor-48 .elementor-element.elementor-element-48774b0 .entry-header {
    margin-bottom: 10px;
}
.elementor-48 .elementor-element.elementor-element-48774b0 .entry-content time {
   color: rgba(0, 0, 0, 0.6);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    font-style: normal;
    letter-spacing: 1.68px;
    text-transform: uppercase;
}
.elementor-48 .elementor-element.elementor-element-48774b0 .entry-content:before {
   display: none !important;
}

.elementor-48 .elementor-element.elementor-element-48774b0 .entry-media {
    float: none;
    margin-bottom: 0;
    margin-right: 23px;
}

.elementor-48 .elementor-element.elementor-element-48774b0 .media-land {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.elementor-48 .elementor-element.elementor-element-48774b0 .entry-header {
    margin-bottom: 10px;
}

.elementor-48 .elementor-element.elementor-element-48774b0 .entry-media img {
    border-radius: 5px;
}

.elementor-48 .elementor-element.elementor-element-48774b0 .entry-content {
    margin-bottom: 0;
}

.elementor-48 .elementor-element.elementor-element-48774b0 .entry-info {
    margin-bottom: 0;
    text-align: left;
}

.elementor-48 .elementor-element.elementor-element-48774b0 .entry-title:hover a {
    color: #E63F96;
}/* End custom CSS */
/* Start custom CSS for aux_mailchimp, class: .elementor-element-56e426f */.elementor-48 .elementor-element.elementor-element-56e426f input[type="email"]{
    margin-bottom: 15px;
}
@media only screen and (max-width: 1024px ){
    .elementor-48 .elementor-element.elementor-element-56e426f .aux-vivid-subscribe {
        text-align: center;
    }
    
    .elementor-48 .elementor-element.elementor-element-56e426f input[type="submit"] {
        margin: 0 auto;
    }
}/* End custom CSS */