.elementor-108 .elementor-element.elementor-element-4325b808 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-108 .elementor-element.elementor-element-74cee923 .aux-modern-heading-primary{font-family:"Domine", Sans-serif;font-size:40px;font-weight:bold;line-height:51px;color:var( --e-global-color-202ec3a7 );margin:0px 0px 12px 0px;}.elementor-108 .elementor-element.elementor-element-74cee923 .aux-modern-heading-secondary{font-family:"Raleway", Sans-serif;font-size:20px;font-weight:400;line-height:24px;letter-spacing:6.7px;color:var( --e-global-color-6888fa49 );margin:0px 0px 36px 0px;}.elementor-108 .elementor-element.elementor-element-74cee923 .aux-modern-heading-divider{height:2px;width:80px;background-color:var( --e-global-color-6888fa49 );}.elementor-108 .elementor-element.elementor-element-74cee923 .aux-modern-heading-description{color:878787;font-family:"Raleway", Sans-serif;font-size:16px;font-weight:300;line-height:26px;margin:33px 0px 0px 0px;}.elementor-108 .elementor-element.elementor-element-74cee923 .aux-widget-modern-heading .aux-widget-inner{width:100%;}.elementor-108 .elementor-element.elementor-element-74cee923 > .elementor-widget-container{padding:0px 30px 0px 0px;}.elementor-108 .elementor-element.elementor-element-74cee923{animation-delay:150ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-108 .elementor-element.elementor-element-d0771e7 .elementor-repeater-item-81713ad .aux-icon-list-icon{color:var( --e-global-color-6888fa49 );margin:4px 10px 0px 0px;}.elementor-108 .elementor-element.elementor-element-d0771e7 .elementor-repeater-item-81713ad .aux-icon-list-text{color:878787;font-family:"Raleway", Sans-serif;font-size:16px;font-weight:400;line-height:26px;}.elementor-108 .elementor-element.elementor-element-d0771e7 .elementor-repeater-item-5c8858f .aux-icon-list-icon{color:var( --e-global-color-6888fa49 );margin:4px 10px 0px 0px;}.elementor-108 .elementor-element.elementor-element-d0771e7 .elementor-repeater-item-5c8858f .aux-icon-list-text{color:878787;font-family:"Raleway", Sans-serif;font-size:16px;font-weight:400;line-height:26px;}.elementor-108 .elementor-element.elementor-element-d0771e7 .elementor-repeater-item-b2db6cb .aux-icon-list-icon{color:var( --e-global-color-6888fa49 );margin:4px 10px 0px 0px;}.elementor-108 .elementor-element.elementor-element-d0771e7 .elementor-repeater-item-b2db6cb .aux-icon-list-text{color:878787;font-family:"Raleway", Sans-serif;font-size:16px;font-weight:400;line-height:26px;}.elementor-108 .elementor-element.elementor-element-d0771e7 .aux-icon-list-item{min-width:100%;}.elementor-108 .elementor-element.elementor-element-d0771e7 .aux-icon-list-item, .elementor-108 .elementor-element.elementor-element-d0771e7 .aux-icon-list-items{justify-content:center;text-align:center;}.elementor-108 .elementor-element.elementor-element-d0771e7 .aux-icon-list-icon{color:#24af29;}.elementor-108 .elementor-element.elementor-element-d0771e7 > .elementor-widget-container{margin:40px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-108 .elementor-element.elementor-element-d0771e7{animation-delay:250ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-108 .elementor-element.elementor-element-6d859b8a{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-108 .elementor-element.elementor-element-7e3ac6e9{margin-top:215px;margin-bottom:0px;}.elementor-108 .elementor-element.elementor-element-201d4602 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-108 .elementor-element.elementor-element-201d4602 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-108 .elementor-element.elementor-element-21a2886a{animation-timing-function:cubic-bezier(0.895,0.03,0.685,0.22);}.elementor-108 .elementor-element.elementor-element-7a5d3ab6{padding:170px 0px 0px 0px;}.elementor-108 .elementor-element.elementor-element-e67f50f .aux-modern-heading-primary{font-family:"Domine", Sans-serif;font-size:40px;font-weight:bold;line-height:51px;color:var( --e-global-color-202ec3a7 );margin:0px 0px 11px 0px;}.elementor-108 .elementor-element.elementor-element-e67f50f .aux-modern-heading-secondary{font-family:"Raleway", Sans-serif;font-size:20px;font-weight:400;line-height:24px;letter-spacing:6.9px;color:var( --e-global-color-6888fa49 );margin:0px 0px 36px 0px;}.elementor-108 .elementor-element.elementor-element-e67f50f .aux-modern-heading-divider{height:2px;width:90px;background-color:var( --e-global-color-6888fa49 );}.elementor-108 .elementor-element.elementor-element-e67f50f .aux-modern-heading-description{font-family:"Raleway", Sans-serif;font-size:16px;font-weight:300;line-height:26px;margin:33px 0px 0px 0px;}.elementor-108 .elementor-element.elementor-element-e67f50f{animation-delay:100ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-108 .elementor-element.elementor-element-7562e148 input:not([type="submit"]){transition:all ease-out 0.3s;}.elementor-108 .elementor-element.elementor-element-7562e148 input[type="text"]{transition:all ease-out 0.3s;}.elementor-108 .elementor-element.elementor-element-7562e148 input[type="email"]{transition:all ease-out 0.3s;}.elementor-108 .elementor-element.elementor-element-7562e148 select{transition:all ease-out 0.3s;}.elementor-108 .elementor-element.elementor-element-7562e148 textarea{transition:all ease-out 0.3s;}.elementor-108 .elementor-element.elementor-element-7562e148 input[type="submit"]{transition:all ease-out 0.3s;}.elementor-108 .elementor-element.elementor-element-7562e148 > .elementor-widget-container{margin:45px 0px 0px 0px;}.elementor-108 .elementor-element.elementor-element-7562e148{animation-delay:200ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-108 .elementor-element.elementor-element-2c2b37a0 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 93px;}.elementor-108 .elementor-element.elementor-element-2c2b37a0{animation-delay:350ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-108 .elementor-element.elementor-element-725a3b59 .elementor-repeater-item-f892e32 .aux-icon-list-text2{margin:0px 0px 0px 80px;}.elementor-108 .elementor-element.elementor-element-725a3b59 .elementor-repeater-item-0c7abf8 .aux-icon-list-text2{margin:0px 0px 0px 38px;}.elementor-108 .elementor-element.elementor-element-725a3b59 .elementor-repeater-item-eecc236 .aux-icon-list-text2{margin:0px 0px 0px 38px;}.elementor-108 .elementor-element.elementor-element-725a3b59 .aux-icon-list-item{min-width:100%;}.elementor-108 .elementor-element.elementor-element-725a3b59 .aux-icon-list-item, .elementor-108 .elementor-element.elementor-element-725a3b59 .aux-icon-list-items{justify-content:left;}.elementor-108 .elementor-element.elementor-element-725a3b59 .aux-icon-list-item:not(:last-child){padding-bottom:15px;}.elementor-108 .elementor-element.elementor-element-725a3b59 .aux-icon-list-item:not(:first-child){margin-top:15px;}.elementor-108 .elementor-element.elementor-element-725a3b59 .aux-icon-list-text{color:var( --e-global-color-202ec3a7 );font-family:"Raleway", Sans-serif;font-size:19px;font-weight:500;line-height:26px;}.elementor-108 .elementor-element.elementor-element-725a3b59 .aux-icon-list-text2{color:var( --e-global-color-202ec3a7 );font-family:"Raleway", Sans-serif;font-size:19px;font-weight:500;line-height:26px;}.elementor-108 .elementor-element.elementor-element-725a3b59 .aux-icon-list-icon{color:var( --e-global-color-6888fa49 );font-size:27px;margin:0px 28px 0px 0px;}.elementor-108 .elementor-element.elementor-element-725a3b59 > .elementor-widget-container{padding:83px 64px 98px 72px;background-color:#ffffff;box-shadow:0px 3px 35px 0px rgba(0,0,0,0.16);}@media(max-width:1024px){.elementor-108 .elementor-element.elementor-element-6d859b8a > .elementor-widget-container{margin:50px 0px 0px 0px;}.elementor-108 .elementor-element.elementor-element-2c2b37a0 > .elementor-element-populated{margin:35px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-108 .elementor-element.elementor-element-2c2b37a0 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}}@media(max-width:1024px) and (min-width:768px){.elementor-108 .elementor-element.elementor-element-7acab1e2{width:100%;}.elementor-108 .elementor-element.elementor-element-1dbd2f5a{width:100%;}.elementor-108 .elementor-element.elementor-element-5f805f61{width:100%;}.elementor-108 .elementor-element.elementor-element-2c2b37a0{width:100%;}}@media(max-width:767px){.elementor-108 .elementor-element.elementor-element-7acab1e2{width:100%;}.elementor-108 .elementor-element.elementor-element-74cee923 .aux-widget-modern-heading .aux-widget-inner{width:100%;}.elementor-108 .elementor-element.elementor-element-74cee923 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-108 .elementor-element.elementor-element-d0771e7 .aux-icon-list-item{min-width:100%;}.elementor-108 .elementor-element.elementor-element-d0771e7 .aux-icon-list-item, .elementor-108 .elementor-element.elementor-element-d0771e7 .aux-icon-list-items{justify-content:left;}}/* Start custom CSS for aux_icon_list, class: .elementor-element-d0771e7 */@media only screen and (max-width: 767px){
    .elementor-108 .elementor-element.elementor-element-d0771e7 .aux-icon-list-icon {
        flex-basis:30px;
    }
    
    .elementor-108 .elementor-element.elementor-element-d0771e7 .aux-icon-list-text {
        flex-basis: calc(100% - 50px);
    }
}/* End custom CSS */
/* Start custom CSS for aux_contact_form, class: .elementor-element-7562e148 */.aux-shop2-home-contact-form .aux-shop2-form-inputs {
     display: flex;
 }
 .aux-shop2-home-contact-form .aux-shop2-form-inputs .wpcf7-form-control-wrap.your-email {
    padding: 0 27px;
 }
  .aux-shop2-home-contact-form .aux-shop2-form-inputs input {
    color: #7a7a7a;
    font-family: "Raleway";
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    padding: 16px 19px;
    height: 55px;
    border: 1px solid rgba(122,122,122,0.85);
  }
 
   .aux-shop2-home-contact-form .aux-shop2-form-inputs input:focus {
       border:1px solid var(--e-global-color-6888fa49);
   }
.aux-shop2-home-contact-form .aux-shop2-form-inputs input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7a7a7a;
  font-style: normal;
}
.aux-shop2-home-contact-form .aux-shop2-form-inputs input::-moz-placeholder { /* Firefox 19+ */
  color: #7a7a7a;
    font-style: normal;

}
.aux-shop2-home-contact-form .aux-shop2-form-inputs input:-ms-input-placeholder { /* IE 10+ */
  color: #7a7a7a;
    font-style: normal;

}
.aux-shop2-home-contact-form .aux-shop2-form-inputs input:-moz-placeholder { /* Firefox 18- */
  color: #7a7a7a;
    font-style: normal;

}
.aux-shop2-home-contact-form .aux-shop2-form-textarea {
    margin-top: 5px;
}
.aux-shop2-home-contact-form .aux-shop2-form-textarea  textarea{
    color: #7a7a7a;
    font-family: "Raleway";
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    padding: 16px 19px;
    height: 136px;
    border: 1px solid rgba(122,122,122,0.85);
    min-height: auto;
}
.aux-shop2-home-contact-form .aux-shop2-form-textarea  textarea:focus {
          border:1px solid var(--e-global-color-6888fa49); 
}
.aux-shop2-home-contact-form .aux-shop2-form-textarea  textarea::-moz-placeholder { 
    color: #7a7a7a;
    font-style: normal;

}

.aux-shop2-home-contact-form .aux-shop2-form-textarea  textarea::-webkit-input-placeholder {  
  color: #7a7a7a;
  font-style: normal;
}

.aux-shop2-home-contact-form .aux-shop2-form-textarea  textarea:-ms-input-placeholder {  
  color: #7a7a7a;
    font-style: normal;

}
.aux-shop2-home-contact-form .aux-shop2-form-textarea  textarea:-moz-placeholder {  
  color: #7a7a7a;
    font-style: normal;

}
.aux-shop2-home-contact-form .aux-shop2-form-submit {
    margin-top: 67px;
}
.aux-shop2-home-contact-form .aux-shop2-form-submit input {
    float: right;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 15px;
    background-color: var(--e-global-color-6888fa49);
    padding: 17px 40px;
}

.aux-shop2-home-contact-form .aux-shop2-form-submit input:hover {
    background: #FFF;
    color: var(--e-global-color-6888fa49);
    border: 1px solid var(--e-global-color-6888fa49);
}

@media screen and (max-width: 767px ) {
    .aux-shop2-home-contact-form .aux-shop2-form-inputs {
        display: block;
    }
    
    .aux-shop2-home-contact-form .aux-shop2-form-inputs br {
        display: none;
    }
}/* End custom CSS */
/* Start custom CSS for aux_icon_list, class: .elementor-element-725a3b59 */.elementor-108 .elementor-element.elementor-element-725a3b59 .aux-icon-list-icon:before {
    vertical-align: middle
}

.elementor-108 .elementor-element.elementor-element-725a3b59 .aux-icon-list-icon {
    line-height: 70px;
    border: 1px solid rgba(112,122,122,0.2);
    border-radius: 50%;
    text-align: center;
    padding: 0 21px;
}
.elementor-108 .elementor-element.elementor-element-725a3b59 .highlight {
    color: var(--e-global-color-6888fa49);
    font-weight: 500;
}

@media screen and (max-width: 767px ) {
    .elementor-108 .elementor-element.elementor-element-725a3b59 .aux-icon-list-item  {
        flex-wrap: wrap;
        justify-content: center;
    }
    .elementor-108 .elementor-element.elementor-element-725a3b59 .aux-icon-list-icon  {
        margin: 0;
    }
    
    .elementor-108 .elementor-element.elementor-element-725a3b59 .aux-icon-list-text {
        flex: 0 0 100%;
        text-align: center;
        margin-top: 25px;
    }
    
    .elementor-108 .elementor-element.elementor-element-725a3b59 .aux-icon-list-text2 {
        flex: 0 0 100%;
        margin-left: 0 !important;
        margin-top: 15px;
        display: block;
        text-align: center;
    }
}/* End custom CSS */