.elementor-95 .elementor-element.elementor-element-de501c4 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-95 .elementor-element.elementor-element-de501c4{padding:80px 35px 80px 35px;}.elementor-bc-flex-widget .elementor-95 .elementor-element.elementor-element-27f38ef.elementor-column .elementor-column-wrap{align-items:center;}.elementor-95 .elementor-element.elementor-element-27f38ef.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-95 .elementor-element.elementor-element-27f38ef.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-b79d569{width:auto;max-width:auto;align-self:center;animation-duration:2600ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-95 .elementor-element.elementor-element-41132da{display:block;text-align:right;width:auto;max-width:auto;align-self:center;}.elementor-95 .elementor-element.elementor-element-41132da .aux-vertical .aux-menu-depth-0 .aux-item-content{display:block;text-align:right;}.elementor-95 .elementor-element.elementor-element-41132da .aux-menu-depth-0 > .aux-item-content{color:var( --e-global-color-text );font-size:20px;font-weight:300;text-transform:none;line-height:27px;}.elementor-95 .elementor-element.elementor-element-41132da .aux-burger:before,  .elementor-95 .elementor-element.elementor-element-41132da .aux-burger:after, .elementor-95 .elementor-element.elementor-element-41132da .aux-burger .mid-line{border-color:var( --e-global-color-primary );}.elementor-95 .elementor-element.elementor-element-41132da .aux-fs-menu .aux-menu-item > .aux-item-content{color:var( --e-global-color-823e46c );font-size:34px;font-weight:bold;line-height:2em;}.elementor-95 .elementor-element.elementor-element-41132da .aux-fs-menu .aux-master-menu{text-align:left;}.elementor-95 .elementor-element.elementor-element-41132da .aux-fs-popup{background-color:var( --e-global-color-primary );}.elementor-95 .elementor-element.elementor-element-e659e58 .aux-search-submit i{color:var( --e-global-color-text );font-size:26px;}.elementor-95 .elementor-element.elementor-element-e659e58 .aux-search-submit{cursor:pointer;}.elementor-95 .elementor-element.elementor-element-e659e58 .aux-search-popup .aux-search-input-form{border-width:2px;}.elementor-95 .elementor-element.elementor-element-e659e58 .aux-search-popup .aux-submit-icon-container:before{font-size:30px;}.elementor-95 .elementor-element.elementor-element-e659e58 > .elementor-widget-container{margin:0px 50px 0px 50px;}.elementor-95 .elementor-element.elementor-element-e659e58{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-e3cac42 .aux-cart-contents > span{background-color:var( --e-global-color-secondary );font-family:"Open Sans", Sans-serif;font-size:12px;font-weight:400;line-height:17px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-e3cac42 .aux-card-dropdown{border-style:solid;border-width:0px 0px 0px 0px;box-shadow:15px 10px 27px 0px rgba(0,0,0,0.03);}.elementor-95 .elementor-element.elementor-element-e3cac42 .aux-cart-wrapper .aux-card-item h3{color:var( --e-global-color-primary );font-family:"Open Sans", Sans-serif;font-size:14px;font-weight:600;line-height:19px;}.elementor-95 .elementor-element.elementor-element-e3cac42 .aux-cart-wrapper .aux-card-item span{color:var( --e-global-color-primary );font-family:"Open Sans", Sans-serif;font-size:12px;font-weight:400;line-height:17px;}.elementor-95 .elementor-element.elementor-element-e3cac42{width:auto;max-width:auto;}@media(max-width:1024px){.elementor-95 .elementor-element.elementor-element-27f38ef.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:space-between;}.elementor-95 .elementor-element.elementor-element-e3cac42 > .elementor-widget-container{margin:0px 20px 0px 0px;}.elementor-95 .elementor-element.elementor-element-e3cac42{width:auto;max-width:auto;}}@media(max-width:767px){.elementor-95 .elementor-element.elementor-element-b79d569 > .elementor-widget-container{margin:0px 50px 0px 0px;}.elementor-95 .elementor-element.elementor-element-e3cac42 > .elementor-widget-container{margin:0px 5px 0px 0px;}}/* Start custom CSS for aux_logo, class: .elementor-element-b79d569 */@media only screen and (min-width: 766px) and (max-width: 768px) {
    .elementor-95 .elementor-element.elementor-element-b79d569 {
        margin-right: 300px;
    }
}/* End custom CSS */
/* Start custom CSS for aux_menu_box, class: .elementor-element-41132da */.elementor-95 .elementor-element.elementor-element-41132da {
        flex: 1 0 300px;
}
@media only screen and (max-width: 768px) {
    .elementor-95 .elementor-element.elementor-element-41132da {
        order: 3;
        flex:0 1 auto;
        margin-left:10px;
    }
}

/*-- Menu Hover --*/
.elementor-95 .elementor-element.elementor-element-41132da .menu-main-menu-container ul:hover li a {
    opacity: 0.5;
}

.elementor-95 .elementor-element.elementor-element-41132da .menu-main-menu-container ul li a {
    transition: all 0.5s ease;
}

.elementor-95 .elementor-element.elementor-element-41132da .menu-main-menu-container ul li a:hover {
    opacity: 1 !important;
}

.elementor-95 .elementor-element.elementor-element-41132da .aux-cross-symbol::before, .elementor-95 .elementor-element.elementor-element-41132da .aux-cross-symbol::after {
    background-color: #FFF;
}

.elementor-95 .elementor-element.elementor-element-41132da .aux-fs-popup .aux-panel-close {
    border-color: #FFF;
}

@media screen and (max-width: 1305px) and (min-width: 1024px) {
    .aux-item-content {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_shopping_cart, class: .elementor-element-e3cac42 *//*-- Shopping Icon --*/
.elementor-95 .elementor-element.elementor-element-e3cac42 .auxicon-basket-2::before {
	content: '' !important;
	display: inline-block;
	width: 20px;
	height: 25px;
	font-size: 20px;
	background-position: center;
 	background-size: contain;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.611' height='27' viewBox='0 0 21.611 27'%3E%3Cg id='shopping-bag' transform='translate(-48.8)'%3E%3Cpath id='Path_2' data-name='Path 2' d='M70.406,23.339,68.86,5.93a.744.744,0,0,0-.74-.679h-3.18a5.334,5.334,0,0,0-10.667,0h-3.18a.74.74,0,0,0-.74.679L48.806,23.339c0,.022-.006.044-.006.066A3.848,3.848,0,0,0,52.853,27H66.358a3.848,3.848,0,0,0,4.053-3.594A.269.269,0,0,0,70.406,23.339ZM59.606,1.491a3.847,3.847,0,0,1,3.843,3.76H55.763A3.847,3.847,0,0,1,59.606,1.491Zm6.753,24.018H52.853a2.379,2.379,0,0,1-2.562-2.071l1.48-16.691h2.5V9.011a.745.745,0,1,0,1.491,0V6.747h7.691V9.011a.745.745,0,0,0,1.491,0V6.747h2.5L68.92,23.439A2.382,2.382,0,0,1,66.358,25.509Z' fill='%23565969'/%3E%3C/g%3E%3C/svg%3E%0A");
}
/*-- Open Basket Box --*/
.elementor-95 .elementor-element.elementor-element-e3cac42 .aux-card-dropdown {
    left: auto;
    right: 0;
}

.elementor-95 .elementor-element.elementor-element-e3cac42 .aux-card-box {
    padding: 24px 30px 40px 26px !important;
}

.elementor-95 .elementor-element.elementor-element-e3cac42 .aux-inline-card-checkout {
    background-color: var(--e-global-color-accent) !important;
}

.elementor-95 .elementor-element.elementor-element-e3cac42 .aux-cart-subtotal {
    height: 55px;
    line-height: 3.5em;
    padding-left: 20px;
    padding-right: 20px
}

.elementor-95 .elementor-element.elementor-element-e3cac42 .woocommerce-Price-amount.amount {
    line-height: 3.5em;
}

.elementor-95 .elementor-element.elementor-element-e3cac42 .amount {
    float: right;
}


.elementor-95 .elementor-element.elementor-element-e3cac42 .aux-inline-card-checkout, .elementor-95 .elementor-element.elementor-element-e3cac42  .woocommerce-Price-amount {
    font-family: 'Open Sans' !important;
    font-size: 15px !important;
    color: var(--e-global-color-primary) !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}

.elementor-95 .elementor-element.elementor-element-e3cac42 .aux-cart-total-items {
    display: none !important;
}

.elementor-95 .elementor-element.elementor-element-e3cac42 .aux-button-wrapper {
    background-color: var(--e-global-color-primary);
    display: block;
    height: 58px;
}


.elementor-95 .elementor-element.elementor-element-e3cac42 .aux-checkout-button {
    background-color: transparent;
    bottom: 10px;
    font-family: 'Open Sans';
    text-transform: none;
    font-size: 15px;
    font-weight: 400;
}

.elementor-95 .elementor-element.elementor-element-e3cac42 .aux-button.aux-black .aux-overlay::after {
    background-color: transparent;
}

.elementor-95 .elementor-element.elementor-element-e3cac42 .aux-cart-button  {
    display: none !important;
}

.elementor-95 .elementor-element.elementor-element-e3cac42 .aux-cart-wrapper .aux-cart-contents {
    margin: 0;
}/* End custom CSS */