.elementor-36 .elementor-element.elementor-element-ce12ef1 > .elementor-container{max-width:1920px;}.elementor-36 .elementor-element.elementor-element-ce12ef1 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-36 .elementor-element.elementor-element-ce12ef1{padding:0px 0px 0px 35px;}.elementor-36 .elementor-element.elementor-element-83eff3d > .elementor-element-populated{margin:120px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-36 .elementor-element.elementor-element-36c4ae5 .aux-modern-heading-primary{font-size:15px;font-weight:500;text-transform:uppercase;letter-spacing:3.75px;color:var( --e-global-color-text );margin:0px 0px 0px 0px;}.elementor-36 .elementor-element.elementor-element-36c4ae5 .aux-modern-heading-secondary{font-size:90px;font-weight:400;text-transform:uppercase;line-height:1.2em;color:var( --e-global-color-text );margin:0px 0px 0px 0px;}.elementor-36 .elementor-element.elementor-element-36c4ae5 .aux-modern-heading-secondary .aux-head-highlight{font-size:90px;font-weight:800;text-transform:uppercase;color:var( --e-global-color-text );margin:0px 0px 0px 0px;}.elementor-36 .elementor-element.elementor-element-36c4ae5 > .elementor-widget-container{margin:0px 0px 60px 0px;}.elementor-36 .elementor-element.elementor-element-36c4ae5{animation-duration:2500ms;animation-timing-function:cubic-bezier(0.77,0,0.175,1);}.elementor-36 .elementor-element.elementor-element-0154be2 .aux-icon-list-item, .elementor-36 .elementor-element.elementor-element-0154be2 .aux-icon-list-items{justify-content:flex-start;text-align:left;}.elementor-36 .elementor-element.elementor-element-0154be2 .aux-icon-list-text{color:#000000B3;font-size:15px;font-weight:500;text-transform:uppercase;letter-spacing:3.75px;}.elementor-36 .elementor-element.elementor-element-0154be2 .aux-icon-list-item:hover .aux-icon-list-text{color:var( --e-global-color-text );}.elementor-36 .elementor-element.elementor-element-0154be2 .aux-icon-list-icon{color:var( --e-global-color-text );font-size:24px;}.elementor-36 .elementor-element.elementor-element-0154be2{width:auto;max-width:auto;animation-duration:2800ms;animation-delay:1500ms;animation-timing-function:cubic-bezier(0.77,0,0.175,1);}.elementor-36 .elementor-element.elementor-element-0da83cc{animation-duration:5000ms;animation-delay:800ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-36 .elementor-element.elementor-element-4d45919 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-36 .elementor-element.elementor-element-4d45919{margin-top:160px;margin-bottom:0px;padding:0px 35px 0px 35px;}.elementor-36 .elementor-element.elementor-element-f7a31ef > .elementor-element-populated{margin:0px 30px 0px 150px;--e-column-margin-right:30px;--e-column-margin-left:150px;}.elementor-36 .elementor-element.elementor-element-8d7edc1 .aux-modern-heading-secondary{font-size:60px;font-weight:700;text-transform:capitalize;line-height:1.2em;letter-spacing:-0.9px;color:var( --e-global-color-text );}.elementor-36 .elementor-element.elementor-element-8d7edc1 .aux-modern-heading-secondary .aux-head-highlight{font-size:60px;font-weight:400;letter-spacing:-0.9px;color:var( --e-global-color-text );}.elementor-36 .elementor-element.elementor-element-8d7edc1 .aux-modern-heading-description{color:var( --e-global-color-text );font-size:16px;font-weight:400;line-height:1.8em;letter-spacing:-0.48px;max-width:400px;}.elementor-36 .elementor-element.elementor-element-8d7edc1 > .elementor-widget-container{margin:0px 0px 50px 0px;}.elementor-36 .elementor-element.elementor-element-8d7edc1{animation-duration:2500ms;animation-delay:1000ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-36 .elementor-element.elementor-element-4c85f0b .aux-modern-button-wrapper{text-align:left;}.elementor-36 .elementor-element.elementor-element-4c85f0b .aux-modern-button.aux-modern-button-outline .aux-overlay:before, .elementor-36 .elementor-element.elementor-element-4c85f0b .aux-modern-button .aux-overlay:before{background-color:var( --e-global-color-primary );}.elementor-36 .elementor-element.elementor-element-4c85f0b .aux-modern-button{padding:31px 58px 31px 58px;}.elementor-36 .elementor-element.elementor-element-4c85f0b .aux-modern-button.aux-modern-button-outline .aux-overlay:after, .elementor-36 .elementor-element.elementor-element-4c85f0b .aux-modern-button .aux-overlay:after{background-color:#FFFFFF;}.elementor-36 .elementor-element.elementor-element-4c85f0b .aux-text{font-size:16px;font-weight:400;text-transform:uppercase;letter-spacing:4px;color:#FFFFFF;}.elementor-36 .elementor-element.elementor-element-4c85f0b .aux-modern-button:hover .aux-text{color:var( --e-global-color-text );}.elementor-36 .elementor-element.elementor-element-4c85f0b{animation-duration:1800ms;animation-delay:1000ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-36 .elementor-element.elementor-element-7b56436{animation-duration:2500ms;animation-delay:250ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-36 .elementor-element.elementor-element-8b0ac78{margin-top:200px;margin-bottom:100px;padding:0px 35px 00px 35px;}.elementor-36 .elementor-element.elementor-element-54496de .entry-header .entry-title a{color:var( --e-global-color-text );font-size:60px;text-transform:capitalize;line-height:1.1em;letter-spacing:-0.9px;}.elementor-36 .elementor-element.elementor-element-54496de .entry-read-more a{color:var( --e-global-color-text );font-size:16px;font-weight:600;text-transform:uppercase;letter-spacing:4px;}.elementor-36 .elementor-element.elementor-element-54496de .entry-read-more span{padding:40px 0px 0px 0px !important;}.elementor-36 .elementor-element.elementor-element-54496de .aux-iso-item{margin-bottom:30px !important;}.elementor-36 .elementor-element.elementor-element-54496de > .elementor-widget-container{margin:0px 0px -100px 0px;}.elementor-36 .elementor-element.elementor-element-54496de{animation-duration:4000ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}@media(max-width:1024px){.elementor-36 .elementor-element.elementor-element-83eff3d > .elementor-element-populated{margin:100px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-36 .elementor-element.elementor-element-36c4ae5 .aux-modern-heading-secondary{font-size:80px;}.elementor-36 .elementor-element.elementor-element-36c4ae5 .aux-modern-heading-secondary .aux-head-highlight{font-size:80px;}.elementor-36 .elementor-element.elementor-element-36c4ae5 > .elementor-widget-container{margin:0px 0px 40px 0px;}.elementor-36 .elementor-element.elementor-element-4d45919{margin-top:80px;margin-bottom:0px;}.elementor-36 .elementor-element.elementor-element-f7a31ef > .elementor-element-populated{margin:0px 20px 0px 0px;--e-column-margin-right:20px;--e-column-margin-left:0px;}.elementor-36 .elementor-element.elementor-element-8d7edc1 .aux-modern-heading-secondary{font-size:50px;}.elementor-36 .elementor-element.elementor-element-8d7edc1 .aux-modern-heading-secondary .aux-head-highlight{font-size:50px;}.elementor-36 .elementor-element.elementor-element-8d7edc1 .aux-modern-heading-description{font-size:15px;max-width:720px;}.elementor-36 .elementor-element.elementor-element-8d7edc1 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-36 .elementor-element.elementor-element-4c85f0b .aux-modern-button{padding:25px 50px 25px 50px;}.elementor-36 .elementor-element.elementor-element-4c85f0b .aux-text{font-size:15px;}}@media(min-width:768px){.elementor-36 .elementor-element.elementor-element-83eff3d{width:37%;}.elementor-36 .elementor-element.elementor-element-0780bc8{width:63%;}}@media(max-width:1024px) and (min-width:768px){.elementor-36 .elementor-element.elementor-element-83eff3d{width:100%;}.elementor-36 .elementor-element.elementor-element-0780bc8{width:100%;}}@media(max-width:767px){.elementor-36 .elementor-element.elementor-element-ce12ef1{margin-top:0px;margin-bottom:0px;}.elementor-36 .elementor-element.elementor-element-83eff3d > .elementor-element-populated{margin:50px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-36 .elementor-element.elementor-element-36c4ae5 .aux-modern-heading-primary{font-size:14px;}.elementor-36 .elementor-element.elementor-element-36c4ae5 .aux-modern-heading-secondary{font-size:60px;}.elementor-36 .elementor-element.elementor-element-36c4ae5 .aux-modern-heading-secondary .aux-head-highlight{font-size:60px;}.elementor-36 .elementor-element.elementor-element-0154be2 .aux-icon-list-text{font-size:14px;}.elementor-36 .elementor-element.elementor-element-0780bc8 > .elementor-element-populated > .elementor-widget-wrap{padding:100px 0px 0px 0px;}.elementor-36 .elementor-element.elementor-element-0da83cc{min-width:400vw;}.elementor-36 .elementor-element.elementor-element-f7a31ef > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-36 .elementor-element.elementor-element-8d7edc1 .aux-modern-heading-secondary{font-size:40px;}.elementor-36 .elementor-element.elementor-element-8d7edc1 .aux-modern-heading-secondary .aux-head-highlight{font-size:40px;}.elementor-36 .elementor-element.elementor-element-8d7edc1 .aux-modern-heading-description{font-size:14px;}.elementor-36 .elementor-element.elementor-element-4c85f0b .aux-modern-button{padding:20px 40px 20px 40px;}.elementor-36 .elementor-element.elementor-element-4c85f0b .aux-text{font-size:14px;}.elementor-36 .elementor-element.elementor-element-f3ba4db > .elementor-element-populated{margin:50px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-36 .elementor-element.elementor-element-54496de .entry-header .entry-title a{font-size:30px;}.elementor-36 .elementor-element.elementor-element-54496de .entry-read-more a{font-size:14px;}.elementor-36 .elementor-element.elementor-element-54496de .entry-read-more span{padding:20px 0px 0px 0px !important;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-36c4ae5 */.elementor-36 .elementor-element.elementor-element-36c4ae5 .aux-head-before{
    display: block;
}
@media screen and (max-width:900px) and (min-width:768px){
    .elementor-36 .elementor-element.elementor-element-36c4ae5{
        display: inline-block;
        width: auto;
    }
}/* End custom CSS */
/* Start custom CSS for aux_icon_list, class: .elementor-element-0154be2 */.elementor-36 .elementor-element.elementor-element-0154be2 .aux-icon-list-link{
    flex-direction: row-reverse;
}
.elementor-36 .elementor-element.elementor-element-0154be2 .aux-icon-list-item{
    padding: 15px 70px 15px 0;
    margin: 15px 0;
    position: relative;
}
.elementor-36 .elementor-element.elementor-element-0154be2 .aux-icon-list-item .aux-icon-list-text{
    transition: all 250ms ease-in;
}
.elementor-36 .elementor-element.elementor-element-0154be2 .aux-icon-list-item:hover .aux-icon-list-text{
    font-weight: 700;
}
.elementor-36 .elementor-element.elementor-element-0154be2 .aux-icon-list-item:after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--e-global-color-primary);
    opacity: 0.5;
    position: absolute;
    top: -7px;
    transition: all 250ms ease-in;
}
.elementor-36 .elementor-element.elementor-element-0154be2 .aux-icon-list-item:hover:after{
    opacity: 1;
}
.elementor-36 .elementor-element.elementor-element-0154be2 .aux-icon-list-link .aux-icon-list-icon{
    transform: rotate(-40deg);
    position: absolute;
    right: 5px;
    opacity: 0;
    transition: all 250ms ease-in;
}
.elementor-36 .elementor-element.elementor-element-0154be2 .aux-icon-list-item:hover .aux-icon-list-link .aux-icon-list-icon{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-83eff3d */@media screen and (min-width:1750px){
    .elementor-36 .elementor-element.elementor-element-83eff3d{
        margin-left:140px;
    }
}
@media screen and (max-width:900px) and (min-width:768px){
    .elementor-36 .elementor-element.elementor-element-83eff3d{
        width:100%;
    }
    .elementor-36 .elementor-element.elementor-element-83eff3d .elementor-element-populated {
        margin: 50px 35px 0px 0px !important;
    }
    .elementor-36 .elementor-element.elementor-element-83eff3d .elementor-widget-wrap{
        justify-content: space-between !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-0da83cc */.elementor-36 .elementor-element.elementor-element-0da83cc .aux-image-holder {
    display: flex;
}
.elementor-36 .elementor-element.elementor-element-0da83cc img {
    animation: moveSlideshow 50s linear infinite;
    min-width:100vw;
    will-change: transform;
}
.elementor-36 .elementor-element.elementor-element-0da83cc img:nth-child(2) {
    position: relative !important;
    opacity: 1 !important;
}
@keyframes moveSlideshow {
  0% { 
    transform: translateX(0px);  
  }
  100% { 
    transform: translateX(-100vw);  
  }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-0780bc8 */@media screen and (max-width:1600px) and (min-width:768px){
    .elementor-36 .elementor-element.elementor-element-0780bc8{
        padding-top:100px;
    }
}
.elementor-36 .elementor-element.elementor-element-0780bc8{
    overflow: hidden;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-ce12ef1 */@media screen and (max-width:1024px) and (min-width:768px){
    .elementor-36 .elementor-element.elementor-element-ce12ef1 .elementor-row{
        flex-direction:column-reverse;
    }
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-8d7edc1 */.elementor-36 .elementor-element.elementor-element-8d7edc1 .aux-head-before{
    display: block;
}/* End custom CSS */
/* Start custom CSS for aux_modern_button, class: .elementor-element-4c85f0b */.elementor-36 .elementor-element.elementor-element-4c85f0b .aux-overlay::after{
    border: 1px solid #00000033;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-f7a31ef */@media screen and (max-width:900px) and (min-width:768px){
    .elementor-36 .elementor-element.elementor-element-f7a31ef{
        width:100%;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-f3ba4db */@media screen and (max-width:900px) and (min-width:768px){
    .elementor-36 .elementor-element.elementor-element-f3ba4db{
        width:100%;
        margin-top:50px;
    }
}/* End custom CSS */
/* Start custom CSS for aux_recent_portfolios_grid, class: .elementor-element-54496de */.elementor-36 .elementor-element.elementor-element-54496de .aux-read-more{
    background-color: transparent;
    display: flex;
    justify-content: end;
}
.elementor-36 .elementor-element.elementor-element-54496de .wpulike{
    display: none;
}
.elementor-36 .elementor-element.elementor-element-54496de .entry-header{
    width: 55%;
}
.elementor-36 .elementor-element.elementor-element-54496de .aux-read-more::after{
    content: "\e1ef";
    font-size: 30px;
    color: var(--e-global-color-primary);
    font-family: "auxin-front";
    position: relative;
    top: -12px;
}
.elementor-36 .elementor-element.elementor-element-54496de .aux-iso-item:nth-child(2n-1){
    padding-right: 0px !important;
    padding:0 6% !important;
}
.elementor-36 .elementor-element.elementor-element-54496de .aux-iso-item:nth-child(2n){
    padding-right: 0px !important;
    padding: 5% 6% !important;
}
.elementor-36 .elementor-element.elementor-element-54496de .aux-appeared-once:nth-child(2n-1){
    padding-right: 0px !important;
    padding:5% 6% !important;
}
.elementor-36 .elementor-element.elementor-element-54496de .aux-appeared-once:nth-child(2n){
    padding-right: 0px !important;
    padding: 0 6% !important;
}
.elementor-36 .elementor-element.elementor-element-54496de .aux-iso-item:hover .entry-read-more a , .elementor-36 .elementor-element.elementor-element-54496de .aux-iso-item:hover .aux-read-more::after{
    color: var(--e-global-color-secondary);
}
.elementor-36 .elementor-element.elementor-element-54496de .aux-iso-item .entry-media .aux-media-frame{
    transition: all 250ms ease-in;
}
.elementor-36 .elementor-element.elementor-element-54496de .aux-iso-item:hover .entry-media .aux-media-frame{
    box-shadow: 0px 40px 50px 20px rgba(0, 0, 0, 0.1);
}
.elementor-36 .elementor-element.elementor-element-54496de .entry-media{
    margin-bottom: 40px !important;
}
.elementor-36 .elementor-element.elementor-element-54496de .aux-circle{
    display: none;
}
.elementor-36 .elementor-element.elementor-element-54496de .aux-load-more{
    height: 65px;
    width: 256px;
    border-radius: 0;
    transition: all 250ms ease-in;
    border: 1px solid #00000033;
}
.elementor-36 .elementor-element.elementor-element-54496de .aux-label-text , .elementor-36 .elementor-element.elementor-element-54496de  .aux-load-more .aux-loading-label{
    font-size: 16px;
    font-weight: bold;
    line-height: 65px;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: var(--e-global-color-a187308);
    font-weight: 500;
}
.elementor-36 .elementor-element.elementor-element-54496de .aux-portfolio-columns{
    overflow: visible;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-36 .elementor-element.elementor-element-54496de .entry-header .entry-title a{
        font-size:50px;
    }
}
@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-36 .elementor-element.elementor-element-54496de .aux-iso-item:nth-child(2n-1){
        padding:0 3% !important;
    }
    .elementor-36 .elementor-element.elementor-element-54496de .aux-iso-item:nth-child(2n){
        padding: 5% 3% !important;
    }
    .elementor-36 .elementor-element.elementor-element-54496de .aux-appeared-once:nth-child(2n-1){
        padding:5% 3% !important;
    }
    .elementor-36 .elementor-element.elementor-element-54496de .aux-appeared-once:nth-child(2n){
        padding: 0 3% !important;
    }
    .elementor-36 .elementor-element.elementor-element-54496de .entry-title a {
        font-size: 42px !important;
    }
    .elementor-36 .elementor-element.elementor-element-54496de .entry-read-more a {
        font-size: 15px !important;
    }
}
@media screen and (max-width:900px) and (min-width:768px){
    .elementor-36 .elementor-element.elementor-element-54496de .aux-col{
        width: 100% !important;
    }
    .elementor-36 .elementor-element.elementor-element-54496de .aux-iso-item:nth-child(2n-1){
        padding: 2% 0% !important;
        padding-right: 30px !important;
    }
    .elementor-36 .elementor-element.elementor-element-54496de .aux-iso-item:nth-child(2n){
        padding: 2% 0% !important;
        padding-right: 30px !important;
    }
    .elementor-36 .elementor-element.elementor-element-54496de .aux-appeared-once:nth-child(2n-1){
        padding-right: 30px !important;
        padding:2% 0 !important;
    }
    .elementor-36 .elementor-element.elementor-element-54496de .aux-appeared-once:nth-child(2n){
        padding-right: 30px !important;
        padding: 2% 0 !important;
    }
}
@media screen and (max-width:767px){
    .elementor-36 .elementor-element.elementor-element-54496de .aux-iso-item:nth-child(2n-1){
        padding: 2% 0% !important;
        padding-right: 30px !important;
    }
    .elementor-36 .elementor-element.elementor-element-54496de .aux-iso-item:nth-child(2n){
        padding: 2% 0% !important;
        padding-right: 30px !important;
    }
    .elementor-36 .elementor-element.elementor-element-54496de .entry-header {
        width: 50% !important;
    }
    .elementor-36 .elementor-element.elementor-element-54496de .aux-load-more{
        height: 50px;
        width: 200px;
    }
    .elementor-36 .elementor-element.elementor-element-54496de .aux-appeared-once:nth-child(2n-1){
        padding-right: 30px !important;
        padding:2% 0 !important;
    }
    .elementor-36 .elementor-element.elementor-element-54496de .aux-appeared-once:nth-child(2n){
        padding-right: 30px !important;
        padding: 2% 0 !important;
    }
    .elementor-36 .elementor-element.elementor-element-54496de .aux-label-text , .elementor-36 .elementor-element.elementor-element-54496de  .aux-load-more .aux-loading-label{
        font-size: 15px;
        line-height: 50px;
    }
}/* End custom CSS */