.elementor-82 .elementor-element.elementor-element-2e79f07 > .elementor-container{max-width:1600px;}.elementor-82 .elementor-element.elementor-element-2e79f07 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-82 .elementor-element.elementor-element-2e79f07{padding:13% 2% 0% 2%;}.elementor-82 .elementor-element.elementor-element-ed2d8d6 > .elementor-element-populated{margin:0px 60px 23px 0px;--e-column-margin-right:60px;--e-column-margin-left:0px;}.elementor-82 .elementor-element.elementor-element-ed2d8d6 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-82 .elementor-element.elementor-element-ed5cb33{animation-duration:1200ms;animation-timing-function:cubic-bezier(0.77,0,0.175,1);}.elementor-82 .elementor-element.elementor-element-588e5e2 > .elementor-element-populated{margin:0px 1px 0px 60px;--e-column-margin-right:1px;--e-column-margin-left:60px;}.elementor-82 .elementor-element.elementor-element-c6f7776 .aux-modern-heading-secondary{font-family:"Poppins", Sans-serif;font-size:40px;font-weight:bold;line-height:73px;letter-spacing:-1.2px;color:#000000;margin:0px 0px -12px 0px;}.elementor-82 .elementor-element.elementor-element-c6f7776 .aux-modern-heading-description{color:rgba(0,0,0,0.90);font-size:16px;font-weight:400;line-height:30px;margin:0px 0px 25px 0px;}.elementor-82 .elementor-element.elementor-element-c6f7776{animation-duration:1500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-82 .elementor-element.elementor-element-acad5e6 input:not([type="submit"]){transition:all ease-out 0.3s;}.elementor-82 .elementor-element.elementor-element-acad5e6 input[type="text"]{transition:all ease-out 0.3s;}.elementor-82 .elementor-element.elementor-element-acad5e6 input[type="email"]{transition:all ease-out 0.3s;}.elementor-82 .elementor-element.elementor-element-acad5e6 select{transition:all ease-out 0.3s;}.elementor-82 .elementor-element.elementor-element-acad5e6 textarea{transition:all ease-out 0.3s;}.elementor-82 .elementor-element.elementor-element-acad5e6 input[type="submit"]{transition:all ease-out 0.3s;}.elementor-82 .elementor-element.elementor-element-acad5e6{animation-duration:1000ms;animation-delay:200ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-82 .elementor-element.elementor-element-13df02a{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:65px;margin-bottom:163px;padding:0% 2% 0% 2%;}.elementor-82 .elementor-element.elementor-element-13df02a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-82 .elementor-element.elementor-element-a28bf76:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-82 .elementor-element.elementor-element-a28bf76 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(116deg, var( --e-global-color-primary ) 0%, var( --e-global-color-secondary ) 100%);}.elementor-82 .elementor-element.elementor-element-a28bf76 > .elementor-element-populated, .elementor-82 .elementor-element.elementor-element-a28bf76 > .elementor-element-populated > .elementor-background-overlay, .elementor-82 .elementor-element.elementor-element-a28bf76 > .elementor-background-slideshow{border-radius:20px 20px 20px 20px;}.elementor-82 .elementor-element.elementor-element-a28bf76 > .elementor-element-populated{box-shadow:0px 15px 60px 0px rgba(45,54,173,0.33);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0% 9% 0% 0%;--e-column-margin-right:9%;--e-column-margin-left:0%;}.elementor-82 .elementor-element.elementor-element-a28bf76 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-82 .elementor-element.elementor-element-a28bf76 > .elementor-element-populated > .elementor-widget-wrap{padding:12% 9% 12% 9%;}.elementor-82 .elementor-element.elementor-element-a28bf76{animation-duration:1000ms;animation-delay:600ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-82 .elementor-element.elementor-element-6ea7e38 .aux-widget-text .aux-text-widget-header{padding:0% 9% 0% 10%;}.elementor-82 .elementor-element.elementor-element-6ea7e38 .aux-ico-box{padding:0px 20px 0px 0px;color:#ffffff;}.elementor-82 .elementor-element.elementor-element-6ea7e38 .col-title a, .elementor-82 .elementor-element.elementor-element-6ea7e38 .col-title{color:#ffffff !important;}.elementor-82 .elementor-element.elementor-element-6ea7e38 .col-title, .elementor-82 .elementor-element.elementor-element-6ea7e38 .col-title a{font-family:"Poppins", Sans-serif;font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.48px;}.elementor-82 .elementor-element.elementor-element-6ea7e38 .widget-content{color:rgba(255,255,255,0.90) !important;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;line-height:22px;}.elementor-82 .elementor-element.elementor-element-6ea7e38 .aux-widget-text .aux-text-widget-content{padding:0% 0% 0% 5%;}.elementor-82 .elementor-element.elementor-element-6ea7e38 .aux-widget-advanced-text{text-align:left !important;}.elementor-82 .elementor-element.elementor-element-9d4cce4:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-82 .elementor-element.elementor-element-9d4cce4 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(116deg, var( --e-global-color-primary ) 0%, var( --e-global-color-secondary ) 100%);}.elementor-82 .elementor-element.elementor-element-9d4cce4 > .elementor-element-populated >  .elementor-background-overlay{opacity:0.5;}.elementor-82 .elementor-element.elementor-element-9d4cce4 > .elementor-element-populated, .elementor-82 .elementor-element.elementor-element-9d4cce4 > .elementor-element-populated > .elementor-background-overlay, .elementor-82 .elementor-element.elementor-element-9d4cce4 > .elementor-background-slideshow{border-radius:20px 20px 20px 20px;}.elementor-82 .elementor-element.elementor-element-9d4cce4 > .elementor-element-populated{box-shadow:0px 15px 60px 0px rgba(45,54,173,0.33);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0% 9% 0% 0%;--e-column-margin-right:9%;--e-column-margin-left:0%;}.elementor-82 .elementor-element.elementor-element-9d4cce4 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-82 .elementor-element.elementor-element-9d4cce4 > .elementor-element-populated > .elementor-widget-wrap{padding:12% 10% 12% 10%;}.elementor-82 .elementor-element.elementor-element-9d4cce4{animation-duration:1000ms;animation-delay:400ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-82 .elementor-element.elementor-element-5c6e5be .aux-widget-text .aux-text-widget-header{padding:0% 9% 0% 10%;}.elementor-82 .elementor-element.elementor-element-5c6e5be .aux-ico-box{padding:0px 20px 0px 0px;color:#ffffff;}.elementor-82 .elementor-element.elementor-element-5c6e5be .col-title a, .elementor-82 .elementor-element.elementor-element-5c6e5be .col-title{color:#ffffff !important;}.elementor-82 .elementor-element.elementor-element-5c6e5be .col-title, .elementor-82 .elementor-element.elementor-element-5c6e5be .col-title a{font-family:"Poppins", Sans-serif;font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.48px;}.elementor-82 .elementor-element.elementor-element-5c6e5be .widget-content{color:rgba(255,255,255,0.90) !important;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;line-height:22px;}.elementor-82 .elementor-element.elementor-element-5c6e5be .aux-widget-text .aux-text-widget-content{padding:0% 0% 0% 5%;}.elementor-82 .elementor-element.elementor-element-5c6e5be .aux-widget-advanced-text{text-align:left !important;}.elementor-82 .elementor-element.elementor-element-172b3d5:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-82 .elementor-element.elementor-element-172b3d5 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(116deg, var( --e-global-color-primary ) 0%, var( --e-global-color-secondary ) 100%);}.elementor-82 .elementor-element.elementor-element-172b3d5 > .elementor-element-populated, .elementor-82 .elementor-element.elementor-element-172b3d5 > .elementor-element-populated > .elementor-background-overlay, .elementor-82 .elementor-element.elementor-element-172b3d5 > .elementor-background-slideshow{border-radius:20px 20px 20px 20px;}.elementor-82 .elementor-element.elementor-element-172b3d5 > .elementor-element-populated{box-shadow:0px 15px 60px 0px rgba(45,54,173,0.33);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0% 9% 0% 0%;--e-column-margin-right:9%;--e-column-margin-left:0%;}.elementor-82 .elementor-element.elementor-element-172b3d5 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-82 .elementor-element.elementor-element-172b3d5 > .elementor-element-populated > .elementor-widget-wrap{padding:12% 10% 12% 10%;}.elementor-82 .elementor-element.elementor-element-172b3d5{animation-duration:1000ms;animation-delay:200ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-82 .elementor-element.elementor-element-de6ca3a .aux-widget-text .aux-text-widget-header{padding:0% 9% 0% 10%;}.elementor-82 .elementor-element.elementor-element-de6ca3a .aux-ico-box{padding:0px 20px 0px 0px;color:#ffffff;}.elementor-82 .elementor-element.elementor-element-de6ca3a .col-title a, .elementor-82 .elementor-element.elementor-element-de6ca3a .col-title{color:#ffffff !important;}.elementor-82 .elementor-element.elementor-element-de6ca3a .col-title, .elementor-82 .elementor-element.elementor-element-de6ca3a .col-title a{font-family:"Poppins", Sans-serif;font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.48px;}.elementor-82 .elementor-element.elementor-element-de6ca3a .widget-content{color:rgba(255,255,255,0.90) !important;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;line-height:22px;}.elementor-82 .elementor-element.elementor-element-de6ca3a .aux-widget-text .aux-text-widget-content{padding:0% 0% 0% 5%;}.elementor-82 .elementor-element.elementor-element-de6ca3a .aux-widget-advanced-text{text-align:left !important;}.elementor-82 .elementor-element.elementor-element-709db10:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-82 .elementor-element.elementor-element-709db10 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(116deg, var( --e-global-color-primary ) 0%, var( --e-global-color-secondary ) 100%);}.elementor-82 .elementor-element.elementor-element-709db10 > .elementor-element-populated, .elementor-82 .elementor-element.elementor-element-709db10 > .elementor-element-populated > .elementor-background-overlay, .elementor-82 .elementor-element.elementor-element-709db10 > .elementor-background-slideshow{border-radius:20px 20px 20px 20px;}.elementor-82 .elementor-element.elementor-element-709db10 > .elementor-element-populated{box-shadow:0px 15px 60px 0px rgba(45,54,173,0.33);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-82 .elementor-element.elementor-element-709db10 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-82 .elementor-element.elementor-element-709db10 > .elementor-element-populated > .elementor-widget-wrap{padding:12% 6% 12% 10%;}.elementor-82 .elementor-element.elementor-element-709db10{animation-duration:1000ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-82 .elementor-element.elementor-element-4eae6c2 .aux-widget-text .aux-text-widget-header{padding:0% 9% 0% 10%;}.elementor-82 .elementor-element.elementor-element-4eae6c2 .aux-ico-box{padding:0px 20px 0px 0px;color:#ffffff;}.elementor-82 .elementor-element.elementor-element-4eae6c2 .col-title a, .elementor-82 .elementor-element.elementor-element-4eae6c2 .col-title{color:#ffffff !important;}.elementor-82 .elementor-element.elementor-element-4eae6c2 .col-title, .elementor-82 .elementor-element.elementor-element-4eae6c2 .col-title a{font-family:"Poppins", Sans-serif;font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.48px;}.elementor-82 .elementor-element.elementor-element-4eae6c2 .widget-content{color:rgba(255,255,255,0.90) !important;font-family:"Montserrat", Sans-serif;font-size:15px;font-weight:400;line-height:22px;}.elementor-82 .elementor-element.elementor-element-4eae6c2 .aux-widget-text .aux-text-widget-content{padding:0% 0% 0% 5%;}.elementor-82 .elementor-element.elementor-element-4eae6c2 .aux-widget-advanced-text{text-align:left !important;}@media(max-width:1024px){.elementor-82 .elementor-element.elementor-element-2e79f07{padding:27% 3% 0% 3%;}.elementor-82 .elementor-element.elementor-element-ed2d8d6 > .elementor-element-populated{margin:0px 15px 0px 0px;--e-column-margin-right:15px;--e-column-margin-left:0px;}.elementor-82 .elementor-element.elementor-element-588e5e2 > .elementor-element-populated{margin:0px 0px 0px 15px;--e-column-margin-right:0px;--e-column-margin-left:15px;}.elementor-82 .elementor-element.elementor-element-c6f7776 .aux-modern-heading-secondary{font-size:34px;margin:0px 0px -8px 0px;}.elementor-82 .elementor-element.elementor-element-c6f7776 .aux-modern-heading-description{font-size:14px;line-height:23px;}.elementor-82 .elementor-element.elementor-element-a28bf76 > .elementor-element-populated{margin:0px 15px 0px 0px;--e-column-margin-right:15px;--e-column-margin-left:0px;}.elementor-82 .elementor-element.elementor-element-6ea7e38 .aux-widget-text .aux-text-widget-content{padding:0% 0% 0% 2%;}.elementor-82 .elementor-element.elementor-element-9d4cce4 > .elementor-element-populated{margin:0px 0px 0px 15px;--e-column-margin-right:0px;--e-column-margin-left:15px;}.elementor-82 .elementor-element.elementor-element-5c6e5be .aux-widget-text .aux-text-widget-content{padding:0% 0% 0% 2%;}.elementor-82 .elementor-element.elementor-element-172b3d5 > .elementor-element-populated{margin:28px 15px 0px 0px;--e-column-margin-right:15px;--e-column-margin-left:0px;}.elementor-82 .elementor-element.elementor-element-de6ca3a .aux-widget-text .aux-text-widget-content{padding:0% 0% 0% 2%;}.elementor-bc-flex-widget .elementor-82 .elementor-element.elementor-element-709db10.elementor-column .elementor-column-wrap{align-items:center;}.elementor-82 .elementor-element.elementor-element-709db10.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-82 .elementor-element.elementor-element-709db10 > .elementor-element-populated{margin:28px 0px 0px 15px;--e-column-margin-right:0px;--e-column-margin-left:15px;}.elementor-82 .elementor-element.elementor-element-4eae6c2 .aux-widget-text .aux-text-widget-content{padding:0% 0% 0% 2%;}}@media(max-width:767px){.elementor-82 .elementor-element.elementor-element-2e79f07{margin-top:100px;margin-bottom:0px;}.elementor-82 .elementor-element.elementor-element-ed2d8d6 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-82 .elementor-element.elementor-element-588e5e2 > .elementor-element-populated > .elementor-widget-wrap{padding:69px 0px 0px 0px;}.elementor-82 .elementor-element.elementor-element-a28bf76 > .elementor-element-populated{margin:0px 0px 25px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-82 .elementor-element.elementor-element-6ea7e38 .widget-content{font-size:13px;}.elementor-82 .elementor-element.elementor-element-9d4cce4 > .elementor-element-populated{margin:0px 0px 25px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-82 .elementor-element.elementor-element-5c6e5be .widget-content{font-size:13px;}.elementor-82 .elementor-element.elementor-element-172b3d5 > .elementor-element-populated{margin:0px 0px 25px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-82 .elementor-element.elementor-element-de6ca3a .widget-content{font-size:13px;}.elementor-82 .elementor-element.elementor-element-709db10 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-82 .elementor-element.elementor-element-4eae6c2 .widget-content{font-size:13px;}}@media(min-width:768px){.elementor-82 .elementor-element.elementor-element-ed2d8d6{width:58.217%;}.elementor-82 .elementor-element.elementor-element-588e5e2{width:41.767%;}.elementor-82 .elementor-element.elementor-element-a28bf76{width:26%;}.elementor-82 .elementor-element.elementor-element-9d4cce4{width:25%;}.elementor-82 .elementor-element.elementor-element-172b3d5{width:26%;}.elementor-82 .elementor-element.elementor-element-709db10{width:23%;}}@media(max-width:1024px) and (min-width:768px){.elementor-82 .elementor-element.elementor-element-ed2d8d6{width:50%;}.elementor-82 .elementor-element.elementor-element-588e5e2{width:50%;}.elementor-82 .elementor-element.elementor-element-a28bf76{width:50%;}.elementor-82 .elementor-element.elementor-element-9d4cce4{width:50%;}.elementor-82 .elementor-element.elementor-element-172b3d5{width:50%;}.elementor-82 .elementor-element.elementor-element-709db10{width:50%;}}/* Start custom CSS for aux_gmap, class: .elementor-element-ed5cb33 */.elementor-82 .elementor-element.elementor-element-ed5cb33 .elementor-widget-container{
    box-shadow: 0 10px 50px #D1D5DF80;
}
.elementor-82 .elementor-element.elementor-element-ed5cb33 .elementor-widget-container, .elementor-82 .elementor-element.elementor-element-ed5cb33 .aux-map-wrapper {
    border-radius: 20px!important;
}/* End custom CSS */
/* Start custom CSS for aux_contact_form, class: .elementor-element-acad5e6 */.elementor-82 .elementor-element.elementor-element-acad5e6 input[type=email], .elementor-82 .elementor-element.elementor-element-acad5e6 .wpcf7 textarea, .wpcf7 input[type=text] {
    border-radius:100px;
    border:1px solid  rgba(45,54,173,0.15);
    background-color: #fff;
    padding: 25px 0px 25px 35px;
    margin-bottom: 0;
}
.elementor-82 .elementor-element.elementor-element-acad5e6 input[type=email]:focus, .elementor-82 .elementor-element.elementor-element-acad5e6 .wpcf7 textarea:focus, .wpcf7 input[type=text]:focus{
    border-color: #2D36AD;
    box-shadow: 0 0 30px rgba(45,54,173,0.18);
}
.elementor-82 .elementor-element.elementor-element-acad5e6 .wpcf7 textarea{
    border-radius: 30px;
    height: 265px;
    min-height: 265px;
}

.elementor-82 .elementor-element.elementor-element-acad5e6 input::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
    font-weight: 400;
    color:rgba(23,43,77,0.70);
    font-style: normal;

}
.elementor-82 .elementor-element.elementor-element-acad5e6 input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
    font-weight: 400;
    color:rgba(23,43,77,0.70);
    font-style: normal;
}
.elementor-82 .elementor-element.elementor-element-acad5e6 .wpcf7 textarea::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
    font-weight: 400;
    color:rgba(23,43,77,0.70);
    font-style: normal;
}

.elementor-82 .elementor-element.elementor-element-acad5e6 .wpcf7 textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
    font-weight: 400;
    color:rgba(23,43,77,0.70);
    font-style: normal;
}
.elementor-82 .elementor-element.elementor-element-acad5e6 .wpcf7 input[type="submit"] {
background: var(--e-global-color-accent);
background: -moz-linear-gradient(121deg, var(--e-global-color-accent) 2%, var(--e-global-color-accent) 5%, var(--e-global-color-248a829) 89%);
background: -webkit-linear-gradient(121deg, var(--e-global-color-accent) 2%, var(--e-global-color-accent) 5%, var(--e-global-color-248a829) 89%);
background: linear-gradient(121deg, var(--e-global-color-accent) 2%, var(--e-global-color-accent) 5%, var(--e-global-color-248a829) 89%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--e-global-color-accent)",endColorstr="var(--e-global-color-248a829)",GradientType=1);
    border-radius: 30px;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: -0.48px;
    text-transform: inherit;
    line-height: 19px;
    margin-top: 20px;
    box-shadow: 0 15px 40px rgba(255,115,106,0.36);
    transition: all .45s;
}
.elementor-82 .elementor-element.elementor-element-acad5e6 .wpcf7 input[type="submit"]:hover{
    background: rgb(0,101,255);
    background: linear-gradient(111deg, rgba(0,101,255,1) 12%, rgba(66,255,255,1) 98%);
    box-shadow: 0px 10px 25px 0px rgba(60,240,255,.33);
    transition: all .85s!important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-588e5e2 */@media only screen and (max-width: 1218px) {
    .elementor-82 .elementor-element.elementor-element-588e5e2 .elementor-element-populated{
        margin: 18px 5px 0!important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-6ea7e38 */.elementor-82 .elementor-element.elementor-element-6ea7e38 .aux-ico-box{
    position: relative;
}
.elementor-82 .elementor-element.elementor-element-6ea7e38 .aux-ico-box:after{
    content: '';
    background-color: #442b9f;
    position: absolute;
    left: -51%;
    top: -33px;
    height: 90px;
    width: 90px;
    z-index: -5;
    border-radius: 100px;
    transition: all .5s;
    
}
@media only screen and (max-width: 1400px)and (min-width: 1025px){
    .elementor-82 .elementor-element.elementor-element-6ea7e38 .aux-text-widget-content {
  margin-top: 20px!important;
}
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-5c6e5be */.elementor-82 .elementor-element.elementor-element-5c6e5be .aux-ico-box{
    position: relative;
}
.elementor-82 .elementor-element.elementor-element-5c6e5be .aux-ico-box:after{
    content: '';
    background-color: #442b9f;
    position: absolute;
    left: -51%;
    top: -25px;
    height: 90px;
    width: 90px;
    z-index: -5;
    border-radius: 100px;
    transition: all .5s;
    
}
@media only screen and (max-width: 1400px)and (min-width: 1025px){
    .elementor-82 .elementor-element.elementor-element-5c6e5be .aux-text-widget-content {
  margin-top: 7px!important;
}
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-de6ca3a */.elementor-82 .elementor-element.elementor-element-de6ca3a .aux-ico-box{
    position: relative;
}
.elementor-82 .elementor-element.elementor-element-de6ca3a .aux-ico-box:after{
    content: '';
    background-color: #442b9f;
    position: absolute;
    left: -51%;
    top: -25px;
    height: 90px;
    width: 90px;
    z-index: -5;
    border-radius: 100px;
    transition: all .5s;
    
}
@media only screen and (max-width: 1400px)and (min-width: 1025px){
    .elementor-82 .elementor-element.elementor-element-de6ca3a .aux-text-widget-content {
  margin-top: 11px!important;
}
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-4eae6c2 */.elementor-82 .elementor-element.elementor-element-4eae6c2 .aux-ico-box{
    position: relative;
}
.elementor-82 .elementor-element.elementor-element-4eae6c2 .aux-ico-box:after{
    content: '';
    background-color: #442b9f;
    position: absolute;
    left: -51%;
    top: -25px;
    height: 90px;
    width: 90px;
    z-index: -5;
    border-radius: 100px;
    transition: all .5s;
    
}
@media only screen and (max-width: 1400px)and (min-width: 1025px){
    .elementor-82 .elementor-element.elementor-element-4eae6c2 .aux-text-widget-content {
  margin-top: 15px!important;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-13df02a */.elementor-82 .elementor-element.elementor-element-13df02a .widget-container .aux-widget-advanced-text .aux-text-widget-header  .aux-ico-box img{   
    min-width:35px;
    width: 35px;
}

.elementor-82 .elementor-element.elementor-element-13df02a .elementor-column-wrap:after{
    content: '';
    background: var(--e-global-color-accent);
    background: linear-gradient(90deg, var(--e-global-color-accent) 18%, var(--e-global-color-248a829) 100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius:20px; 
    transition: all .5s;
    opacity: 0;
}
.elementor-82 .elementor-element.elementor-element-13df02a .aux-parallax-section:hover .elementor-column-wrap:after{
    opacity: 1;
    transition: all .5s;
      box-shadow: 0 15px 60px rgba(255,115,106,0.66);
}
.elementor-82 .elementor-element.elementor-element-13df02a .elementor-column:hover .aux-ico-box:after{
    background-color:rgba(255,255,255,0.17);
    transition: all .5s;
}
@media only screen and (max-width: 1400px)and (min-width: 1025px){
   .elementor-82 .elementor-element.elementor-element-13df02a .aux-widget-advanced-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.elementor-82 .elementor-element.elementor-element-13df02a .aux-ico-box{
padding: 0px 0px 0px 0px;
    margin: 28px 0 50px;
}
.elementor-82 .elementor-element.elementor-element-13df02a .aux-widget-text .aux-text-widget-content{
padding: 0% 0% 0% 0%;
}
.aux-ico-box:after {
left: -26px;
}
.elementor-82 .elementor-element.elementor-element-13df02a .elementor-element-populated{
padding: 12% 10% 12% 10%;
}
.elementor-82 .elementor-element.elementor-element-13df02a .aux-ico-box:after{
    left: -79%;
}
}
@media only screen and (max-width: 1400px)and (min-width: 1025px){
   .elementor-82 .elementor-element.elementor-element-13df02a .aux-widget-advanced-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.elementor-82 .elementor-element.elementor-element-13df02a .aux-ico-box{
padding: 0px 0px 0px 0px;
    margin: 28px 0 50px;
}
.elementor-82 .elementor-element.elementor-element-13df02a .aux-widget-text .aux-text-widget-content{
padding: 0% 0% 0% 0%;
}
.aux-ico-box:after {
left: -26px;
}
.elementor-82 .elementor-element.elementor-element-13df02a .elementor-element-populated{
padding: 12% 10% 12% 10%;
}
.elementor-82 .elementor-element.elementor-element-13df02a .aux-ico-box:after{
    left: -79%;
}
}/* End custom CSS */