.elementor-109 .elementor-element.elementor-element-2324b1e .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-109 .elementor-element.elementor-element-2324b1e .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-109 .elementor-element.elementor-element-2324b1e .col-title a, .elementor-109 .elementor-element.elementor-element-2324b1e .col-title{color:var( --e-global-color-text );}.elementor-109 .elementor-element.elementor-element-2324b1e .col-title, .elementor-109 .elementor-element.elementor-element-2324b1e .col-title a{font-size:28px;font-weight:500;text-transform:capitalize;}.elementor-109 .elementor-element.elementor-element-2324b1e .widget-content{color:var( --e-global-color-text );font-size:18px;font-weight:500;}.elementor-109 .elementor-element.elementor-element-2324b1e .aux-widget-advanced-text{text-align:center !important;}.elementor-109 .elementor-element.elementor-element-2324b1e{width:auto;max-width:auto;}@media(max-width:1024px){.elementor-109 .elementor-element.elementor-element-2324b1e .col-title, .elementor-109 .elementor-element.elementor-element-2324b1e .col-title a{font-size:22px;}.elementor-109 .elementor-element.elementor-element-2324b1e .widget-content{font-size:15px;}}/* Start custom CSS for aux_text, class: .elementor-element-2324b1e */.elementor-109 .elementor-element.elementor-element-2324b1e .aux-text-widget-content{
    display: flex;
    justify-content: space-between;
}
.elementor-109 .elementor-element.elementor-element-2324b1e .col-title{
    position: absolute;
    left: 8%;
    top: -70%;
}
.elementor-109 .elementor-element.elementor-element-2324b1e .widget-content{
    position: absolute;
    right: 8%;
    top: -75%;
}
.elementor-109 .elementor-element.elementor-element-2324b1e img{
    border-radius: 30px;
}
.elementor-109 .elementor-element.elementor-element-2324b1e .aux-ico-box, .elementor-109 .elementor-element.elementor-element-2324b1e{
    width: 100%!important;
    max-width: 100%!important;
}/* End custom CSS */