.elementor-72 .elementor-element.elementor-element-8d93d63{margin-top:60px;margin-bottom:150px;padding:40px 35px 0px 35px;}.elementor-72 .elementor-element.elementor-element-24180a7 .aux-modern-heading-primary{font-size:120px;font-weight:bold;line-height:0.13em;color:var( --e-global-color-primary );margin:0% 10% 0% 0%;}.elementor-72 .elementor-element.elementor-element-24180a7 .aux-modern-heading-secondary{font-size:120px;font-weight:bold;line-height:1.3em;color:#FFFFFF00;margin:-30px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-24180a7 .aux-modern-heading-description{color:var( --e-global-color-text );font-size:16px;line-height:1.5em;margin:-35px 0px 0px 0px;max-width:380px;}.elementor-72 .elementor-element.elementor-element-24180a7 > .elementor-widget-container{margin:0px 0px -60px 120px;transition-timing-function:cubic-bezier(0.165,0.84,0.44,1);transition-duration:1000ms;transition-property:all;}.elementor-72 .elementor-element.elementor-element-24180a7{width:auto;max-width:1055px;z-index:1;animation-duration:3000ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-72 .elementor-element.elementor-element-725b4d6 .aux-media-image{max-width:100%;}.elementor-72 .elementor-element.elementor-element-725b4d6{animation-duration:3100ms;animation-timing-function:cubic-bezier(0.77,0,0.175,1);}.elementor-72 .elementor-element.elementor-element-db4d514{margin-top:0px;margin-bottom:220px;padding:0px 35px 0px 35px;}.elementor-72 .elementor-element.elementor-element-5a1e28b.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-72 .elementor-element.elementor-element-ec4e116 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-72 .elementor-element.elementor-element-ec4e116 .aux-modern-heading-primary{font-size:60px;font-weight:bold;line-height:1.3em;color:var( --e-global-color-primary );margin:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-ec4e116 > .elementor-widget-container{margin:0px 0px 90px 0px;}.elementor-72 .elementor-element.elementor-element-ec4e116{width:auto;max-width:auto;animation-duration:1500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-72 .elementor-element.elementor-element-a9281d0 > .elementor-element-populated{margin:0px 20px 0px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-72 .elementor-element.elementor-element-f62abb1 .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-f62abb1 .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-72 .elementor-element.elementor-element-f62abb1 .col-title a, .elementor-72 .elementor-element.elementor-element-f62abb1 .col-title{color:var( --e-global-color-primary );}.elementor-72 .elementor-element.elementor-element-f62abb1 .col-title, .elementor-72 .elementor-element.elementor-element-f62abb1 .col-title a{font-size:30px;font-weight:bold;text-transform:capitalize;line-height:1.3em;}.elementor-72 .elementor-element.elementor-element-f62abb1 .widget-content{color:var( --e-global-color-text );font-size:16px;line-height:1.5em;}.elementor-72 .elementor-element.elementor-element-f62abb1 .aux-widget-advanced-text{text-align:center !important;padding:23% 13% 7% 13%;border-style:solid;border-width:2px 2px 2px 2px;border-color:var( --e-global-color-secondary );transition-duration:300ms;}.elementor-72 .elementor-element.elementor-element-f62abb1 .aux-widget-advanced-text:hover{border-style:solid;border-width:2px 2px 2px 2px;border-color:var( --e-global-color-primary );}.elementor-72 .elementor-element.elementor-element-f62abb1{animation-duration:2000ms;animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-72 .elementor-element.elementor-element-4485a03 > .elementor-element-populated{margin:0px 20px 0px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-72 .elementor-element.elementor-element-892d46a .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-892d46a .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-72 .elementor-element.elementor-element-892d46a .col-title a, .elementor-72 .elementor-element.elementor-element-892d46a .col-title{color:var( --e-global-color-primary );}.elementor-72 .elementor-element.elementor-element-892d46a .col-title, .elementor-72 .elementor-element.elementor-element-892d46a .col-title a{font-size:30px;font-weight:bold;text-transform:capitalize;line-height:1.3em;}.elementor-72 .elementor-element.elementor-element-892d46a .widget-content{color:var( --e-global-color-text );font-size:16px;line-height:1.5em;}.elementor-72 .elementor-element.elementor-element-892d46a .aux-widget-advanced-text{text-align:center !important;padding:23% 13% 7% 13%;border-style:solid;border-width:2px 2px 2px 2px;border-color:var( --e-global-color-secondary );transition-duration:300ms;}.elementor-72 .elementor-element.elementor-element-892d46a .aux-widget-advanced-text:hover{border-style:solid;border-width:2px 2px 2px 2px;border-color:var( --e-global-color-primary );}.elementor-72 .elementor-element.elementor-element-892d46a{animation-duration:2000ms;animation-delay:250ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-72 .elementor-element.elementor-element-c1d85df > .elementor-element-populated{margin:0px 20px 0px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-72 .elementor-element.elementor-element-c42308e .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-c42308e .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-72 .elementor-element.elementor-element-c42308e .col-title a, .elementor-72 .elementor-element.elementor-element-c42308e .col-title{color:var( --e-global-color-primary );}.elementor-72 .elementor-element.elementor-element-c42308e .col-title, .elementor-72 .elementor-element.elementor-element-c42308e .col-title a{font-size:30px;font-weight:bold;text-transform:capitalize;line-height:1.3em;}.elementor-72 .elementor-element.elementor-element-c42308e .widget-content{color:var( --e-global-color-text );font-size:16px;line-height:1.5em;}.elementor-72 .elementor-element.elementor-element-c42308e .aux-widget-advanced-text{text-align:center !important;padding:23% 13% 7% 13%;border-style:solid;border-width:2px 2px 2px 2px;border-color:var( --e-global-color-secondary );transition-duration:300ms;}.elementor-72 .elementor-element.elementor-element-c42308e .aux-widget-advanced-text:hover{border-style:solid;border-width:2px 2px 2px 2px;border-color:var( --e-global-color-primary );}.elementor-72 .elementor-element.elementor-element-c42308e{animation-duration:2000ms;animation-delay:250ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-72 .elementor-element.elementor-element-fdc4d99 > .elementor-element-populated{margin:0px 20px 0px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-72 .elementor-element.elementor-element-d71eddc .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-d71eddc .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-72 .elementor-element.elementor-element-d71eddc .col-title a, .elementor-72 .elementor-element.elementor-element-d71eddc .col-title{color:var( --e-global-color-primary );}.elementor-72 .elementor-element.elementor-element-d71eddc .col-title, .elementor-72 .elementor-element.elementor-element-d71eddc .col-title a{font-size:30px;font-weight:bold;text-transform:capitalize;line-height:1.3em;}.elementor-72 .elementor-element.elementor-element-d71eddc .widget-content{color:var( --e-global-color-text );font-size:16px;line-height:1.5em;}.elementor-72 .elementor-element.elementor-element-d71eddc .aux-widget-advanced-text{text-align:center !important;padding:23% 13% 7% 13%;border-style:solid;border-width:2px 2px 2px 2px;border-color:var( --e-global-color-secondary );transition-duration:300ms;}.elementor-72 .elementor-element.elementor-element-d71eddc .aux-widget-advanced-text:hover{border-style:solid;border-width:2px 2px 2px 2px;border-color:var( --e-global-color-primary );}.elementor-72 .elementor-element.elementor-element-d71eddc{animation-duration:2000ms;animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-72 .elementor-element.elementor-element-8305362{margin-top:0px;margin-bottom:200px;padding:0px 35px 0px 35px;}.elementor-bc-flex-widget .elementor-72 .elementor-element.elementor-element-a746205.elementor-column .elementor-column-wrap{align-items:center;}.elementor-72 .elementor-element.elementor-element-a746205.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-72 .elementor-element.elementor-element-245eb79{animation-duration:2500ms;animation-timing-function:cubic-bezier(0.77,0,0.175,1);}.elementor-72 .elementor-element.elementor-element-cafd1d5 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-72 .elementor-element.elementor-element-cafd1d5 .aux-modern-heading-secondary{font-size:120px;font-weight:bold;line-height:1.3em;color:var( --e-global-color-primary );margin:-30px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-cafd1d5 .aux-modern-heading-secondary .aux-head-highlight{color:#02010100;margin:0px 0px 0px 26px;}.elementor-72 .elementor-element.elementor-element-cafd1d5 > .elementor-widget-container{margin:-120px 0px 0px 0px;transition-timing-function:cubic-bezier(0.165,0.84,0.44,1);transition-duration:1000ms;transition-property:all;}.elementor-72 .elementor-element.elementor-element-cafd1d5{animation-duration:2500ms;animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);max-width:1055px;}.elementor-bc-flex-widget .elementor-72 .elementor-element.elementor-element-f08f51f.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-72 .elementor-element.elementor-element-f08f51f.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-72 .elementor-element.elementor-element-f08f51f > .elementor-element-populated > .elementor-widget-wrap{padding:0% 0% 0% 22%;}.elementor-72 .elementor-element.elementor-element-b908f45 .aux-modern-heading-primary{font-size:60px;line-height:1.3em;color:var( --e-global-color-primary );max-width:621px;}.elementor-72 .elementor-element.elementor-element-b908f45 .aux-modern-heading-description{color:var( --e-global-color-text );font-size:16px;line-height:1.5em;max-width:621px;}.elementor-72 .elementor-element.elementor-element-b908f45{animation-duration:1500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-72 .elementor-element.elementor-element-cd24189 .aux-modern-button-wrapper{text-align:left;}.elementor-72 .elementor-element.elementor-element-cd24189 .aux-modern-button.aux-modern-button-outline .aux-overlay:before, .elementor-72 .elementor-element.elementor-element-cd24189 .aux-modern-button .aux-overlay:before{background-color:var( --e-global-color-primary );}.elementor-72 .elementor-element.elementor-element-cd24189 .aux-modern-button{padding:19px 38px 19px 38px;}.elementor-72 .elementor-element.elementor-element-cd24189 .aux-modern-button.aux-modern-button-outline .aux-overlay:after, .elementor-72 .elementor-element.elementor-element-cd24189 .aux-modern-button .aux-overlay:after{background-color:var( --e-global-color-secondary );}.elementor-72 .elementor-element.elementor-element-cd24189 .aux-text{font-size:16px;font-weight:normal;line-height:1em;color:var( --e-global-color-secondary );}.elementor-72 .elementor-element.elementor-element-cd24189 .aux-modern-button:hover .aux-text{color:var( --e-global-color-primary );}.elementor-72 .elementor-element.elementor-element-cd24189 .aux-icon{font-size:30px;margin:0px 0px 0px 30px;}.elementor-72 .elementor-element.elementor-element-cd24189 .aux-modern-button:hover .aux-icon{color:var( --e-global-color-primary );}.elementor-72 .elementor-element.elementor-element-cd24189{animation-duration:2500ms;animation-timing-function:cubic-bezier(0.77,0,0.175,1);}.elementor-72 .elementor-element.elementor-element-27d76f3{margin-top:0px;margin-bottom:200px;padding:0px 35px 0px 35px;}.elementor-72 .elementor-element.elementor-element-da62911 > .elementor-element-populated{margin:0px 20px 0px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-72 .elementor-element.elementor-element-915ad50 .aux-counter-number-wrapper{color:var( --e-global-color-primary );font-size:65px;font-weight:800;}.elementor-72 .elementor-element.elementor-element-915ad50 .aux-counter-title{color:#AAA9AE;font-size:16px;}.elementor-72 .elementor-element.elementor-element-915ad50{animation-duration:2000ms;animation-delay:150ms;animation-timing-function:cubic-bezier(0.19,1,0.22,1);}.elementor-72 .elementor-element.elementor-element-2480c5b > .elementor-element-populated{margin:0px 20px 0px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-72 .elementor-element.elementor-element-2480c5b > .elementor-element-populated > .elementor-widget-wrap{padding:75px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-60268ce .aux-counter-number-wrapper{color:var( --e-global-color-secondary );font-size:65px;font-weight:800;}.elementor-72 .elementor-element.elementor-element-60268ce .aux-counter-title{color:var( --e-global-color-primary );font-size:16px;}.elementor-72 .elementor-element.elementor-element-60268ce{animation-duration:2000ms;animation-delay:500ms;animation-timing-function:cubic-bezier(0.19,1,0.22,1);}.elementor-72 .elementor-element.elementor-element-8510c4f > .elementor-element-populated{margin:0px 20px 0px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-72 .elementor-element.elementor-element-10e0a54 .aux-counter-number-wrapper{color:var( --e-global-color-primary );font-size:65px;font-weight:800;}.elementor-72 .elementor-element.elementor-element-10e0a54 .aux-counter-title{color:#AAA9AE;font-size:16px;}.elementor-72 .elementor-element.elementor-element-10e0a54{animation-duration:200ms;animation-delay:350ms;animation-timing-function:cubic-bezier(0.19,1,0.22,1);}.elementor-72 .elementor-element.elementor-element-8946885 > .elementor-element-populated{margin:0px 20px 0px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-72 .elementor-element.elementor-element-8946885 > .elementor-element-populated > .elementor-widget-wrap{padding:75px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-86e8cff .aux-counter-number-wrapper{color:var( --e-global-color-secondary );font-size:65px;font-weight:800;}.elementor-72 .elementor-element.elementor-element-86e8cff .aux-counter-title{color:var( --e-global-color-primary );font-size:16px;}.elementor-72 .elementor-element.elementor-element-86e8cff{animation-duration:2000ms;animation-delay:800ms;animation-timing-function:cubic-bezier(0.19,1,0.22,1);}.elementor-72 .elementor-element.elementor-element-0ea5104:not(.elementor-motion-effects-element-type-background), .elementor-72 .elementor-element.elementor-element-0ea5104 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F9F9F9;}.elementor-72 .elementor-element.elementor-element-0ea5104{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-72 .elementor-element.elementor-element-0ea5104 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-72 .elementor-element.elementor-element-e7fa9db{padding:0px 35px 0px 35px;}.elementor-72 .elementor-element.elementor-element-b515ccc > .elementor-element-populated > .elementor-widget-wrap{padding:150px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-fc5dc1c .aux-modern-heading-primary{font-size:60px;font-weight:bold;line-height:1.3em;color:var( --e-global-color-primary );margin:0px 0px 0px 0px;max-width:363px;}.elementor-72 .elementor-element.elementor-element-fc5dc1c > .elementor-widget-container{margin:0px 0px 90px 0px;}.elementor-72 .elementor-element.elementor-element-fc5dc1c{width:auto;max-width:auto;animation-duration:2000ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-filters:not(.aux-slideup) li > a span, .elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-filters.aux-slideup li > a span:before{color:#C7C7C7;}.elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-filters li > a{font-size:16px;text-transform:capitalize;line-height:1.3em;}.elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-filters li > a.aux-selected span:after, .elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-filters:not(.aux-slideup) li > a.aux-selected span{color:var( --e-global-color-primary );}.elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-filters li > a.aux-selected{text-decoration:line-through;}.elementor-72 .elementor-element.elementor-element-fc1ca0f .entry-header .entry-title a{color:var( --e-global-color-primary );font-size:30px;font-weight:bold;line-height:1.3em;}.elementor-72 .elementor-element.elementor-element-fc1ca0f .entry-header .entry-title a:hover{color:var( --e-global-color-secondary );}.elementor-72 .elementor-element.elementor-element-fc1ca0f .entry-tax a{color:#C7C7C7;}.elementor-72 .elementor-element.elementor-element-fc1ca0f .entry-tax a:hover{color:var( --e-global-color-secondary );}.elementor-72 .elementor-element.elementor-element-fc1ca0f .entry-tax{font-size:16px;font-style:normal;line-height:1.3em;}.elementor-72 .elementor-element.elementor-element-fc1ca0f .entry-main{padding:0px 0px 0px 0px !important;}.elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-iso-item{margin-bottom:30px !important;}.elementor-72 .elementor-element.elementor-element-fc1ca0f > .elementor-widget-container{margin:-200px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-fc1ca0f{animation-duration:2000ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-72 .elementor-element.elementor-element-4e5e944{margin-top:160px;margin-bottom:200px;padding:0px 35px 0px 35px;}.elementor-bc-flex-widget .elementor-72 .elementor-element.elementor-element-3f1328c.elementor-column .elementor-column-wrap{align-items:center;}.elementor-72 .elementor-element.elementor-element-3f1328c.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-72 .elementor-element.elementor-element-3f1328c.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-72 .elementor-element.elementor-element-345c967 .aux-widget-container{text-align:center;}.elementor-72 .elementor-element.elementor-element-345c967{width:auto;max-width:auto;animation-duration:2000ms;animation-delay:750ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-bc-flex-widget .elementor-72 .elementor-element.elementor-element-39b84a6.elementor-column .elementor-column-wrap{align-items:center;}.elementor-72 .elementor-element.elementor-element-39b84a6.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-72 .elementor-element.elementor-element-39b84a6.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-72 .elementor-element.elementor-element-05a5f06 .aux-widget-container{text-align:center;}.elementor-72 .elementor-element.elementor-element-05a5f06{width:auto;max-width:auto;animation-duration:2000ms;animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-bc-flex-widget .elementor-72 .elementor-element.elementor-element-f4fa24a.elementor-column .elementor-column-wrap{align-items:center;}.elementor-72 .elementor-element.elementor-element-f4fa24a.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-72 .elementor-element.elementor-element-f4fa24a.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-72 .elementor-element.elementor-element-958be3a .aux-widget-container{text-align:center;}.elementor-72 .elementor-element.elementor-element-958be3a{width:auto;max-width:auto;animation-duration:2000ms;animation-delay:250ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-bc-flex-widget .elementor-72 .elementor-element.elementor-element-288535f.elementor-column .elementor-column-wrap{align-items:center;}.elementor-72 .elementor-element.elementor-element-288535f.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-72 .elementor-element.elementor-element-288535f.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-72 .elementor-element.elementor-element-28a573b .aux-widget-container{text-align:center;}.elementor-72 .elementor-element.elementor-element-28a573b{width:auto;max-width:auto;animation-duration:2000ms;animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-bc-flex-widget .elementor-72 .elementor-element.elementor-element-3ebbdac.elementor-column .elementor-column-wrap{align-items:center;}.elementor-72 .elementor-element.elementor-element-3ebbdac.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-72 .elementor-element.elementor-element-3ebbdac.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-72 .elementor-element.elementor-element-65a69b6 .aux-widget-container{text-align:center;}.elementor-72 .elementor-element.elementor-element-65a69b6{width:auto;max-width:auto;animation-duration:2000ms;animation-delay:750ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-72 .elementor-element.elementor-element-a65742e{margin-top:0px;margin-bottom:200px;padding:0px 35px 0px 35px;}.elementor-72 .elementor-element.elementor-element-fe54bcd.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:space-between;}.elementor-72 .elementor-element.elementor-element-36061f7 .aux-modern-heading-primary{font-size:60px;font-weight:bold;line-height:1.3em;color:var( --e-global-color-primary );margin:0px 0px 0px 0px;max-width:400px;}.elementor-72 .elementor-element.elementor-element-36061f7 > .elementor-widget-container{margin:0px 0px 90px 0px;}.elementor-72 .elementor-element.elementor-element-36061f7{width:auto;max-width:auto;animation-duration:2000ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-72 .elementor-element.elementor-element-0f1597e .aux-carousel-navigation{justify-content:center;}.elementor-72 .elementor-element.elementor-element-0f1597e .aux-carousel-navigation .aux-prev{margin-right:27px;}.elementor-72 .elementor-element.elementor-element-0f1597e .aux-custom-nav{color:#3d3d3d;font-size:25px;}.elementor-72 .elementor-element.elementor-element-0f1597e > .elementor-widget-container{margin:150px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-0f1597e{width:auto;max-width:auto;}.elementor-72 .elementor-element.elementor-element-f4e1487 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-f4e1487{animation-duration:2000ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-72 .elementor-element.elementor-element-4993fbc{margin-top:0px;margin-bottom:100px;padding:0px 35px 0px 35px;}.elementor-72 .elementor-element.elementor-element-1acd92d.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-72 .elementor-element.elementor-element-99e58a8 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-72 .elementor-element.elementor-element-99e58a8 .aux-modern-heading-primary{font-size:60px;font-weight:bold;line-height:1.3em;color:var( --e-global-color-primary );margin:0px 0px 0px 0px;max-width:363px;}.elementor-72 .elementor-element.elementor-element-99e58a8 > .elementor-widget-container{margin:0px 0px 90px 0px;}.elementor-72 .elementor-element.elementor-element-99e58a8{width:auto;max-width:auto;animation-duration:1500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-72 .elementor-element.elementor-element-41af976 .entry-title a{color:var( --e-global-color-primary );font-size:20px;font-weight:bold;line-height:1.2em;}.elementor-72 .elementor-element.elementor-element-41af976 .entry-info a, .elementor-72 .elementor-element.elementor-element-41af976 .entry-info{color:#0000003D;}.elementor-72 .elementor-element.elementor-element-41af976 .entry-info, .elementor-72 .elementor-element.elementor-element-41af976 .entry-info a{font-family:"Lato", Sans-serif;font-size:14px;line-height:1.2em;}.elementor-72 .elementor-element.elementor-element-41af976 .type-post .entry-main{padding:25px 40px 0px 0px;}.elementor-72 .elementor-element.elementor-element-41af976 .aux-col .column-entry{box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0);}.elementor-72 .elementor-element.elementor-element-41af976{text-align:left;animation-duration:1500ms;animation-delay:250ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-72 .elementor-element.elementor-element-41af976 .entry-meta .aux-read-more{font-family:"Lato", Sans-serif;font-size:14px;}.elementor-72 .elementor-element.elementor-element-41af976 > .elementor-widget-container{margin:0px -25px 0px 15px;}@media(max-width:1024px) and (min-width:768px){.elementor-72 .elementor-element.elementor-element-a9281d0{width:50%;}.elementor-72 .elementor-element.elementor-element-4485a03{width:50%;}.elementor-72 .elementor-element.elementor-element-c1d85df{width:50%;}.elementor-72 .elementor-element.elementor-element-fdc4d99{width:50%;}.elementor-72 .elementor-element.elementor-element-a746205{width:100%;}.elementor-72 .elementor-element.elementor-element-f08f51f{width:100%;}.elementor-72 .elementor-element.elementor-element-da62911{width:50%;}.elementor-72 .elementor-element.elementor-element-2480c5b{width:50%;}.elementor-72 .elementor-element.elementor-element-8510c4f{width:50%;}.elementor-72 .elementor-element.elementor-element-8946885{width:50%;}}@media(max-width:1024px){.elementor-72 .elementor-element.elementor-element-24180a7 .aux-modern-heading-primary{font-size:90px;}.elementor-72 .elementor-element.elementor-element-24180a7 .aux-modern-heading-secondary{font-size:90px;margin:-65px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-24180a7 .aux-modern-heading-description{margin:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-24180a7 > .elementor-widget-container{margin:0px 0px -40px 120px;}.elementor-72 .elementor-element.elementor-element-725b4d6 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-a9281d0 > .elementor-element-populated{margin:0px 0px 40px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-72 .elementor-element.elementor-element-f62abb1 .aux-widget-advanced-text{padding:15% 5% 0% 5%;}.elementor-72 .elementor-element.elementor-element-4485a03 > .elementor-element-populated{margin:0px 0px 40px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-72 .elementor-element.elementor-element-892d46a .aux-widget-advanced-text{padding:15% 5% 0% 5%;}.elementor-72 .elementor-element.elementor-element-c1d85df > .elementor-element-populated{margin:0px 0px 40px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-72 .elementor-element.elementor-element-c42308e .aux-widget-advanced-text{padding:15% 5% 0% 5%;}.elementor-72 .elementor-element.elementor-element-fdc4d99 > .elementor-element-populated{margin:0px 0px 40px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-72 .elementor-element.elementor-element-d71eddc .aux-widget-advanced-text{padding:15% 5% 0% 5%;}.elementor-72 .elementor-element.elementor-element-8305362{margin-top:0px;margin-bottom:120px;}.elementor-72 .elementor-element.elementor-element-cafd1d5 .aux-modern-heading-secondary{margin:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-f08f51f > .elementor-element-populated{margin:0px 0px 60px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-72 .elementor-element.elementor-element-f08f51f > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-b908f45 .aux-modern-heading-description{max-width:100%;}.elementor-72 .elementor-element.elementor-element-b908f45{width:auto;max-width:auto;}.elementor-72 .elementor-element.elementor-element-cd24189 > .elementor-widget-container{margin:0px 0px 40px 0px;}.elementor-72 .elementor-element.elementor-element-27d76f3{margin-top:0px;margin-bottom:120px;}.elementor-72 .elementor-element.elementor-element-345c967 .aux-the-svg{width:70%;}.elementor-72 .elementor-element.elementor-element-345c967 .aux-widget-container{text-align:center;}.elementor-72 .elementor-element.elementor-element-345c967{width:auto;max-width:auto;}.elementor-72 .elementor-element.elementor-element-05a5f06 .aux-the-svg{width:70%;}.elementor-72 .elementor-element.elementor-element-05a5f06 .aux-widget-container{text-align:center;}.elementor-72 .elementor-element.elementor-element-05a5f06{width:auto;max-width:auto;}.elementor-72 .elementor-element.elementor-element-958be3a .aux-the-svg{width:70%;}.elementor-72 .elementor-element.elementor-element-958be3a .aux-widget-container{text-align:center;}.elementor-72 .elementor-element.elementor-element-958be3a{width:auto;max-width:auto;}.elementor-72 .elementor-element.elementor-element-28a573b .aux-the-svg{width:70%;}.elementor-72 .elementor-element.elementor-element-28a573b .aux-widget-container{text-align:center;}.elementor-72 .elementor-element.elementor-element-28a573b{width:auto;max-width:auto;}.elementor-72 .elementor-element.elementor-element-65a69b6 .aux-the-svg{width:70%;}.elementor-72 .elementor-element.elementor-element-65a69b6 .aux-widget-container{text-align:center;}.elementor-72 .elementor-element.elementor-element-65a69b6{width:auto;max-width:auto;}.elementor-72 .elementor-element.elementor-element-41af976 .type-post .entry-main{padding:20px 60px 0px 0px;}}@media(max-width:767px){.elementor-72 .elementor-element.elementor-element-24180a7 .aux-modern-heading-primary{font-size:60px;margin:0px 0px 10px 0px;}.elementor-72 .elementor-element.elementor-element-24180a7 .aux-modern-heading-secondary{font-size:60px;margin:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-24180a7 .aux-modern-heading-description{margin:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-24180a7 > .elementor-widget-container{margin:0px 0px 40px 0px;}.elementor-72 .elementor-element.elementor-element-ec4e116 .aux-modern-heading-primary{font-size:40px;}.elementor-72 .elementor-element.elementor-element-cafd1d5 .aux-modern-heading-secondary{font-size:60px;}.elementor-72 .elementor-element.elementor-element-cafd1d5 > .elementor-widget-container{margin:-90px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-b908f45 .aux-modern-heading-primary{font-size:40px;}.elementor-72 .elementor-element.elementor-element-da62911 > .elementor-element-populated{margin:0px 0px 50px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-72 .elementor-element.elementor-element-2480c5b > .elementor-element-populated{margin:0px 0px 50px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-72 .elementor-element.elementor-element-2480c5b > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-8510c4f > .elementor-element-populated{margin:0px 0px 50px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-72 .elementor-element.elementor-element-8946885 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-fc5dc1c .aux-modern-heading-primary{font-size:40px;max-width:260px;}.elementor-72 .elementor-element.elementor-element-fc5dc1c > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-72 .elementor-element.elementor-element-fc1ca0f > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-3f1328c > .elementor-element-populated{margin:0px 0px 60px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-72 .elementor-element.elementor-element-39b84a6 > .elementor-element-populated{margin:0px 0px 60px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-72 .elementor-element.elementor-element-f4fa24a > .elementor-element-populated{margin:0px 0px 60px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-72 .elementor-element.elementor-element-288535f > .elementor-element-populated{margin:0px 0px 60px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-72 .elementor-element.elementor-element-36061f7 .aux-modern-heading-primary{font-size:40px;max-width:260px;}.elementor-72 .elementor-element.elementor-element-36061f7 > .elementor-widget-container{margin:0px 0px 50px 0px;}.elementor-72 .elementor-element.elementor-element-0f1597e > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-72 .elementor-element.elementor-element-0f1597e{width:100%;max-width:100%;}.elementor-72 .elementor-element.elementor-element-99e58a8 .aux-modern-heading-primary{font-size:40px;}.elementor-72 .elementor-element.elementor-element-41af976 .entry-title a{font-size:16px;line-height:1.2em;}.elementor-72 .elementor-element.elementor-element-41af976 .entry-info, .elementor-72 .elementor-element.elementor-element-41af976 .entry-info a{font-size:14px;}.elementor-72 .elementor-element.elementor-element-41af976 > .elementor-widget-container{margin:0px -15px 0px 15px;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-24180a7 */.elementor-72 .elementor-element.elementor-element-24180a7 .aux-modern-heading-secondary{
  -webkit-text-stroke: 2px  var( --e-global-color-primary );
}

@media only screen and (min-width:768px){
    .elementor-72 .elementor-element.elementor-element-24180a7 .aux-widget-inner{
    display: flex;
    flex-flow:row wrap;
    }
.elementor-72 .elementor-element.elementor-element-24180a7 .aux-modern-heading-secondary{
    order: 3;
    flex-basis: 100%;
}  
    
}  

@media only screen and (max-width:1150px) and (min-width:1025px){
    .elementor-72 .elementor-element.elementor-element-24180a7 .aux-modern-heading-primary,.elementor-72 .elementor-element.elementor-element-24180a7 .aux-modern-heading-secondary{
        font-size:90px;
    }}
    
.elementor-72 .elementor-element.elementor-element-24180a7:before{
    content: "";
    position: absolute;
    width: 223px;
    height: 2px;
    background-color:  var( --e-global-color-primary );
    top:-70px;
    right: 0px;
} 
@media only screen and (max-width:1150px) and (min-width:1025px){
    .elementor-72 .elementor-element.elementor-element-24180a7 {
        max-width:930px;
    }
    .elementor-72 .elementor-element.elementor-element-24180a7 .elementor-widget-container{
        margin-bottom:-45px;
    }
}
@media only screen and (max-width:1000px) and (min-width:768px){
    .elementor-72 .elementor-element.elementor-element-24180a7 .elementor-widget-container{
        margin-left:0!important;
        margin-bottom:-25px!important;
    }
    .elementor-72 .elementor-element.elementor-element-24180a7 .aux-modern-heading-primary,.elementor-72 .elementor-element.elementor-element-24180a7 .aux-modern-heading-secondary{
        font-size:62px!important;
    }
}
@media only screen and (max-width:767px){
    .elementor-72 .elementor-element.elementor-element-24180a7:before{
        width: 120px;
        right:unset;
        left:110px;
    }
}/* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-725b4d6 */.elementor-72 .elementor-element.elementor-element-725b4d6 .aux-media-image:before{
    content:"";
    width: 120px;
    height: 120px;
    position: absolute;
    top:-30px;
    right: -30px;
    border: 2px solid var( --e-global-color-primary );
    z-index: -1;
}
@media only screen and (max-width:767px){
    .elementor-72 .elementor-element.elementor-element-725b4d6 .aux-media-image:before{
        width:50px;
        height:50px;
        top:-10px;
    right: -10px;
    }
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-ec4e116 */.elementor-72 .elementor-element.elementor-element-ec4e116:before{
    content: "";
    position: absolute;
    width: 55%;
    height: 2px;
    background-color:  var( --e-global-color-primary );
    top:-45px;
    right: 0px;
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-f62abb1 */@media only screen and (max-width:1555px) and (min-width:1025px){
    .elementor-72 .elementor-element.elementor-element-f62abb1 .col-title{
        font-size:18px;
    }
    .elementor-72 .elementor-element.elementor-element-f62abb1 .widget-content{
        font-size:14px;
    }
}
.elementor-72 .elementor-element.elementor-element-f62abb1 svg path{
    fill: var( --e-global-color-primary );
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-892d46a */@media only screen and (max-width:1555px) and (min-width:1025px){
    .elementor-72 .elementor-element.elementor-element-892d46a .col-title{
        font-size:18px;
    }
    .elementor-72 .elementor-element.elementor-element-892d46a .widget-content{
        font-size:14px;
    }
}
.elementor-72 .elementor-element.elementor-element-892d46a svg path{
    fill: var( --e-global-color-primary );
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-c42308e */@media only screen and (max-width:1555px) and (min-width:1025px){
    .elementor-72 .elementor-element.elementor-element-c42308e .col-title{
        font-size:18px;
    }
    .elementor-72 .elementor-element.elementor-element-c42308e .widget-content{
        font-size:14px;
    }
}
.elementor-72 .elementor-element.elementor-element-c42308e svg path{
    fill: var( --e-global-color-primary );
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-d71eddc */@media only screen and (max-width:1555px) and (min-width:1025px){
    .elementor-72 .elementor-element.elementor-element-d71eddc .col-title{
        font-size:18px;
    }
    .elementor-72 .elementor-element.elementor-element-d71eddc .widget-content{
        font-size:14px;
    }
}
.elementor-72 .elementor-element.elementor-element-d71eddc svg path{
    fill: var( --e-global-color-primary );
}/* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-245eb79 */.elementor-72 .elementor-element.elementor-element-245eb79 .aux-media-image:before{
    content:"";
    width: 37%;
    height: 98%;
    position: absolute;
    top:-42px;
    right: -42px;
    border: 2px solid var( --e-global-color-primary );
    z-index: -1;
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-cafd1d5 */.elementor-72 .elementor-element.elementor-element-cafd1d5 .aux-modern-heading-secondary .aux-head-highlight{
  -webkit-text-stroke: 2px  var( --e-global-color-primary );
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-b908f45 */.elementor-72 .elementor-element.elementor-element-b908f45:before{
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    background-color:  var( --e-global-color-primary );
    top:-45px;
    right: 0px;
} 
@media only screen and (max-width:1440px) and (min-width:1025px){
    .elementor-72 .elementor-element.elementor-element-b908f45 .aux-modern-heading-primary{
        font-size:56px!important;
    }
}
@media only screen and (max-width:1362px) and (min-width:1025px){
    .elementor-72 .elementor-element.elementor-element-b908f45 .aux-modern-heading-primary{
        font-size:41px!important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_modern_button, class: .elementor-element-cd24189 */.elementor-72 .elementor-element.elementor-element-cd24189 .aux-modern-button:hover svg path{
    fill:var( --e-global-color-primary );
    transition: all 300ms ease-out;
    
}
.elementor-72 .elementor-element.elementor-element-cd24189 .aux-modern-button .aux-icon{
    left: 0px;
    top:0px;
    transition: all 300ms ease-out;
    
}
.elementor-72 .elementor-element.elementor-element-cd24189 .aux-modern-button:hover .aux-icon{
    left: 20px;
    }
.elementor-72 .elementor-element.elementor-element-cd24189 .aux-modern-button{
    border:2px solid var( --e-global-color-primary );
}
.elementor-72 .elementor-element.elementor-element-cd24189 .aux-modern-button:hover{
    border:2px solid var( --e-global-color-primary );
}/* End custom CSS */
/* Start custom CSS for aux_counter, class: .elementor-element-60268ce */.elementor-72 .elementor-element.elementor-element-60268ce .aux-counter-number{
  -webkit-text-stroke: 2px  var( --e-global-color-primary );
}/* End custom CSS */
/* Start custom CSS for aux_counter, class: .elementor-element-86e8cff */.elementor-72 .elementor-element.elementor-element-86e8cff .aux-counter-number{
  -webkit-text-stroke: 2px  var( --e-global-color-primary );
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-fc5dc1c */.elementor-72 .elementor-element.elementor-element-fc5dc1c:before{
    content: "";
    position: absolute;
    width: 55%;
    height: 2px;
    background-color:  var( --e-global-color-primary );
    top:-45px;
    right: 0px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_portfolios_grid, class: .elementor-element-fc1ca0f */.elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-widget-recent-portfolios .aux-isotope-layout.aux-isotope-ready{
    overflow: visible!important;
}
.elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-iso-item{
    margin-top: 100px!important;
    padding-right: 52px!important;
    padding-left: 52px!important;
}
.elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-iso-item:before{
    content: "";
    position: absolute;
    width:80%;
    height: 92%;
    border: 2px solid var( --e-global-color-primary );
    left:0px;
    top: 60px;
    transition: all 300ms ease-out; 
    }
.elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-iso-item:hover:before{
   background-color: var( --e-global-color-primary );
    transition: all 300ms ease-out; 
    }
  
.elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-iso-item:hover .entry-title a,.elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-iso-item:hover .entry-info a{
color:var( --e-global-color-secondary );
 transition: all 300ms ease-out;
} 

.elementor-72 .elementor-element.elementor-element-fc1ca0f .count-box{
    display: none;
}
@media only screen and (max-width:767px){
    .elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-widget-recent-portfolios .aux-filters.aux-right ul {
        float:left;
    }
   .elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-iso-item:first-child{
    margin-top:40px!important;
       
   }
}
@media only screen and (max-width:768px){
    .elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-iso-item{
    margin-top: 50px!important;
    padding-right:35px!important;
    padding-left: 35px!important;
}
.elementor-72 .elementor-element.elementor-element-fc1ca0f .entry-title a{
    font-size:20px!important;
}
.elementor-72 .elementor-element.elementor-element-fc1ca0f .entry-main{
    padding-right:70px!important;
}
.elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-iso-item:before{
    height: 88%;
    top: 40px;
    
    }
}
@media only screen and (max-width:320px){
    .elementor-72 .elementor-element.elementor-element-fc1ca0f .entry-title a{
    font-size:18px!important;
}
.elementor-72 .elementor-element.elementor-element-fc1ca0f .entry-info a{
    font-size:14px!important;
}
.elementor-72 .elementor-element.elementor-element-fc1ca0f .entry-main{
    padding-right:40px!important;
}
.elementor-72 .elementor-element.elementor-element-fc1ca0f .aux-iso-item{
       padding-left: 20px!important;
}
}/* End custom CSS */
/* Start custom CSS for aux_simple_svg, class: .elementor-element-345c967 */.elementor-72 .elementor-element.elementor-element-345c967 img {
    opacity:0.2;
     transition: opacity 300ms ease-out
}

.elementor-72 .elementor-element.elementor-element-345c967 img:hover{
    opacity: 1
}
.elementor-72 .elementor-element.elementor-element-345c967 .aux-the-svg {
    margin: 0 auto;
}/* End custom CSS */
/* Start custom CSS for aux_simple_svg, class: .elementor-element-05a5f06 */.elementor-72 .elementor-element.elementor-element-05a5f06 img {
    opacity:0.2;
    transition: opacity 300ms ease-out
}

.elementor-72 .elementor-element.elementor-element-05a5f06 img:hover{
    opacity: 1
}
.elementor-72 .elementor-element.elementor-element-05a5f06 .aux-the-svg {
    margin: 0 auto;
}/* End custom CSS */
/* Start custom CSS for aux_simple_svg, class: .elementor-element-958be3a */.elementor-72 .elementor-element.elementor-element-958be3a img {
    opacity:0.2;
     transition: opacity 300ms ease-out
}

.elementor-72 .elementor-element.elementor-element-958be3a img:hover{
    opacity: 1
}
.elementor-72 .elementor-element.elementor-element-958be3a .aux-the-svg {
    margin: 0 auto;
}/* End custom CSS */
/* Start custom CSS for aux_simple_svg, class: .elementor-element-28a573b */.elementor-72 .elementor-element.elementor-element-28a573b img {
    opacity:0.2;
     transition: opacity 300ms ease-out
}

.elementor-72 .elementor-element.elementor-element-28a573b img:hover{
    opacity: 1
}
.elementor-72 .elementor-element.elementor-element-28a573b .aux-the-svg {
    margin: 0 auto;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-288535f */.elementor-72 .elementor-element.elementor-element-288535f img {
    opacity:0.2;
    transform: opacity 300ms ease-out
}

.elementor-72 .elementor-element.elementor-element-288535f img:hover{
    opacity: 1
}/* End custom CSS */
/* Start custom CSS for aux_simple_svg, class: .elementor-element-65a69b6 */.elementor-72 .elementor-element.elementor-element-65a69b6 img {
    opacity:0.2;
     transition: opacity 300ms ease-out
}

.elementor-72 .elementor-element.elementor-element-65a69b6 img:hover{
    opacity: 1
}
.elementor-72 .elementor-element.elementor-element-65a69b6 .aux-the-svg {
    margin: 0 auto;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-3ebbdac */.elementor-72 .elementor-element.elementor-element-3ebbdac img {
    opacity:0.2;
    transform: opacity 300ms ease-out
}

.elementor-72 .elementor-element.elementor-element-3ebbdac img:hover{
    opacity: 1
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-36061f7 */.elementor-72 .elementor-element.elementor-element-36061f7:before{
    content: "";
    position: absolute;
    width: 47%;
    height: 2px;
    background-color:  var( --e-global-color-primary );
    top:-45px;
    right: 30px;
}/* End custom CSS */
/* Start custom CSS for aux_carousel_navigation, class: .elementor-element-0f1597e */.elementor-72 .elementor-element.elementor-element-0f1597e .aux-custom-nav{
    opacity:0.2;
    transition: opacity 300ms ease-out
}
.elementor-72 .elementor-element.elementor-element-0f1597e .aux-custom-nav:hover{
    opacity:1;
}/* End custom CSS */
/* Start custom CSS for aux_flexible_carousel, class: .elementor-element-f4e1487 */.elementor-72 .elementor-element.elementor-element-f4e1487 .aux-mc-item{
    padding: 0;
   
    }

@media only screen and (min-width:768px){ 
    .elementor-72 .elementor-element.elementor-element-f4e1487 .aux-widget-testimonial-container{
    border:2px solid var( --e-global-color-secondary );
    transition: all 300ms ease-out
    } 
.elementor-72 .elementor-element.elementor-element-f4e1487 .aux-widget-testimonial-container:hover{
    border:2px solid var( --e-global-color-primary );
    transition: all 300ms ease-out
    }
}
.elementor-72 .elementor-element.elementor-element-f4e1487 .aux-mc-controls{
    display: none;
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-99e58a8 */.elementor-72 .elementor-element.elementor-element-99e58a8:before{
    content: "";
    position: absolute;
    width: 55%;
    height: 2px;
    background-color:  var( --e-global-color-primary );
    top:-45px;
    right: 0px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_posts, class: .elementor-element-41af976 */.elementor-72 .elementor-element.elementor-element-41af976 .aux-col{
    margin-bottom: 70px;
    padding-right: 40px ;
    padding-left: 40px;
   
}

.elementor-72 .elementor-element.elementor-element-41af976 .post:before{
    content: "";
    position: absolute;
    width:98%;
    height: 97%;
    border: 2px solid  var( --e-global-color-primary );
    left:-40px;
    top:10%;
   transition: all 300ms ease-out;
    
}
.elementor-72 .elementor-element.elementor-element-41af976 .aux-col:hover .post:before{
    top: -10%;
    height: 117%;
   
     
}
.elementor-72 .elementor-element.elementor-element-41af976 .aux-col .entry-main{
    padding-right: calc(2% + 80px)!important;
}
@media only screen and (max-width:1400px) and (min-width:1025px){
    .elementor-72 .elementor-element.elementor-element-41af976 .entry-content{
        display:none;
    }
    .elementor-72 .elementor-element.elementor-element-41af976 .entry-title a{
        font-size:14px;
    }
    .elementor-72 .elementor-element.elementor-element-41af976 .entry-main{
        padding-right:60px!important;
    }
}
@media only screen and (max-width:414px){
    .elementor-72 .elementor-element.elementor-element-41af976 .post:before{
        left:-30px;
    }
    .elementor-72 .elementor-element.elementor-element-41af976 .aux-col{
    margin-bottom: 40px;
    padding-right: 30px ;
    padding-left: 30px;
   
}
 .elementor-72 .elementor-element.elementor-element-41af976 .entry-title{
        line-height:1em!important;
    }
}
@media only screen and (max-width:320px){
    .elementor-72 .elementor-element.elementor-element-41af976 .entry-title a{
        font-size:15px!important;
    }
}/* End custom CSS */