.elementor-74 .elementor-element.elementor-element-435ffdb .aux-media-image{border-radius:25px 25px 25px 25px;overflow:hidden;}.elementor-74 .elementor-element.elementor-element-435ffdb > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-74 .elementor-element.elementor-element-cc8da46 .aux-media-image{border-radius:25px 25px 25px 25px;overflow:hidden;}.elementor-74 .elementor-element.elementor-element-cc8da46 > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-74 .elementor-element.elementor-element-b4d72c7 .aux-media-image{border-radius:25px 25px 25px 25px;overflow:hidden;}/* Start custom CSS for aux_image, class: .elementor-element-435ffdb */.elementor-74 .elementor-element.elementor-element-435ffdb .aux-hover-scale-circle-plus .aux-symbol-circle{
   width: 54px;
    height:54px;
    background-color: var(--e-global-color-primary);
    border: none;
}
.elementor-74 .elementor-element.elementor-element-435ffdb .aux-hover-scale-circle-plus{
    bottom: 65px;
    right: 70px;
    left:unset;
    top: unset;
}
.elementor-74 .elementor-element.elementor-element-435ffdb .aux-frame-darken::after {
   ;
   background-color: transparent;
   height: 50%;
   top:50%;
    background-image: linear-gradient(0deg,#FCAA237A,#FCAA2300);
}
.elementor-74 .elementor-element.elementor-element-435ffdb .aux-hover-scale-circle-plus .aux-symbol-plus::before {
     height: 2px;
    width: 50%;
   left: 8px;
}
.elementor-74 .elementor-element.elementor-element-435ffdb .aux-hover-scale-circle-plus .aux-symbol-plus::after {
     height: 2px;
    width: 50%;
   left: 8px;
}/* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-cc8da46 */.elementor-74 .elementor-element.elementor-element-cc8da46 .aux-hover-scale-circle-plus .aux-symbol-circle{
   width: 54px;
    height:54px;
    background-color: var(--e-global-color-primary);
    border: none;
}
.elementor-74 .elementor-element.elementor-element-cc8da46 .aux-hover-scale-circle-plus{
    bottom: 65px;
    right: 70px;
    left:unset;
    top: unset;
}
.elementor-74 .elementor-element.elementor-element-cc8da46 .aux-frame-darken::after {
   ;
   background-color: transparent;
   height: 50%;
   top:50%;
    background-image: linear-gradient(0deg,#FCAA237A,#FCAA2300);
}
.elementor-74 .elementor-element.elementor-element-cc8da46 .aux-hover-scale-circle-plus .aux-symbol-plus::before {
     height: 2px;
    width: 50%;
   left: 8px;
}
.elementor-74 .elementor-element.elementor-element-cc8da46 .aux-hover-scale-circle-plus .aux-symbol-plus::after {
     height: 2px;
    width: 50%;
   left: 8px;
}/* End custom CSS */
/* Start custom CSS for aux_image, class: .elementor-element-b4d72c7 */.elementor-74 .elementor-element.elementor-element-b4d72c7 .aux-hover-scale-circle-plus .aux-symbol-circle{
   width: 54px;
    height:54px;
    background-color: var(--e-global-color-primary);
    border: none;
}
.elementor-74 .elementor-element.elementor-element-b4d72c7 .aux-hover-scale-circle-plus{
    bottom: 65px;
    right: 70px;
    left:unset;
    top: unset;
}
.elementor-74 .elementor-element.elementor-element-b4d72c7 .aux-frame-darken::after {
   ;
   background-color: transparent;
   height: 50%;
   top:50%;
    background-image: linear-gradient(0deg,#FCAA237A,#FCAA2300);
}
.elementor-74 .elementor-element.elementor-element-b4d72c7 .aux-hover-scale-circle-plus .aux-symbol-plus::before {
     height: 2px;
    width: 50%;
   left: 8px;
}
.elementor-74 .elementor-element.elementor-element-b4d72c7 .aux-hover-scale-circle-plus .aux-symbol-plus::after {
     height: 2px;
    width: 50%;
   left: 8px;
}/* End custom CSS */