.elementor-102 .elementor-element.elementor-element-89a16c6:not(.elementor-motion-effects-element-type-background), .elementor-102 .elementor-element.elementor-element-89a16c6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-0a7a205 );}.elementor-102 .elementor-element.elementor-element-89a16c6{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:5px 35px 15px 35px;}.elementor-102 .elementor-element.elementor-element-89a16c6 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-102 .elementor-element.elementor-element-b69c822 .aux-widget-text .aux-text-widget-header{padding:7px 10px 0px 0px;}.elementor-102 .elementor-element.elementor-element-b69c822 .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-102 .elementor-element.elementor-element-b69c822 .widget-content{color:var( --e-global-color-4fe1a49 );font-size:15px;font-weight:500;letter-spacing:-0.45px;}.elementor-102 .elementor-element.elementor-element-b69c822 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 0px;}.elementor-102 .elementor-element.elementor-element-b69c822 .aux-widget-advanced-text{text-align:center !important;}.elementor-102 .elementor-element.elementor-element-b69c822{width:auto;max-width:auto;animation-duration:1500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-102 .elementor-element.elementor-element-d2c0f9b.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-end;}.elementor-102 .elementor-element.elementor-element-9e516f7 .aux-widget-text .aux-text-widget-header{padding:7px 10px 0px 0px;}.elementor-102 .elementor-element.elementor-element-9e516f7 .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-102 .elementor-element.elementor-element-9e516f7 .widget-content{color:var( --e-global-color-4fe1a49 );font-size:15px;font-weight:500;letter-spacing:-0.45px;}.elementor-102 .elementor-element.elementor-element-9e516f7 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 0px;}.elementor-102 .elementor-element.elementor-element-9e516f7 .aux-widget-advanced-text{text-align:center !important;}.elementor-102 .elementor-element.elementor-element-9e516f7{width:auto;max-width:auto;animation-duration:1500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-102 .elementor-element.elementor-element-e1a8c5c > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-102 .elementor-element.elementor-element-e1a8c5c{margin-top:40px;margin-bottom:0px;padding:0px 35px 0px 35px;}.elementor-102 .elementor-element.elementor-element-4556c9d > .elementor-element-populated{border-style:solid;border-width:0px 0px 1px 0px;border-color:#2E303433;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-102 .elementor-element.elementor-element-4556c9d > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-102 .elementor-element.elementor-element-4556c9d > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 40px 0px;}.elementor-102 .elementor-element.elementor-element-fe3b9c8{width:auto;max-width:auto;animation-duration:1800ms;animation-delay:100ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);flex-grow:1;}.elementor-102 .elementor-element.elementor-element-6d1cab5{text-align:left;width:auto;max-width:auto;align-self:center;animation-duration:1000ms;animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);flex-grow:1;}.elementor-102 .elementor-element.elementor-element-6d1cab5 .aux-vertical .aux-menu-depth-0 .aux-item-content{text-align:left;}.elementor-102 .elementor-element.elementor-element-6d1cab5 .aux-menu-depth-0 > .aux-item-content{color:var( --e-global-color-text );font-size:18px;font-weight:500;text-transform:capitalize;letter-spacing:-0.54px;}.elementor-102 .elementor-element.elementor-element-6d1cab5 .aux-menu-depth-0.aux-hover > .aux-item-content{font-weight:700;}.elementor-102 .elementor-element.elementor-element-6d1cab5 .aux-menu-depth-0.current-menu-item > a{color:var( --e-global-color-203b7c7 );font-weight:700;}.elementor-102 .elementor-element.elementor-element-6d1cab5 .aux-fs-menu .aux-master-menu{text-align:left;}.elementor-102 .elementor-element.elementor-element-9ca3023 .aux-search-submit i{color:var( --e-global-color-0a7a205 );font-size:28px;}.elementor-102 .elementor-element.elementor-element-9ca3023 .aux-search-submit{padding:0px 0px 0px 0px;cursor:pointer;}.elementor-102 .elementor-element.elementor-element-9ca3023 .aux-search-popup .aux-search-input-form{border-width:2px;}.elementor-102 .elementor-element.elementor-element-9ca3023 .aux-search-popup .aux-submit-icon-container:before{font-size:30px;}.elementor-102 .elementor-element.elementor-element-9ca3023{width:auto;max-width:auto;align-self:center;animation-delay:2000ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-102 .elementor-element.elementor-element-fb1781e .aux-icon-list-item, .elementor-102 .elementor-element.elementor-element-fb1781e .aux-icon-list-items{justify-content:center;text-align:center;}.elementor-102 .elementor-element.elementor-element-fb1781e .aux-direction-horizontal{align-items:center;}.elementor-102 .elementor-element.elementor-element-fb1781e .aux-icon-list-item{align-items:center;}.elementor-102 .elementor-element.elementor-element-fb1781e .aux-icon-list-icon{color:var( --e-global-color-0a7a205 );font-size:24px;}.elementor-102 .elementor-element.elementor-element-fb1781e > .elementor-widget-container{margin:-13px 0px 0px 20px;}.elementor-102 .elementor-element.elementor-element-fb1781e{width:auto;max-width:auto;align-self:center;animation-delay:1750ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-card-dropdown{bottom:-10px;left:-120px;width:370px;}.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper .aux-card-item h3{color:var( --e-global-color-text );font-size:16px;font-weight:500;text-transform:capitalize;letter-spacing:-0.24px;}.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper .aux-card-item span{color:var( --e-global-color-text );font-size:16px;font-weight:400;letter-spacing:-0.24px;}.elementor-102 .elementor-element.elementor-element-f9dd869 > .elementor-widget-container{margin:0px 0px 0px 20px;border-radius:40px 40px 40px 40px;}.elementor-102 .elementor-element.elementor-element-f9dd869{width:auto;max-width:auto;align-self:center;animation-delay:1500ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}@media(max-width:1024px){.elementor-102 .elementor-element.elementor-element-6d1cab5 .aux-menu-depth-0 > .aux-item-content{font-size:16px;}.elementor-102 .elementor-element.elementor-element-6d1cab5 .aux-fs-menu .aux-menu-item > .aux-item-content{font-size:38px;}}@media(max-width:767px){.elementor-102 .elementor-element.elementor-element-3ce9506.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-102 .elementor-element.elementor-element-b69c822 .widget-content{font-size:14px;}.elementor-102 .elementor-element.elementor-element-b69c822 .aux-widget-advanced-text{text-align:center !important;}.elementor-102 .elementor-element.elementor-element-d2c0f9b.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-102 .elementor-element.elementor-element-9e516f7 .widget-content{font-size:14px;}.elementor-102 .elementor-element.elementor-element-9e516f7 .aux-widget-advanced-text{text-align:center !important;}.elementor-102 .elementor-element.elementor-element-e1a8c5c{margin-top:25px;margin-bottom:0px;}.elementor-102 .elementor-element.elementor-element-6d1cab5 .aux-fs-menu .aux-menu-item > .aux-item-content{font-size:32px;}.elementor-102 .elementor-element.elementor-element-6d1cab5 > .elementor-widget-container{margin:3px 0px 0px 10px;}.elementor-102 .elementor-element.elementor-element-9ca3023 > .elementor-widget-container{margin:-5px 0px 0px 10px;}.elementor-102 .elementor-element.elementor-element-fb1781e > .elementor-widget-container{margin:-13px 0px 0px 015px;}.elementor-102 .elementor-element.elementor-element-f9dd869 > .elementor-widget-container{margin:0px 0px 0px 10px;}}/* Start custom CSS for aux_text, class: .elementor-element-b69c822 */.elementor-102 .elementor-element.elementor-element-b69c822 svg path{
    fill:var(--e-global-color-6cb3476) !important;
}
@media screen and (max-width:400px){
    .elementor-102 .elementor-element.elementor-element-b69c822 .widget-content{
        font-size:12px !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-9e516f7 */.elementor-102 .elementor-element.elementor-element-9e516f7 svg path{
    fill:var(--e-global-color-6cb3476) !important;
}
@media screen and (max-width:400px){
    .elementor-102 .elementor-element.elementor-element-9e516f7 .widget-content{
        font-size:12px !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_logo, class: .elementor-element-fe3b9c8 */@media screen and (max-width:400px){
    .elementor-102 .elementor-element.elementor-element-fe3b9c8{
        max-width:38% !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_menu_box, class: .elementor-element-6d1cab5 */@media screen and (max-width:900px) and (min-width:768px){
    .elementor-102 .elementor-element.elementor-element-6d1cab5{
        order:1;
        flex-grow:0;
        margin-left:20px;
    }
}
@media screen and (max-width:767px){
    .elementor-102 .elementor-element.elementor-element-6d1cab5{
        order:1;
        flex-grow:0;
    }
}/* End custom CSS */
/* Start custom CSS for aux_modern_search, class: .elementor-element-9ca3023 */.elementor-102 .elementor-element.elementor-element-9ca3023 .auxicon-search-4::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.811' height='20.25' viewBox='0 0 19.811 20.25'%3E%3Cg transform='translate(-2.028 -2.028)'%3E%3Cg transform='translate(2.778 2.778)'%3E%3Ccircle cx='8.622' cy='8.622' r='8.622' transform='translate(0)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3Cpath d='M0,0,3.38,3.372' transform='translate(14.62 15.067)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.elementor-102 .elementor-element.elementor-element-9ca3023 .aux-search-popup-content{
    padding: 0 35px;
}/* End custom CSS */
/* Start custom CSS for aux_icon_list, class: .elementor-element-fb1781e */.elementor-102 .elementor-element.elementor-element-fb1781e .fa-user::before {
    content: "";
    width: 20px;
    height: 22px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.5' height='24.604' viewBox='0 0 19.5 24.604'%3E%3Cg transform='translate(-4.064 -2.064)'%3E%3Cg transform='translate(4.814 2.814)'%3E%3Cpath d='M9,0C4.146,0,0,.734,0,3.674s4.12,3.7,9,3.7c4.855,0,9-.735,9-3.674S13.882,0,9,0Z' transform='translate(0 15.73)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3Cpath d='M5.769,11.537a5.749,5.749,0,1,0-.041,0Z' transform='translate(3.231 0)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}/* End custom CSS */
/* Start custom CSS for aux_shopping_cart, class: .elementor-element-f9dd869 */.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-shopping-cart-info .aux-shopping-title{
    color: var(--e-global-color-4fe1a49);
    font-size: 16px;
    letter-spacing: -0.48px;
    font-weight: 600;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-shopping-cart-info .aux-shopping-amount{
    display: none;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .auxicon-shopping-bag-1::before{
    color: var(--e-global-color-4fe1a49);
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-shopping-basket{
    display: flex;
    flex-direction: row-reverse;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper .aux-cart-contents span{
    right: 23px;
    top:-4px !important;
    background-color: var(--e-global-color-secondary) !important;
    border-radius: 100%;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-shopping-cart-info{
    padding: 0 20px 0 0;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper .aux-cart-contents{
    margin: 0;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-type-dropdown .aux-card-dropdown .aux-empty-cart{
    height: 270px;
    background-image: url('/wp-content/wp-content/uploads/sites/277/2021/08/Group_10137.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 18px !important;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.4);
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-transform: capitalize;
    padding-bottom: 40px !important;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper .aux-cart-contents span{
    top:2px;
    background: transparent;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper .aux-cart-contents span:after{
    content: ")";
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper .aux-cart-contents span:before{
    content: "(";
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-card-item-details ins{
    background-color: transparent;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-card-item-details del , .elementor-102 .elementor-element.elementor-element-f9dd869 .aux-card-item-details del bdi , .elementor-102 .elementor-element.elementor-element-f9dd869 .aux-card-item-details del .woocommerce-Price-currencySymbol{
    color: #999999;
    font-weight: 400;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-card-item-img{
    border: 1px solid #70798B4D;
    border-radius: 20px;
    padding: 10px;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-button-wrapper .aux-checkout-button{
    background-color:var(--e-global-color-primary);
    border-radius: 23px;
    padding: 13px 20px 14px 20px;
    text-shadow: none;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 15px;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-overlay::after{
    background-color: var(--e-global-color-0a7a205) !important;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-outline{
    border: 1px solid #2E303433;
    border-radius: 20px;
    padding: 13px 20px 14px 20px;
    color: var(--e-global-color-text);
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-card-final-amount{
    font-size: 16px;
    letter-spacing: -0.48px;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-card-final-amount .woocommerce-Price-amount{
    font-weight: bold;
    color: var(--e-global-color-text);
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-total-items{
    display: none;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper .aux-inline-card-checkout {
    padding: 10px 21px;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-card-item{
    border-bottom: 1px solid #70798B4D;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-card-box{
    border: none !important;
    padding: 10px 30px 30px 30px;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper .aux-card-dropdown{
    border: none;
    box-shadow: 10px 10px 50px #20242E29;
    border-radius: 10px;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .auxicon-shopping-bag-1::before{
    content: "";
    width:18px;
    height:18px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.5' height='20' viewBox='0 0 19.5 20'%3E%3Cg transform='translate(-2.25 -1.75)'%3E%3Cg transform='translate(3 2.5)'%3E%3Cpath d='M7.562,6.805V3.773A3.781,3.781,0,0,0,0,3.756V6.805' transform='translate(5.211 0)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3Cpath d='M13.742,14.026H4.258A4.256,4.256,0,0,1,0,9.771V4.255A4.256,4.256,0,0,1,4.258,0h9.484A4.256,4.256,0,0,1,18,4.255V9.771A4.256,4.256,0,0,1,13.742,14.026Z' transform='translate(0 4.474)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper{
    padding: 14px 32px 13px 34px;
    background-color: var( --e-global-color-primary );
    border-radius: 40px 40px 40px 40px;
    cursor: pointer;
}
.elementor-102 .elementor-element.elementor-element-f9dd869:hover .aux-cart-wrapper{
    background-color: var(--e-global-color-secondary);
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-card-item{
    padding: 12px 0;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-button:hover{
    color: var(--e-global-color-4fe1a49);
}
.aux-empty-cart{
    height: 320px;
    background-image: url('/shop-digital-2/wp-content/wp-content/uploads/sites/277/2021/07/Group_10137.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.4);
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 20px;
    padding-bottom: 30px;
}
.aux-offcanvas-menu .aux-cart-wrapper .aux-card-item h3{
    color: var( --e-global-color-text ) !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    letter-spacing: -0.24px !important;
    text-transform: capitalize;
}
.aux-offcanvas-menu .aux-cart-wrapper .aux-card-item .aux-card-item-img{
    margin-right: 10px !important
}
.aux-offcanvas-menu .aux-cart-wrapper .aux-card-item .woocommerce-Price-amount{
    color: var( --e-global-color-text );
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.24px;
}
.aux-offcanvas-menu .aux-cart-wrapper .aux-card-item  del .woocommerce-Price-amount bdi{
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.24px;
}
.aux-offcanvas-menu .aux-cart-wrapper .aux-card-item  del{
    color: #999999;
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-offcart-content .aux-button-wrapper .aux-checkout-button{
    border: 1px solid #70798B4D !important;
    border-radius: 23px;
    padding: 13px 20px 14px 20px;
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
    background-color: var(--e-global-color-primary) !important;
    color: var(--e-global-color-6cb3476) !important;
    text-shadow: none;
    font-size: 16px;
    font-weight: 400;
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-offcart-content .aux-button-wrapper .aux-cart-button{
    border: 1px solid #70798B4D;
    border-radius: 23px;
    padding: 13px 20px 14px 20px;
    font-weight: 500;
    color: #19191B;
    font-size: 16px;
    text-transform: capitalize;
}
.aux-offcanvas-menu .aux-cart-wrapper .aux-card-item .aux-card-item-img img{
    width: 100px;
    height: 92px;
    border: 1px solid #EDEDED;
    border-radius: 15px;
}
.aux-offcanvas-menu.aux-offcanvas-cart {
    width: 320px;
}
.aux-offcanvas-menu .aux-black.aux-button.aux-outline .aux-overlay::after , .aux-offcanvas-menu .aux-button.aux-black .aux-overlay::after{
    background-color: var(--e-global-color-0a7a205) !important
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-offcart-content .aux-button-wrapper .aux-button:hover{
    color: var(--e-global-color-6cb3476);
}
.aux-offcanvas-menu.aux-offcanvas-cart .offcanvas-header{
    color: var(--e-global-color-text);
    letter-spacing: -0.72px;
    font-weight: bold;
    font-size: 24px;
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-offcart-content{
    border-top: 1px solid #EDEDED;
    margin-top:30px;
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-elegant-cart .aux-cart-total-items{
    display: none;
}
.aux-offcanvas-menu .aux-cart-wrapper .aux-inline-card-checkout .aux-card-final-amount{
    color: var(--e-global-color-text);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    margin-bottom: 15px;
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-elegant-cart .aux-card-final-amount .woocommerce-Price-amount{
    color: var(--e-global-color-text);
    letter-spacing: -0.48px;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat";
}
.aux-offcanvas-menu .aux-cart-wrapper .aux-card-item-details span ins{
    background-color: transparent;
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-offcart-content .aux-inline-card-checkout{
    border-top: 1px solid #EDEDED;
}
.aux-offcanvas-menu .aux-cart-wrapper.aux-elegant-cart .aux-card-item:not(:last-child){
    border-bottom: 1px solid #EDEDED;
}
.aux-cart-wrapper .aux-card-box{
    padding: 0 15px !important;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper .aux-shopping-basket::before{
    background-color: var(--e-global-color-primary);
}
.aux-cart-wrapper .aux-card-item{
    padding: 30px 10px !important;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper .aux-inline-card-checkout {
    padding: 10px 21px 30px 21px;
}
.elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper .aux-cart-contents span::before , .elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper .aux-cart-contents span::after{
    display: none;
}
@media screen and (max-width:767px){
    .elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper{
        padding: 8px 10px 8px 10px;
    }
    .elementor-102 .elementor-element.elementor-element-f9dd869 .aux-cart-wrapper .aux-cart-contents span{
        display:none;
    }
}/* End custom CSS */