.elementor-70 .elementor-element.elementor-element-ca96cdd{margin-top:100px;margin-bottom:0px;padding:0px 35px 0px 35px;}.elementor-70 .elementor-element.elementor-element-318d61b > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-70 .elementor-element.elementor-element-82bf8b8 .aux-modern-heading-primary{font-family:"Mukta";font-size:18px;font-weight:400;text-transform:capitalize;letter-spacing:1.08px;color:var( --e-global-color-primary );margin:0px 0px 0px 0px;}.elementor-70 .elementor-element.elementor-element-82bf8b8 .aux-modern-heading-secondary{font-family:"Heebo";font-size:43px;font-weight:700;line-height:1.2em;color:var( --e-global-color-primary );max-width:370px;}.elementor-70 .elementor-element.elementor-element-82bf8b8 .aux-modern-heading-secondary .aux-head-highlight{font-family:"Heebo";font-size:43px;font-weight:700;color:var( --e-global-color-secondary );}.elementor-70 .elementor-element.elementor-element-82bf8b8{animation-duration:2000ms;animation-delay:200ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-70 .elementor-element.elementor-element-d23831d .aux-modern-heading-description{color:var( --e-global-color-text );font-family:"Heebo";font-size:16px;font-weight:300;max-width:650px;}.elementor-70 .elementor-element.elementor-element-d23831d{animation-duration:2000ms;animation-delay:200ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-70 .elementor-element.elementor-element-de73bac .entry-header .entry-title a{color:var( --e-global-color-primary );font-family:"Heebo";font-size:26px;font-weight:700;text-transform:capitalize;}.elementor-70 .elementor-element.elementor-element-de73bac .entry-tax a{color:var( --e-global-color-text );}.elementor-70 .elementor-element.elementor-element-de73bac .entry-tax{font-family:"Mukta";font-size:16px;font-weight:300;text-transform:capitalize;font-style:normal;}.elementor-70 .elementor-element.elementor-element-de73bac .aux-iso-item{margin-bottom:30px !important;}.elementor-70 .elementor-element.elementor-element-de73bac > .elementor-widget-container{margin:50px 0px 0px 0px;}.elementor-70 .elementor-element.elementor-element-de73bac{animation-duration:2000ms;animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}@media(max-width:1024px){.elementor-70 .elementor-element.elementor-element-82bf8b8 .aux-modern-heading-primary{font-size:16px;}.elementor-70 .elementor-element.elementor-element-82bf8b8 .aux-modern-heading-secondary{font-size:34px;}.elementor-70 .elementor-element.elementor-element-82bf8b8 .aux-modern-heading-secondary .aux-head-highlight{font-size:34px;}.elementor-70 .elementor-element.elementor-element-d23831d .aux-modern-heading-description{font-size:15px;}.elementor-70 .elementor-element.elementor-element-de73bac .entry-header .entry-title a{font-size:22px;}.elementor-70 .elementor-element.elementor-element-de73bac .entry-tax{font-size:15px;}}@media(max-width:767px){.elementor-70 .elementor-element.elementor-element-82bf8b8 .aux-modern-heading-secondary{font-size:30px;max-width:300px;}.elementor-70 .elementor-element.elementor-element-82bf8b8 .aux-modern-heading-secondary .aux-head-highlight{font-size:30px;}.elementor-70 .elementor-element.elementor-element-d23831d .aux-modern-heading-description{font-size:14px;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-82bf8b8 */.elementor-70 .elementor-element.elementor-element-82bf8b8 .aux-modern-heading-secondary{
    display: inline-block;
}
.elementor-70 .elementor-element.elementor-element-82bf8b8 .aux-modern-heading-primary:before{
    content: '';
    width: 8px;
    height: 8px;
    background-color: var( --e-global-color-secondary );
    display: inline-block;
    margin-right: 10px; 
    position: relative;
    top: -3px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_portfolios_grid, class: .elementor-element-de73bac */.elementor-70 .elementor-element.elementor-element-de73bac .wpulike{
    display: none;
}
.elementor-70 .elementor-element.elementor-element-de73bac .entry-main{
    background-color: var( --e-global-color-accent );
    padding: 32px 26px 40px 48px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0px 9px 35px #0000000F;
    transition:all 250ms ease-in;
}
.elementor-70 .elementor-element.elementor-element-de73bac .entry-main:after{
    content: '\e171';
    font-family: "auxin-front";
    font-size: 30px;
    background-color: var( --e-global-color-secondary );
    color: #fff;
    padding: 9px 15px;
    position: absolute;
    right: 30px;
    bottom: -20px;
    transition:all 250ms ease-in;
}
.elementor-70 .elementor-element.elementor-element-de73bac .entry-title:before{
    content: '';
    width: 8px;
    height: 8px;
    background-color: var( --e-global-color-secondary );
    display: inline-block;
    position: absolute;
    bottom: 12px;
    left: -15px;
}
.elementor-70 .elementor-element.elementor-element-de73bac .entry-info{
    margin-bottom: 10px;
}
.elementor-70 .elementor-element.elementor-element-de73bac .aux-col:hover .entry-main{
    background-color: var( --e-global-color-secondary );
}
.elementor-70 .elementor-element.elementor-element-de73bac .aux-col:hover .entry-main:after{
    color: var( --e-global-color-primary );
    background-color: var( --e-global-color-accent );
}
.elementor-70 .elementor-element.elementor-element-de73bac .aux-col:hover .entry-title:before{
    background-color: var( --e-global-color-accent );
}
.elementor-70 .elementor-element.elementor-element-de73bac .aux-col:hover .entry-title a{
    color: var( --e-global-color-accent );
}
.elementor-70 .elementor-element.elementor-element-de73bac .aux-col:hover .entry-tax a {
    color:rgba(255, 255, 255, 0.6);
}
.elementor-70 .elementor-element.elementor-element-de73bac .aux-pagination{
    display: flex;
    justify-content: center;
}
.elementor-70 .elementor-element.elementor-element-de73bac .aux-pagination .prev , .elementor-70 .elementor-element.elementor-element-de73bac .aux-pagination .next{
    display: none;
}
.elementor-70 .elementor-element.elementor-element-de73bac .aux-pagination a{
    color: var( --e-global-color-primary );
    font-size: 18px;
    font-weight: bold;
    border-radius: 0;
}
.elementor-70 .elementor-element.elementor-element-de73bac .aux-pagination .active a{
    color: #fff;
    background-color: var( --e-global-color-primary );
    border-color: var( --e-global-color-primary );
    border-radius: 0;
    font-size: 18px;
    font-weight: bold;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-70 .elementor-element.elementor-element-de73bac .entry-title a{
        font-size:23px !important;
    }
    .elementor-70 .elementor-element.elementor-element-de73bac .entry-main{
        padding: 32px 15px 40px 40px;
    }
}
@media screen and (max-width:900px){
    .elementor-70 .elementor-element.elementor-element-de73bac .entry-main:after{
        padding:7px 13px;
        font-size:22px;
    }
    .elementor-70 .elementor-element.elementor-element-de73bac .entry-main{
        padding: 32px 15px 30px 30px;
    }
    .elementor-70 .elementor-element.elementor-element-de73bac .entry-title a{
        font-size:17px !important;
    }
}/* End custom CSS */