.elementor-96 .elementor-element.elementor-element-adcc59a:not(.elementor-motion-effects-element-type-background), .elementor-96 .elementor-element.elementor-element-adcc59a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(180deg, #7F6EDE 0%, #4053B9 100%);}.elementor-96 .elementor-element.elementor-element-adcc59a{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-1px;margin-bottom:0px;padding:40px 35px 27px 35px;}.elementor-96 .elementor-element.elementor-element-adcc59a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-96 .elementor-element.elementor-element-dd396b6 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-96 .elementor-element.elementor-element-dd396b6 .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:64px;font-weight:600;text-transform:capitalize;color:var( --e-global-color-94bcfbf );}.elementor-96 .elementor-element.elementor-element-dd396b6{animation-duration:2500ms;animation-delay:200ms;animation-timing-function:cubic-bezier(0.77,0,0.175,1);}.elementor-96 .elementor-element.elementor-element-c1fb30f{margin-top:210px;margin-bottom:300px;padding:0px 35px 0px 35px;}.elementor-96 .elementor-element.elementor-element-fe7d135 .aux-widget-container{text-align:center;}.elementor-96 .elementor-element.elementor-element-fe7d135{width:auto;max-width:auto;position:absolute;top:-80px;right:-50px;}.elementor-96 .elementor-element.elementor-element-fe7d135 > .elementor-widget-container{transition-timing-function:cubic-bezier(0.165,0.84,0.44,1);transition-duration:1000ms;transition-property:all;}.elementor-96 .elementor-element.elementor-element-90d03c1 .aux-widget-container{text-align:center;}.elementor-96 .elementor-element.elementor-element-90d03c1{width:auto;max-width:auto;position:absolute;bottom:-20px;left:-70px;}.elementor-96 .elementor-element.elementor-element-90d03c1 > .elementor-widget-container{transition-timing-function:cubic-bezier(0.165,0.84,0.44,1);transition-duration:1000ms;transition-property:all;}.elementor-96 .elementor-element.elementor-element-e706549 .aux-widget-container{text-align:center;}.elementor-96 .elementor-element.elementor-element-e706549{width:auto;max-width:auto;position:absolute;top:-50px;right:0px;bottom:0px;left:0px;}.elementor-96 .elementor-element.elementor-element-e6b9d5f .entry-media img{border-radius:20px 20px 0px 0px !important;}.elementor-96 .elementor-element.elementor-element-e6b9d5f .entry-title a{color:#120078;font-size:26px;font-weight:600;text-transform:capitalize;}.elementor-96 .elementor-element.elementor-element-e6b9d5f .entry-title{margin-bottom:20px;}.elementor-96 .elementor-element.elementor-element-e6b9d5f .entry-info a, .elementor-96 .elementor-element.elementor-element-e6b9d5f .entry-info{color:#888888;}.elementor-96 .elementor-element.elementor-element-e6b9d5f .entry-info, .elementor-96 .elementor-element.elementor-element-e6b9d5f .entry-info a{font-size:14px;font-weight:400;}.elementor-96 .elementor-element.elementor-element-e6b9d5f .entry-info{margin-bottom:20px;}.elementor-96 .elementor-element.elementor-element-e6b9d5f .entry-content{color:var( --e-global-color-primary );font-size:18px;font-weight:400;line-height:1.6em;}.elementor-96 .elementor-element.elementor-element-e6b9d5f .column-entry{padding:0px 0px 45px 0px;}.elementor-96 .elementor-element.elementor-element-e6b9d5f .type-post .entry-main{padding:20px 45px 0px 45px;}.elementor-96 .elementor-element.elementor-element-e6b9d5f .aux-col .column-entry{background-color:var( --e-global-color-94bcfbf );}.elementor-96 .elementor-element.elementor-element-e6b9d5f{text-align:left;animation-duration:2000ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-96 .elementor-element.elementor-element-e6b9d5f .entry-meta .aux-read-more{color:var( --e-global-color-7624339 );font-family:"Montserrat", Sans-serif;font-size:20px;font-weight:500;padding:0px 0px 15px 0px;}.elementor-96 .elementor-element.elementor-element-e6b9d5f > .elementor-widget-container{margin:0px 100px 0px 100px;}@media(max-width:1024px){.elementor-96 .elementor-element.elementor-element-dd396b6 .aux-modern-heading-primary{font-size:54px;}.elementor-96 .elementor-element.elementor-element-c1fb30f{margin-top:180px;margin-bottom:170px;}.elementor-96 .elementor-element.elementor-element-90d03c1{bottom:0px;}.elementor-96 .elementor-element.elementor-element-e706549{top:-250px;}.elementor-96 .elementor-element.elementor-element-e6b9d5f .entry-title a{font-size:19px;}.elementor-96 .elementor-element.elementor-element-e6b9d5f .entry-content{font-size:15px;}.elementor-96 .elementor-element.elementor-element-e6b9d5f .type-post .entry-main{padding:20px 20px 0px 20px;}.elementor-96 .elementor-element.elementor-element-e6b9d5f .entry-meta .aux-read-more{font-size:17px;}.elementor-96 .elementor-element.elementor-element-e6b9d5f > .elementor-widget-container{margin:0px 20px 0px 20px;}}@media(max-width:767px){.elementor-96 .elementor-element.elementor-element-dd396b6 .aux-modern-heading-primary{font-size:44px;}.elementor-96 .elementor-element.elementor-element-e6b9d5f > .elementor-widget-container{margin:0px 0px 0px 0px;}}/* Start custom CSS for aux_simple_svg, class: .elementor-element-fe7d135 */@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-96 .elementor-element.elementor-element-fe7d135{
        top:70px;
    }
}/* End custom CSS */
/* Start custom CSS for aux_simple_svg, class: .elementor-element-90d03c1 */@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-96 .elementor-element.elementor-element-90d03c1{
        bottom:50px;
    }
}/* End custom CSS */
/* Start custom CSS for aux_simple_svg, class: .elementor-element-e706549 */@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-96 .elementor-element.elementor-element-e706549{
        top:150px;
    }
}
@media screen and (max-width:1600px) and (min-width:1025px){
    .elementor-96 .elementor-element.elementor-element-e706549{
        top:-130px;
    }
}
@media screen and (max-width:1600px){
    .elementor-96 .elementor-element.elementor-element-e706549 svg{
        width:92vw;
    }
}/* End custom CSS */
/* Start custom CSS for aux_recent_posts, class: .elementor-element-e6b9d5f */.elementor-96 .elementor-element.elementor-element-e6b9d5f .aux-after-content{
    position: relative !important;
    padding-left: 0 !important;
}
.elementor-96 .elementor-element.elementor-element-e6b9d5f .aux-read-more::after{
    display: none;
}
.elementor-96 .elementor-element.elementor-element-e6b9d5f .aux-read-more::before{
    content: "\e16e";
    width: 50px;
    height: 50px;
    font-size: 22px;
    font-family: "auxin-front";
    background: rgba(255, 87, 34, 0.1);
    box-shadow: 0px 0px 10px #00BCD433;
    border-radius: 15px;
    display: inline-block;
    padding: 8px 17px;
    margin-right: 10px;
}
.elementor-96 .elementor-element.elementor-element-e6b9d5f .aux-col{
    width: 38%;
    margin: 30px 80px;
}
.elementor-96 .elementor-element.elementor-element-e6b9d5f .aux-col article{
    box-shadow: 0px 3px 25px #0000001F;
    border-radius: 20px;
}
.elementor-96 .elementor-element.elementor-element-e6b9d5f .aux-col:hover article{
    box-shadow: 10px 20px 35px #0000001F;
}
.elementor-96 .elementor-element.elementor-element-e6b9d5f .hentry .entry-info [class^="entry-"] ~ [class^="entry-"]::before{
    height: 16px;
    background-color: var(--e-global-color-1fc2537);
    border-radius: 0;
    width: 1px;
}
.elementor-96 .elementor-element.elementor-element-e6b9d5f .entry-date:before{
    content: "";
    width: 40px;
    height: 5px;
    background: transparent linear-gradient(90deg, #B2EBF2 0%, var(--e-global-color-1fc2537) 100%);
    border-radius: 4px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}
.elementor-96 .elementor-element.elementor-element-e6b9d5f .aux-col:nth-child(2n){
    margin-top: 120px !important;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-96 .elementor-element.elementor-element-e6b9d5f .aux-col{
        width: 41%;
        margin: 5px 50px !important;
    }
    .elementor-96 .elementor-element.elementor-element-e6b9d5f .entry-title a {
        font-size: 23px;
    }
}
@media screen and (max-width:1024px) and (min-width:768px){
    .elementor-96 .elementor-element.elementor-element-e6b9d5f .aux-col{
        width: 50%;
        margin: 10px 0;
    }
    .elementor-96 .elementor-element.elementor-element-e6b9d5f .hentry .entry-title{
        line-height:initial !important;
    }
}
@media screen and (max-width:767px){
    .elementor-96 .elementor-element.elementor-element-e6b9d5f .aux-col{
        width:100%;
        margin: 20px 0;
    }
    .elementor-96 .elementor-element.elementor-element-e6b9d5f .aux-col:nth-child(2n){
        margin-top: 15px !important;
    }
    .elementor-96 .elementor-element.elementor-element-e6b9d5f .hentry .entry-title{
        line-height:initial !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4505145 */@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-96 .elementor-element.elementor-element-4505145 .elementor-widget-container {
        margin: 0px 20px 0px 20px;
    }
}/* End custom CSS */