.elementor-98 .elementor-element.elementor-element-6c220fd:not(.elementor-motion-effects-element-type-background), .elementor-98 .elementor-element.elementor-element-6c220fd > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(180deg, var( --e-global-color-1fc2537 ) 0%, #2642C7 100%);}.elementor-98 .elementor-element.elementor-element-6c220fd{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-1px;margin-bottom:0px;padding:40px 35px 27px 35px;}.elementor-98 .elementor-element.elementor-element-6c220fd > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-98 .elementor-element.elementor-element-bdb187d .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-98 .elementor-element.elementor-element-bdb187d .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:64px;font-weight:600;text-transform:capitalize;color:var( --e-global-color-94bcfbf );}.elementor-98 .elementor-element.elementor-element-bdb187d{animation-duration:2500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-98 .elementor-element.elementor-element-929e968{animation-delay:250ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-98 .elementor-element.elementor-element-999fc23 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-98 .elementor-element.elementor-element-999fc23{margin-top:160px;margin-bottom:150px;padding:0px 35px 0px 35px;}.elementor-98 .elementor-element.elementor-element-04a229d .aux-modern-heading-primary{font-size:18px;font-weight:400;text-transform:capitalize;color:var( --e-global-color-7624339 );margin:0px 0px 0px 0px;}.elementor-98 .elementor-element.elementor-element-04a229d .aux-modern-heading-secondary .aux-head-highlight{font-size:34px;font-weight:700;text-transform:capitalize;line-height:1.3em;color:var( --e-global-color-primary );max-width:460px;}.elementor-98 .elementor-element.elementor-element-04a229d .aux-modern-heading-divider{height:4px;width:93px;margin:-10px 0px 30px 0px;}.elementor-98 .elementor-element.elementor-element-04a229d > .elementor-widget-container{margin:0px 0px -20px 0px;}.elementor-98 .elementor-element.elementor-element-04a229d{animation-duration:1500ms;animation-delay:250ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-98 .elementor-element.elementor-element-bf79958 input:not([type="submit"]){height:60px;border-radius:12px 12px 12px 12px;padding:21px 25px 20px 25px;margin:0px 0px 0px 0px;background-color:#F8F8F8;border-style:solid;border-width:1px 1px 1px 1px;border-color:#E5E5E5;transition:all ease-out 0.3s;}.elementor-98 .elementor-element.elementor-element-bf79958 input:not([type="submit"])::placeholder{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:400;font-style:normal;color:var( --e-global-color-primary );}.elementor-98 .elementor-element.elementor-element-bf79958 input[type="text"]{transition:all ease-out 0.3s;}.elementor-98 .elementor-element.elementor-element-bf79958 input[type="email"]{transition:all ease-out 0.3s;}.elementor-98 .elementor-element.elementor-element-bf79958 select{transition:all ease-out 0.3s;}.elementor-98 .elementor-element.elementor-element-bf79958 textarea{height:335px;border-radius:12px 12px 12px 12px;padding:21px 25px 20px 25px;margin:0px 0px 0px 0px;background-color:#F8F8F8;border-style:solid;border-width:1px 1px 1px 1px;border-color:#E5E5E5;transition:all ease-out 0.3s;}.elementor-98 .elementor-element.elementor-element-bf79958 textarea::placeholder{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:400;font-style:normal;color:var( --e-global-color-primary );}.elementor-98 .elementor-element.elementor-element-bf79958 input[type="submit"]{font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:500;text-transform:capitalize;border-radius:12px 12px 12px 12px;padding:20px 47px 18px 47px;background-color:transparent;background-image:linear-gradient(180deg, var( --e-global-color-16bb2d4 ) 0%, var( --e-global-color-87bab99 ) 100%);box-shadow:0px 10px 15px 0px rgba(255, 86.99999999999994, 33.99999999999999, 0.30196078431372547);transition:all ease-out 0.3s;}.elementor-98 .elementor-element.elementor-element-bf79958{animation-duration:1500ms;animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-98 .elementor-element.elementor-element-eee4b00 > .elementor-element-populated{margin:0px 0px 0px 130px;--e-column-margin-right:0px;--e-column-margin-left:130px;}.elementor-98 .elementor-element.elementor-element-69afe05 .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-98 .elementor-element.elementor-element-69afe05 .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-98 .elementor-element.elementor-element-69afe05 .col-title a, .elementor-98 .elementor-element.elementor-element-69afe05 .col-title{color:var( --e-global-color-baca4db );}.elementor-98 .elementor-element.elementor-element-69afe05:hover .col-title a, .elementor-98 .elementor-element.elementor-element-69afe05:hover .col-title{color:var( --e-global-color-94bcfbf );}.elementor-98 .elementor-element.elementor-element-69afe05 .col-title, .elementor-98 .elementor-element.elementor-element-69afe05 .col-title a{font-size:28px;font-weight:600;text-transform:uppercase;}.elementor-98 .elementor-element.elementor-element-69afe05 .widget-content{color:var( --e-global-color-primary );font-size:20px;font-weight:400;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-98 .elementor-element.elementor-element-69afe05:hover .widget-content{color:#F8F8F8 !important;}.elementor-98 .elementor-element.elementor-element-69afe05 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 25px;}.elementor-98 .elementor-element.elementor-element-69afe05 .aux-widget-advanced-text{text-align:left !important;padding:45px 50px 45px 36px;background-color:var( --e-global-color-94bcfbf );}.elementor-98 .elementor-element.elementor-element-69afe05 .aux-text-widget-overlay, .elementor-98 .elementor-element.elementor-element-69afe05 .aux-widget-advanced-text{border-radius:10px 10px 10px 10px;}.elementor-98 .elementor-element.elementor-element-69afe05{animation-duration:1500ms;animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-98 .elementor-element.elementor-element-237e153 .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-98 .elementor-element.elementor-element-237e153 .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-98 .elementor-element.elementor-element-237e153 .col-title a, .elementor-98 .elementor-element.elementor-element-237e153 .col-title{color:var( --e-global-color-accent );}.elementor-98 .elementor-element.elementor-element-237e153:hover .col-title a, .elementor-98 .elementor-element.elementor-element-237e153:hover .col-title{color:var( --e-global-color-94bcfbf );}.elementor-98 .elementor-element.elementor-element-237e153 .col-title, .elementor-98 .elementor-element.elementor-element-237e153 .col-title a{font-size:28px;font-weight:600;text-transform:uppercase;}.elementor-98 .elementor-element.elementor-element-237e153 .widget-content{color:var( --e-global-color-primary );font-size:20px;font-weight:400;}.elementor-98 .elementor-element.elementor-element-237e153:hover .widget-content{color:#F8F8F8 !important;}.elementor-98 .elementor-element.elementor-element-237e153 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 25px;}.elementor-98 .elementor-element.elementor-element-237e153 .aux-widget-advanced-text{text-align:left !important;padding:45px 50px 45px 36px;background-color:var( --e-global-color-94bcfbf );}.elementor-98 .elementor-element.elementor-element-237e153 .aux-text-widget-overlay, .elementor-98 .elementor-element.elementor-element-237e153 .aux-widget-advanced-text{border-radius:10px 10px 10px 10px;}.elementor-98 .elementor-element.elementor-element-237e153{animation-duration:1500ms;animation-delay:700ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-98 .elementor-element.elementor-element-c407981 .aux-widget-text .aux-text-widget-header{padding:0px 0px 0px 0px;}.elementor-98 .elementor-element.elementor-element-c407981 .aux-ico-box{padding:0px 0px 0px 0px;color:#ffffff;}.elementor-98 .elementor-element.elementor-element-c407981 .col-title a, .elementor-98 .elementor-element.elementor-element-c407981 .col-title{color:var( --e-global-color-1fc2537 );}.elementor-98 .elementor-element.elementor-element-c407981:hover .col-title a, .elementor-98 .elementor-element.elementor-element-c407981:hover .col-title{color:var( --e-global-color-94bcfbf );}.elementor-98 .elementor-element.elementor-element-c407981 .col-title, .elementor-98 .elementor-element.elementor-element-c407981 .col-title a{font-size:28px;font-weight:600;text-transform:uppercase;}.elementor-98 .elementor-element.elementor-element-c407981 .widget-content{color:var( --e-global-color-primary );font-size:20px;font-weight:400;}.elementor-98 .elementor-element.elementor-element-c407981:hover .widget-content{color:#F8F8F8 !important;}.elementor-98 .elementor-element.elementor-element-c407981 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 25px;}.elementor-98 .elementor-element.elementor-element-c407981 .aux-widget-advanced-text{text-align:left !important;padding:45px 50px 45px 36px;background-color:var( --e-global-color-94bcfbf );}.elementor-98 .elementor-element.elementor-element-c407981 .aux-text-widget-overlay, .elementor-98 .elementor-element.elementor-element-c407981 .aux-widget-advanced-text{border-radius:10px 10px 10px 10px;}.elementor-98 .elementor-element.elementor-element-c407981{animation-duration:1500ms;animation-delay:900ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}@media(max-width:1024px){.elementor-98 .elementor-element.elementor-element-bdb187d .aux-modern-heading-primary{font-size:54px;}.elementor-98 .elementor-element.elementor-element-04a229d .aux-modern-heading-primary{font-size:16px;}.elementor-98 .elementor-element.elementor-element-04a229d .aux-modern-heading-secondary .aux-head-highlight{font-size:29px;}.elementor-98 .elementor-element.elementor-element-eee4b00 > .elementor-element-populated{margin:0px 0px 0px 20px;--e-column-margin-right:0px;--e-column-margin-left:20px;}.elementor-98 .elementor-element.elementor-element-69afe05 .col-title, .elementor-98 .elementor-element.elementor-element-69afe05 .col-title a{font-size:24px;}.elementor-98 .elementor-element.elementor-element-69afe05 .widget-content{font-size:17px;}.elementor-98 .elementor-element.elementor-element-237e153 .col-title, .elementor-98 .elementor-element.elementor-element-237e153 .col-title a{font-size:24px;}.elementor-98 .elementor-element.elementor-element-237e153 .widget-content{font-size:17px;}.elementor-98 .elementor-element.elementor-element-c407981 .col-title, .elementor-98 .elementor-element.elementor-element-c407981 .col-title a{font-size:24px;}.elementor-98 .elementor-element.elementor-element-c407981 .widget-content{font-size:17px;}}@media(max-width:767px){.elementor-98 .elementor-element.elementor-element-bdb187d .aux-modern-heading-primary{font-size:44px;}.elementor-98 .elementor-element.elementor-element-04a229d .aux-modern-heading-primary{font-size:14px;}.elementor-98 .elementor-element.elementor-element-04a229d .aux-modern-heading-secondary .aux-head-highlight{font-size:25px;}.elementor-98 .elementor-element.elementor-element-bf79958 input:not([type="submit"])::placeholder{font-size:14px;}.elementor-98 .elementor-element.elementor-element-bf79958 textarea::placeholder{font-size:14px;}.elementor-98 .elementor-element.elementor-element-bf79958 input[type="submit"]{font-size:16px;}.elementor-98 .elementor-element.elementor-element-eee4b00 > .elementor-element-populated{margin:50px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-98 .elementor-element.elementor-element-69afe05 .col-title, .elementor-98 .elementor-element.elementor-element-69afe05 .col-title a{font-size:19px;}.elementor-98 .elementor-element.elementor-element-69afe05 .widget-content{font-size:15px;}.elementor-98 .elementor-element.elementor-element-69afe05 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 15px;}.elementor-98 .elementor-element.elementor-element-69afe05 .aux-widget-advanced-text{padding:45px 20px 45px 20px;}.elementor-98 .elementor-element.elementor-element-237e153 .col-title, .elementor-98 .elementor-element.elementor-element-237e153 .col-title a{font-size:19px;}.elementor-98 .elementor-element.elementor-element-237e153 .widget-content{font-size:15px;}.elementor-98 .elementor-element.elementor-element-237e153 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 15px;}.elementor-98 .elementor-element.elementor-element-237e153 .aux-widget-advanced-text{padding:45px 20px 45px 20px;}.elementor-98 .elementor-element.elementor-element-c407981 .col-title, .elementor-98 .elementor-element.elementor-element-c407981 .col-title a{font-size:19px;}.elementor-98 .elementor-element.elementor-element-c407981 .widget-content{font-size:15px;}.elementor-98 .elementor-element.elementor-element-c407981 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 15px;}.elementor-98 .elementor-element.elementor-element-c407981 .aux-widget-advanced-text{padding:45px 20px 45px 20px;}}@media(min-width:768px){.elementor-98 .elementor-element.elementor-element-88660e5{width:58%;}.elementor-98 .elementor-element.elementor-element-eee4b00{width:41.969%;}}@media(max-width:1024px) and (min-width:768px){.elementor-98 .elementor-element.elementor-element-88660e5{width:50%;}.elementor-98 .elementor-element.elementor-element-eee4b00{width:50%;}}/* Start custom CSS for aux_gmap, class: .elementor-element-929e968 */@media screen and (max-width:400px){
    .elementor-98 .elementor-element.elementor-element-929e968 .aux-map-wrapper{
        height:350px !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-04a229d */.elementor-98 .elementor-element.elementor-element-04a229d .aux-head-highlight{
    display: inline-block;
}
.elementor-98 .elementor-element.elementor-element-04a229d .aux-modern-heading-divider{
    background: transparent linear-gradient(90deg, #FFFFFF00 0%, var(--e-global-color-7624339) 100%);
    border-radius: 4px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-88660e5 */@media screen and (max-width:900px) and (min-width:768px){
    .elementor-98 .elementor-element.elementor-element-88660e5{
        width:100%;
        margin-bottom:50px;
    }
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-69afe05 */.elementor-98 .elementor-element.elementor-element-69afe05 .aux-text-widget-header{
    width: 136px;
    height: 136px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(254, 205, 26, 0.1);
    transition:all 250ms ease-in;
}
.elementor-98 .elementor-element.elementor-element-69afe05 .aux-widget-advanced-text{
    box-shadow: 0px 0px 15px #0000000D;
    background: #fff;
    transition:all 250ms ease-in;
}
.elementor-98 .elementor-element.elementor-element-69afe05:hover .aux-text-widget-header{
    background-color: rgba(255, 255, 255, 0.1);
}
.elementor-98 .elementor-element.elementor-element-69afe05:hover .aux-widget-advanced-text{
    background-color: var(--e-global-color-baca4db);
}
.elementor-98 .elementor-element.elementor-element-69afe05:hover path{
    fill:#fff;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-98 .elementor-element.elementor-element-69afe05 .widget-content{
        font-size:17px !important;
    }
    .elementor-98 .elementor-element.elementor-element-69afe05 .col-title{
        font-size:26px !important;
    }
}
@media screen and (max-width:1024px){
    .elementor-98 .elementor-element.elementor-element-69afe05 .aux-text-widget-header{
        width: 110px;
        height: 110px;
    }
}
@media screen and (max-width:400px){
    .elementor-98 .elementor-element.elementor-element-69afe05 .aux-widget-advanced-text{
        display:flex;
        flex-direction:column;
    }
    .elementor-98 .elementor-element.elementor-element-69afe05 .aux-text-widget-content{
        text-align: center;
        margin-top: 25px;
        padding: 0px 0px 0px 0px !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-237e153 */.elementor-98 .elementor-element.elementor-element-237e153 .aux-text-widget-header{
    width: 136px;
    height: 136px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(254, 52, 110, 0.1);
    transition:all 250ms ease-in;
}
.elementor-98 .elementor-element.elementor-element-237e153 .aux-widget-advanced-text{
    box-shadow: 0px 0px 15px #0000000D;
    background: #fff;
    transition:all 250ms ease-in;
}
.elementor-98 .elementor-element.elementor-element-237e153:hover .aux-text-widget-header{
    background-color: rgba(255, 255, 255, 0.1);
}
.elementor-98 .elementor-element.elementor-element-237e153:hover .aux-widget-advanced-text{
    background-color: var(--e-global-color-accent);
}
.elementor-98 .elementor-element.elementor-element-237e153:hover path{
    fill:#fff;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-98 .elementor-element.elementor-element-237e153 .widget-content{
        font-size:17px !important;
    }
    .elementor-98 .elementor-element.elementor-element-237e153 .col-title{
        font-size:26px !important;
    }
}
@media screen and (max-width:1024px){
    .elementor-98 .elementor-element.elementor-element-237e153 .aux-text-widget-header{
        width: 110px;
        height: 110px;
    }
}
@media screen and (max-width:400px){
    .elementor-98 .elementor-element.elementor-element-237e153 .aux-widget-advanced-text{
        display:flex;
        flex-direction:column;
    }
    .elementor-98 .elementor-element.elementor-element-237e153 .aux-text-widget-content{
        text-align: center;
        margin-top: 25px;
        padding: 0px 0px 0px 0px !important;
    }
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-c407981 */.elementor-98 .elementor-element.elementor-element-c407981 .aux-text-widget-header{
    width: 136px;
    height: 136px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(178, 235, 242, 0.1);
    transition:all 250ms ease-in;
}
.elementor-98 .elementor-element.elementor-element-c407981 .aux-widget-advanced-text{
    box-shadow: 0px 0px 15px #0000000D;
    background: #fff;
    transition:all 250ms ease-in;
}
.elementor-98 .elementor-element.elementor-element-c407981:hover .aux-text-widget-header{
    background-color: rgba(255, 255, 255, 0.1);
}
.elementor-98 .elementor-element.elementor-element-c407981:hover .aux-widget-advanced-text{
    background-color: var(--e-global-color-1fc2537);
}
.elementor-98 .elementor-element.elementor-element-c407981:hover path{
    fill:#fff;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-98 .elementor-element.elementor-element-c407981 .widget-content{
        font-size:17px !important;
    }
    .elementor-98 .elementor-element.elementor-element-c407981 .col-title{
        font-size:26px !important;
    }
}
@media screen and (max-width:1024px){
    .elementor-98 .elementor-element.elementor-element-c407981 .aux-text-widget-header{
        width: 110px;
        height: 110px;
    }
}
@media screen and (max-width:400px){
    .elementor-98 .elementor-element.elementor-element-c407981 .aux-widget-advanced-text{
        display:flex;
        flex-direction:column;
    }
    .elementor-98 .elementor-element.elementor-element-c407981 .aux-text-widget-content{
        text-align: center;
        margin-top: 25px;
        padding: 0px 0px 0px 0px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-eee4b00 */@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-98 .elementor-element.elementor-element-eee4b00 .elementor-element-populated {
    margin: 0px 0px 0px 60px !important;
    }
}
@media screen and (max-width:900px) and (min-width:768px){
    .elementor-98 .elementor-element.elementor-element-eee4b00{
        width:100%;
        margin:0 13%;
    }
}/* End custom CSS */