.elementor-200 .elementor-element.elementor-element-391f618{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:30px 35px 0px 35px;z-index:5;}.elementor-200 .elementor-element.elementor-element-391f618 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-200 .elementor-element.elementor-element-917cccf.elementor-column .elementor-column-wrap{align-items:center;}.elementor-200 .elementor-element.elementor-element-917cccf.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-200 .elementor-element.elementor-element-8d70db4{width:auto;max-width:auto;animation-duration:2500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);flex-grow:1;}.elementor-200 .elementor-element.elementor-element-810e5e9{text-align:left;width:auto;max-width:auto;animation-duration:2000ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-200 .elementor-element.elementor-element-810e5e9 .aux-vertical .aux-menu-depth-0 .aux-item-content{text-align:left;}.elementor-200 .elementor-element.elementor-element-810e5e9 .aux-menu-depth-0 > .aux-item-content{color:var( --e-global-color-cf2d6fc );font-size:16px;font-weight:500;text-transform:capitalize;padding:0px 30px 0px 30px;}.elementor-200 .elementor-element.elementor-element-810e5e9 .aux-menu-depth-0{border-radius:0px 0px 0px 0px;margin:0px 0px 0px 0px;}.elementor-200 .elementor-element.elementor-element-810e5e9 .aux-menu-depth-0.aux-hover > .aux-item-content {color:var( --e-global-color-bb7d68f );}.elementor-200 .elementor-element.elementor-element-810e5e9 .aux-menu-depth-0.aux-hover{border-style:solid;border-width:0px 0px 0px 0px;}.elementor-200 .elementor-element.elementor-element-810e5e9 .aux-menu-depth-0.current-menu-item > a{color:var( --e-global-color-bb7d68f );}.elementor-200 .elementor-element.elementor-element-810e5e9 .aux-fs-menu .aux-menu-item > .aux-item-content{color:var( --e-global-color-secondary );}.elementor-200 .elementor-element.elementor-element-810e5e9 .aux-fs-menu .aux-menu-item.aux-hover > .aux-item-content{color:var( --e-global-color-accent );}.elementor-200 .elementor-element.elementor-element-810e5e9 .aux-fs-menu .aux-master-menu{text-align:left;}.elementor-200 .elementor-element.elementor-element-810e5e9 > .elementor-widget-container{padding:0px 30px 0px 0px;}.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-cart-element-container{display:flex;justify-content:end;}.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-cart-contents > span{background-color:var( --e-global-color-c79937f );font-size:15px;color:var( --e-global-color-bb7d68f );bottom:0px;right:55px;padding:9px 0px 0px 0px;}.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-card-dropdown{bottom:-40px;width:370px;padding:14px 30px 25px 30px;background-color:var( --e-global-color-bb7d68f );border-style:solid;border-width:0px 0px 0px 0px;box-shadow:10px 10px 50px 0px rgba(32, 36.000000000000014, 46, 0.1607843137254902);}.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-cart-wrapper .aux-card-box{padding:0px 0px 0px 0px;}.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-cart-wrapper .aux-card-item h3{color:var( --e-global-color-bb7d68f );font-size:15px;font-weight:bold;letter-spacing:-0.23px;}.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-cart-wrapper .aux-card-item span{color:var( --e-global-color-41ffd86 );font-size:16px;font-weight:400;}.elementor-200 .elementor-element.elementor-element-6bf0bb1 > .elementor-widget-container{padding:0px 0px 0px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#FFFFFF33;border-radius:23px 23px 23px 23px;}.elementor-200 .elementor-element.elementor-element-6bf0bb1{width:auto;max-width:auto;}.elementor-200 .elementor-element.elementor-element-6bf0bb1:hover .elementor-widget-container{border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-accent );}@media(max-width:1024px){.elementor-200 .elementor-element.elementor-element-810e5e9 .aux-fs-menu .aux-menu-item > .aux-item-content{font-size:28px;line-height:55px;}}@media(max-width:767px){.elementor-200 .elementor-element.elementor-element-810e5e9 > .elementor-widget-container{padding:0px 15px 0px 0px;}.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-cart-contents > span{bottom:20px;right:-10px;padding:0px 0px 0px 0px;}}/* Start custom CSS for aux_menu_box, class: .elementor-element-810e5e9 */.elementor-200 .elementor-element.elementor-element-810e5e9 .aux-burger .mid-line, .aux-burger::before, .aux-burger::after{
border-color: var(--e-global-color-bb7d68f)!important;
    
}/* End custom CSS */
/* Start custom CSS for aux_shopping_cart, class: .elementor-element-6bf0bb1 */.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-cart-wrapper .aux-shopping-basket  {
    color: var(--e-global-color-bb7d68f);
}


.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-cart-wrapper .aux-cart-contents{
    float:right !important;
}
.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-cart-contents > span {
    display: flex !important;
}



.elementor-200 .elementor-element.elementor-element-6bf0bb1  .aux-shopping-amount {
    display:none !important;
    
}

.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-shopping-title {
    margin-right: 32px;
    margin-top:10px;
    font-size: 15px !important;
    display: flex;
    color:var( --e-global-color-bb7d68f )!important;
    float: left!important;
}


.elementor-200 .elementor-element.elementor-element-6bf0bb1 .elementor-widget-container {
    width: 165px !important;
    height: 45px;
}

.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-card-item h3 {
    color:#000 !important;
    font-weight: bold;
    font-size: 15px!important;
}

.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-cart-subtotal{
    font-family: Epilogue !important;
    font-size: 16px;
    font-weight: 500;
    color: #000 !important;
}

.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-card-box .amount {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.24px;
    color: #000!important;
    
}

.elementor-200 .elementor-element.elementor-element-6bf0bb1  .woocommerce-Price-currencySymbol{
    
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.24px;
    color: #000!important;
    
}

.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-card-item span {
    
    font-family: Montserrat!important;
    font-size: 16px!important;
    font-weight: bold!important;
    letter-spacing: -0.24px;
    color: #000!important;
    
}

.elementor-200 .elementor-element.elementor-element-6bf0bb1 .aux-shopping-basket{
     padding-right: 10px;
 }
 
 @media(max-width:414px){
    .elementor-200 .elementor-element.elementor-element-6bf0bb1 .elementor-widget-container {
    width: 50px !important;
    height: 45px;
}
.elementor-200 .elementor-element.elementor-element-6bf0bb1 .elementor-widget-container{
    border:0!important;
}
}/* End custom CSS */