.elementor-82 .elementor-element.elementor-element-2e19ce8{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-82 .elementor-element.elementor-element-3fe70a7{margin-top:150px;margin-bottom:0px;}.elementor-82 .elementor-element.elementor-element-002c38b .auxnew-big-post .entry-title a{color:#232323;}.elementor-82 .elementor-element.elementor-element-002c38b .auxnew-big-post .entry-title, .elementor-82 .elementor-element.elementor-element-002c38b .auxnew-big-post .entry-title a{font-family:"Merriweather", Lato;font-size:34px;font-weight:bold;line-height:50px;}.elementor-82 .elementor-element.elementor-element-002c38b .auxnew-big-post .entry-title{margin-bottom:17px;}.elementor-82 .elementor-element.elementor-element-002c38b .aux-small-posts .entry-title a{color:#232323;}.elementor-82 .elementor-element.elementor-element-002c38b .aux-small-posts .entry-title{font-family:"Merriweather", Lato;font-size:30px;font-weight:bold;line-height:42px;margin-bottom:25px;}.elementor-82 .elementor-element.elementor-element-002c38b .entry-info a, .elementor-82 .elementor-element.elementor-element-002c38b .entry-info{color:rgba(139,139,139,0.8);}.elementor-82 .elementor-element.elementor-element-002c38b .entry-info, .elementor-82 .elementor-element.elementor-element-002c38b .entry-info a{font-family:"Merriweather", Lato;font-size:15px;font-weight:400;text-transform:uppercase;font-style:normal;line-height:21px;letter-spacing:1px;}.elementor-82 .elementor-element.elementor-element-002c38b .entry-info{margin-bottom:20px;}.elementor-82 .elementor-element.elementor-element-002c38b .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-82 .elementor-element.elementor-element-002c38b .entry-info .entry-tax a:after{margin-right:10px;margin-left:10px;}.elementor-82 .elementor-element.elementor-element-002c38b .entry-content{color:rgba(139,139,139,0.8);font-family:"Lato", Lato;font-size:17px;font-weight:400;line-height:26px;margin-bottom:35px;}.elementor-82 .elementor-element.elementor-element-002c38b{animation-duration:1000ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-82 .elementor-element.elementor-element-82adbfe .aux-elem-quote{text-align:inherit;background-color:#ffffff;}.elementor-82 .elementor-element.elementor-element-82adbfe .aux-elem-quote p{color:#232323;font-family:"Merriweather", Lato;font-size:27px;font-weight:400;font-style:italic;line-height:48px;}.elementor-82 .elementor-element.elementor-element-82adbfe .aux-quote-symbol:before{color:var( --e-global-color-47e352cb );font-family:"Rufina", Lato;font-size:95px;font-weight:bold;line-height:48px;margin:60px 0px 0px 60px;}.elementor-82 .elementor-element.elementor-element-82adbfe .aux-quote-symbol p:first-child{text-indent:0px;}.elementor-82 .elementor-element.elementor-element-82adbfe .aux-blockquote-normal{padding:120px 88px 60px 88px;}.elementor-82 .elementor-element.elementor-element-82adbfe > .elementor-widget-container{margin:170px 0px 0px 0px;box-shadow:0px 3px 35px 0px rgba(0,0,0,0.16);}.elementor-82 .elementor-element.elementor-element-82adbfe{animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-82 .elementor-element.elementor-element-a36dac4 > .elementor-element-populated > .elementor-widget-wrap{padding:5% 10% 5% 10%;}.elementor-82 .elementor-element.elementor-element-c90d9aa{animation-delay:300ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-82 .elementor-element.elementor-element-433a4a5:not(.elementor-motion-effects-element-type-background), .elementor-82 .elementor-element.elementor-element-433a4a5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#232323;}.elementor-82 .elementor-element.elementor-element-433a4a5{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:130px;margin-bottom:0px;padding:180px 15px 180px 15px;animation-duration:1100ms;animation-timing-function:cubic-bezier(0.19,1,0.22,1);}.elementor-82 .elementor-element.elementor-element-433a4a5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-82 .elementor-element.elementor-element-ade85e9{animation-duration:1100ms;animation-delay:100ms;animation-timing-function:cubic-bezier(0.19,1,0.22,1);}.elementor-82 .elementor-element.elementor-element-9ed9316 .aux-modern-heading-primary{font-family:"Merriweather", Lato;font-size:45px;font-weight:bold;line-height:56px;color:#FFFFFF;margin:0px 0px 22px 0px;}.elementor-82 .elementor-element.elementor-element-9ed9316 .aux-modern-heading-divider{height:2px;width:100%;background-color:rgba(255,255,255,0.1);}.elementor-82 .elementor-element.elementor-element-9ed9316{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-82 .elementor-element.elementor-element-1c36df8 .auxnew-big-post .entry-title a{color:#ffffff;}.elementor-82 .elementor-element.elementor-element-1c36df8 .auxnew-big-post .entry-title, .elementor-82 .elementor-element.elementor-element-1c36df8 .auxnew-big-post .entry-title a{font-family:"Merriweather", Lato;font-size:28px;font-weight:400;line-height:40px;}.elementor-82 .elementor-element.elementor-element-1c36df8 .auxnew-big-post .entry-title{margin-bottom:24px;}.elementor-82 .elementor-element.elementor-element-1c36df8 .aux-small-posts .entry-title a{color:#ffffff;}.elementor-82 .elementor-element.elementor-element-1c36df8 .aux-small-posts .entry-title{font-family:"Merriweather", Lato;font-size:28px;font-weight:400;line-height:40px;margin-bottom:44px;}.elementor-82 .elementor-element.elementor-element-1c36df8 .entry-info a, .elementor-82 .elementor-element.elementor-element-1c36df8 .entry-info{color:rgba(255,255,255,0.8);}.elementor-82 .elementor-element.elementor-element-1c36df8 .entry-info, .elementor-82 .elementor-element.elementor-element-1c36df8 .entry-info a{font-family:"Merriweather", Lato;font-size:15px;font-weight:400;font-style:normal;line-height:21px;letter-spacing:1px;}.elementor-82 .elementor-element.elementor-element-1c36df8 .entry-info{margin-bottom:20px;}.elementor-82 .elementor-element.elementor-element-1c36df8 .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-82 .elementor-element.elementor-element-1c36df8 .entry-info .entry-tax a:after{margin-right:15px;margin-left:15px;}.elementor-82 .elementor-element.elementor-element-1c36df8 .entry-content{color:rgba(255,255,255,0.7);font-family:"Lato", Lato;font-size:17px;font-weight:400;line-height:26px;margin-bottom:45px;}.elementor-82 .elementor-element.elementor-element-1c36df8{animation-delay:200ms;animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}.elementor-82 .elementor-element.elementor-element-2f02cd5{margin-top:160px;margin-bottom:-30px;padding:15px 15px 15px 15px;}.elementor-82 .elementor-element.elementor-element-e856a03 .aux-modern-heading-primary{font-family:"Merriweather", Lato;font-size:45px;font-weight:bold;line-height:56px;margin:0px 0px 22px 0px;}.elementor-82 .elementor-element.elementor-element-e856a03 .aux-modern-heading-divider{height:2px;width:100%;background-color:rgba(241,241,241,0.8);}.elementor-82 .elementor-element.elementor-element-e856a03{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}@media(max-width:1024px){.elementor-82 .elementor-element.elementor-element-ecf7049 > .elementor-widget-container{margin:50px 0px 0px 0px;}.elementor-82 .elementor-element.elementor-element-3fe70a7{margin-top:80px;margin-bottom:0px;padding:0px 25px 0px 25px;}.elementor-82 .elementor-element.elementor-element-002c38b .auxnew-big-post .entry-title, .elementor-82 .elementor-element.elementor-element-002c38b .auxnew-big-post .entry-title a{font-size:18px;line-height:26px;}.elementor-82 .elementor-element.elementor-element-002c38b .auxnew-big-post .entry-title{margin-bottom:10px;}.elementor-82 .elementor-element.elementor-element-002c38b .aux-small-posts .entry-title{font-size:16px;margin-bottom:10px;}.elementor-82 .elementor-element.elementor-element-002c38b .entry-info, .elementor-82 .elementor-element.elementor-element-002c38b .entry-info a{font-size:10px;line-height:11px;}.elementor-82 .elementor-element.elementor-element-002c38b .entry-info{margin-bottom:12px;}.elementor-82 .elementor-element.elementor-element-002c38b .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-82 .elementor-element.elementor-element-002c38b .entry-info .entry-tax a:after{margin-right:12px;margin-left:12px;}.elementor-82 .elementor-element.elementor-element-002c38b .entry-content{font-size:14px;line-height:26px;margin-bottom:12px;}.elementor-82 .elementor-element.elementor-element-82adbfe .aux-elem-quote p{font-size:20px;line-height:34px;}.elementor-82 .elementor-element.elementor-element-82adbfe .aux-quote-symbol:before{font-size:66px;margin:56px 0px 0px 25px;}.elementor-82 .elementor-element.elementor-element-82adbfe .aux-blockquote-normal{padding:120px 50px 60px 50px;}.elementor-82 .elementor-element.elementor-element-a36dac4 > .elementor-element-populated{margin:100px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-82 .elementor-element.elementor-element-a36dac4 > .elementor-element-populated > .elementor-widget-wrap{padding:15px 15px 15px 15px;}.elementor-82 .elementor-element.elementor-element-433a4a5{margin-top:120px;margin-bottom:0px;padding:140px 25px 140px 25px;}.elementor-82 .elementor-element.elementor-element-9ed9316 .aux-modern-heading-primary{font-size:31px;line-height:38px;}.elementor-82 .elementor-element.elementor-element-1c36df8 .auxnew-big-post .entry-title, .elementor-82 .elementor-element.elementor-element-1c36df8 .auxnew-big-post .entry-title a{font-size:23px;line-height:33px;}.elementor-82 .elementor-element.elementor-element-1c36df8 .aux-small-posts .entry-title{font-size:20px;line-height:30px;}.elementor-82 .elementor-element.elementor-element-1c36df8 .entry-info, .elementor-82 .elementor-element.elementor-element-1c36df8 .entry-info a{font-size:11px;line-height:14px;}.elementor-82 .elementor-element.elementor-element-1c36df8 .entry-content{font-size:14px;line-height:26px;}.elementor-82 .elementor-element.elementor-element-2f02cd5{margin-top:120px;margin-bottom:0px;padding:0px 25px 0px 25px;}.elementor-82 .elementor-element.elementor-element-e856a03 .aux-modern-heading-primary{font-size:31px;line-height:38px;}}@media(max-width:767px){.elementor-82 .elementor-element.elementor-element-3fe70a7{margin-top:50px;margin-bottom:0px;}}@media(min-width:768px){.elementor-82 .elementor-element.elementor-element-cb94daa{width:70%;}.elementor-82 .elementor-element.elementor-element-a36dac4{width:30%;}}@media(max-width:1024px) and (min-width:768px){.elementor-82 .elementor-element.elementor-element-cb94daa{width:100%;}.elementor-82 .elementor-element.elementor-element-a36dac4{width:100%;}}/* Start custom CSS for aux_recent_news, class: .elementor-element-002c38b */.elementor-82 .elementor-element.elementor-element-002c38b .auxnew-big-post .entry-main{
    background: #FFFFFF;
    box-shadow: 0 3px 35px rgba(0,0,0,0.08);
    padding: 58px;
    width: 80%;
    margin: 0 auto -13%;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translatey(-50%) translateX(-50%);
}

.elementor-82 .elementor-element.elementor-element-002c38b .aux-small-posts{
    display: flex;
    align-items: center;
}

.elementor-82 .elementor-element.elementor-element-002c38b .aux-small-posts .aux-thumbnail-col{
    margin: 0;   
    z-index: 1;
    width: 60%
}

.elementor-82 .elementor-element.elementor-element-002c38b .aux-small-posts .aux-entry-col{
    padding: 4% 5% 4%  16.5%;
    background: #fff;
    box-shadow: 0 3px 35px rgba(0,0,0,0.16);
    margin: 0 0 0 -14%;
    width: 100%;
}

.elementor-82 .elementor-element.elementor-element-002c38b .aux-featured-image{
    box-shadow: 0 3px 35px rgba(0,0,0,0.16);
}

.elementor-82 .elementor-element.elementor-element-002c38b .entry-badge{
    margin-bottom: 20px;
    font-family: Merriweather;
    font-size: 13px;
    line-height: 17px;
}

@media screen and (max-width: 767px) {
    .elementor-82 .elementor-element.elementor-element-002c38b .entry-badge{
        padding: 1px 12px;
        margin-bottom: 10px;
    }    
  
    .elementor-82 .elementor-element.elementor-element-002c38b .auxnew-big-post .entry-main{
        width: 100% !important;
        margin: 0;
        display: block;
        position: relative;
        left: 0;
        transform: translatey(-50px) translateX(0);
    }
    
    .elementor-82 .elementor-element.elementor-element-002c38b .aux-small-posts {
        flex-wrap: wrap;
    }
    
    .elementor-82 .elementor-element.elementor-element-002c38b .aux-small-posts > div {
        flex-basis: 100%;
    }
    
    .elementor-82 .elementor-element.elementor-element-002c38b .aux-small-posts .aux-entry-col {
        margin-left: 15px;
        margin-right: 15px;
        padding: 4% 5%;
    }
}/* End custom CSS */
/* Start custom CSS for aux_blockquote, class: .elementor-element-82adbfe */.elementor-82 .elementor-element.elementor-element-82adbfe .author-name{
    display: block;
    margin-top: 25px;
    font-family: "Merriweather", Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 39px;
    font-style: normal;
}

.elementor-82 .elementor-element.elementor-element-82adbfe .author-name:before{
    content: "";
    width: 27px;
    height: 2px;
    display: inline-block;
    background-color: #232323;
    vertical-align: middle;
    margin-right: 10px;    
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-a36dac4 */.elementor-82 .elementor-element.elementor-element-a36dac4.aux-sidebar{
    display: block;
}

@media only screen and (max-width:1200px) and (min-width:1025px){
    .elementor-82 .elementor-element.elementor-element-a36dac4 .elementor-column-wrap {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media only screen and (min-width:767px) and (max-width:1024px){
    .elementor-82 .elementor-element.elementor-element-a36dac4.aux-sidebar {
        height:auto !important;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-3fe70a7 */.elementor-82 .elementor-element.elementor-element-3fe70a7 > .elementor-container > .elementor-row {
    align-items: flex-start;
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-9ed9316 */.elementor-82 .elementor-element.elementor-element-9ed9316 .aux-modern-heading-divider:before{
    content: '';
    width: 20%;
    height: 2px;
    background: #ffffff;
    display: block;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news, class: .elementor-element-1c36df8 */.elementor-82 .elementor-element.elementor-element-1c36df8 .aux-news-side{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;    
}

.elementor-82 .elementor-element.elementor-element-1c36df8 .aux-news-side .auxnew-main-post{
    flex: 0 0 50%; 
    padding-right: 35px;
}
.elementor-82 .elementor-element.elementor-element-1c36df8 .aux-news-side .auxnew-side-posts{
    flex: 0 0 50%;  
    margin: 0;
    padding-left: 35px;
}

.elementor-82 .elementor-element.elementor-element-1c36df8 .aux-news-side .auxnew-side-posts .hentry{
    margin: 5px 0;
}

.elementor-82 .elementor-element.elementor-element-1c36df8 .entry-badge{
    display: inline-block;
    padding: 2px 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    margin-right: 25px;
    font-family: Merriweather;
    font-size: 13px;
    line-height: 17px;    
}

.elementor-82 .elementor-element.elementor-element-1c36df8 .entry-info{
    display: inline-block;
}

.elementor-82 .elementor-element.elementor-element-1c36df8 .aux-small-posts {
  display: flex;
  align-items: flex-start;
  align-content: center;
}

.elementor-82 .elementor-element.elementor-element-1c36df8 .aux-small-posts .aux-entry-col .entry-content {
  margin-bottom: 0 !important;
}

.elementor-82 .elementor-element.elementor-element-1c36df8 .widget-container .entry-meta .aux-read-more{
    color: #FFFFFF !important;
}

.elementor-82 .elementor-element.elementor-element-1c36df8 .widget-container .entry-meta .aux-read-more:before{
    background: #FFFFFF;
}

.elementor-82 .elementor-element.elementor-element-1c36df8 .aux-small-posts .entry-info, .elementor-82 .elementor-element.elementor-element-1c36df8 .aux-small-posts .entry-info a{
    font-size: 12px !important;
    color: rgba(255,255,255,0.5) !important;
}

#inner-body .elementor-82 .elementor-element.elementor-element-1c36df8 .aux-wpulike .wp_ulike_general_class .wp_ulike_put_image::before, #inner-body .elementor-82 .elementor-element.elementor-element-1c36df8 .entry-meta .auxicon-comment::before,#inner-body .elementor-82 .elementor-element.elementor-element-1c36df8 .single-post .hentry .entry-meta .aux-wpulike .wp_ulike_general_class.wp_ulike_is_liked.wp_ulike_is_loading .wp_ulike_put_image::before,
#inner-body .elementor-82 .elementor-element.elementor-element-1c36df8 .entry-meta .comments-iconic .comments-number, #inner-body .elementor-82 .elementor-element.elementor-element-1c36df8 .aux-wpulike .count-box {
  color: rgba(255, 255, 255, 0.5);
}
#inner-body .elementor-82 .elementor-element.elementor-element-1c36df8 .aux-wpulike .wp_ulike_general_class .wp_ulike_put_image.image-unlike::before,#inner-body .elementor-82 .elementor-element.elementor-element-1c36df8 .aux-wpulike .wp_ulike_general_class.wp_ulike_is_unliked.wp_ulike_is_loading .wp_ulike_put_image::before {
  color: rgba(255, 45, 131, 0.5);
}

 @media screen and (max-width: 768px) {
     .aux-widget-recent-news .aux-news-side > div {
         flex: 0 0 auto !important;
         padding: 10px !important;
    }
    
    
    .elementor-82 .elementor-element.elementor-element-1c36df8 .aux-small-posts {
        flex-wrap:wrap;
    }
    
    .elementor-82 .elementor-element.elementor-element-1c36df8 .aux-small-posts > div {
        flex-basis: 100%;
    }
}


@media screen and (max-width: 1023px) and (min-width: 768px) { 
    .elementor-82 .elementor-element.elementor-element-1c36df8 .aux-news-side {
        align-items: flex-start;
}   
    .elementor-82 .elementor-element.elementor-element-1c36df8 .aux-news-side > div {
        flex-basis: 100% !important; 
    }
    .elementor-82 .elementor-element.elementor-element-1c36df8 .auxnew-side-posts {
        padding-left: 0;
    }
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-e856a03 */.elementor-82 .elementor-element.elementor-element-e856a03 .aux-modern-heading-divider:before{
    content: '';
    width: 15%;
    height: 2px;
    background: #232323;
    display: block;
}/* End custom CSS */